@layer components {
	#skip-to-main {
		display: block;
		position: absolute;
		z-index: 9999;
		inset-block-start: -100%;
		inset-inline: var(--spacing-medium);
		background-color: var(--text-color);
		padding: var(--spacing-medium);
		color: var(--bg-color);
		text-align: center;
	}

	#skip-to-main:focus-visible { inset-block-start: var(--spacing-medium); }

	:target {
		scroll-margin: var(--spacing-large);
		scroll-snap-align: start;
	}
}
