@layer base {
	:root {
		scrollbar-gutter: stable;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		scrollbar-color: var(--theme-color) var(--surface-2);
		hanging-punctuation: first allow-end last;
		color-scheme: light dark;
		font-size: var(--base-font-size);
		line-height: calc(var(--font-lineheight-3) * var(--line-height-adjust, 1));
		font-family: var(--text-font-family);
		word-break: break-word;
		tab-size: 4;
		-webkit-tap-highlight-color: transparent;
		accent-color: var(--theme-color);
		interpolate-size: var(--interpolation);

		&:focus-within { scroll-behavior: var(--scroll-behavior); }
	}

	:where(*, *::after, *::before) {
		box-sizing: border-box;
		font-family: inherit;
	}

	html {
		inline-size: 100%;
		block-size: 100%;
	}

	body {
		margin: 0;
		inline-size: 100%;
		block-size: 100%;
		min-block-size: fit-content;
	}

	:target {
		scroll-margin: var(--size-3);
		scroll-snap-align: start;
	}

	::selection {
		background-color: var(--theme-color);
		color: var(--surface-1);
	}

	::target-text {
		background-color: var(--accent-color);
		color: var(--surface-1);
	}

	::search-text {
		background-color: var(--theme-color);
		color: var(--surface-1);
	}
}
