@layer base {
	code-wrapper pre {
		--code-bg: light-dark(var(--shiki-light-bg, var(--surface-1)), var(--shiki-dark-bg, var(--surface-1)));
		--code-color: light-dark(var(--shiki-light, var(--text-1)), var(--shiki-dark, var(--text-1)));

		--line-counter-width: 2em;
		--line-counter-margin-right: 1em;

		border: var(--border-style) var(--surface-3) var(--border-size);
		border-radius: var(--border-radius);
		background-color: var(--code-bg);
		padding: var(--size-2) var(--size-1);
		overflow: clip;
		font-size: smaller;
		font-family: var(--code-font-family);

		&:focus {
			border-color: transparent;
			outline: var(--border-size) var(--border-style) var(--theme-color);

			.line {
				opacity: 1 !important;
				filter: none !important;
			}
		}

		span {
			--code-color: light-dark(var(--shiki-light, var(--text-1)), var(--shiki-dark, var(--text-1)));
			--code-font-style: light-dark(var(--shiki-light-font-style, normal), var(--shiki-dark-font-style, normal));
			--code-font-weight: light-dark(var(--shiki-light-font-weight, normal), var(--shiki-dark-font-weight, normal));
			--code-text-decoration: light-dark(var(--shiki-light-text-decoration, none), var(--shiki-dark-text-decoration, none));

			color: var(--code-color);
			font-style: var(--code-font-style);
			font-weight: var(--code-font-weight);
			font-family: var(--code-font-family);
			text-decoration: var(--code-text-decoration);
		}

		code {
			tab-size: 2;
			counter-reset: step;
			counter-increment: step 0;
			line-height: 1.2;
			white-space: normal;
			word-break: break-word;
			overflow-wrap: break-word;
			background-color: transparent;
			padding-inline: 0;
			inline-size: 100%;

			.line::before {
				display: inline-block;
				margin-inline-end: var(--line-counter-margin-right);
				margin-inline-start: calc((var(--line-counter-width) + var(--line-counter-margin-right)) * -1);
				inline-size: var(--line-counter-width);
				content: counter(step, decimal-leading-zero);
				color: var(--surface-3);
				text-align: right;
			}

			.line:not(.diff.remove) { counter-increment: step; }

			.line {
				display: inline-block;
				padding-inline-start: calc(var(--line-counter-width) + var(--line-counter-margin-right));
				inline-size: 100%;

				&:empty { display: none; }

				&.diff {
					&.add {
						background-color: var(--diff-add-bg);

						&::before {
							content: '++';
							color: var(--diff-add-color);
						}

						@media (prefers-contrast: more) { border-color: var(--diff-add-color); }

						@media (forced-colors: active) {
							border-color: currentColor;
							color: LinkText;

							&::before, span { color: inherit; }
						}
					}

					&.remove {
						background-color: var(--diff-remove-bg);

						&::before {
							content: '--';
							color: var(--diff-remove-color);
						}

						@media (prefers-contrast: more) { border-color: var(--diff-remove-color); }

						@media (forced-colors: active) {
							border-color: currentColor;
							color: GrayText;

							&::before, span { color: inherit; }
						}
					}

					@media (prefers-contrast: more), (forced-colors: active) {
						border-style: solid;
						border-inline-width: 0;
						border-block-width: var(--border-size);
					}
				}

				&.highlighted {
					filter: contrast(0.9) brightness(1.2);
					background-color: var(--highlight-default-bg);

					&.error {
						background-color: var(--highlight-error-bg);

						@media (prefers-contrast: more) { border-color: var(--highlight-error-bg); }

						@media (forced-colors: active) {
							border-color: currentColor;
							background-color: Field;
							color: GrayText;
						}
					}
					&.warning {
						background-color: var(--highlight-warning-bg);

						@media (prefers-contrast: more) { border-color: var(--highlight-warning-bg); }

						@media (forced-colors: active) {
							border-color: LinkText;
							background-color: Canvas;
							color: LinkText;
						}
					}

					@media (prefers-contrast: more) {
						border: var(--border-size) solid var(--highlight-color);
						border-inline-width: 0;

						&:not(:is(.error, .warning)):has(+ .line.highlighted) { border-block-end-width: 0; }
						&:not(:is(.error, .warning)) + .line.highlighted:not(:is(.error, .warning)) { border-block-start-width: 0; }
					}

					@media (forced-colors: active) {
						filter: none;
						border: var(--border-size) solid currentColor;
						border-inline-width: 0;
						background-color: Highlight;
						color: HighlightText;
						forced-color-adjust: none;

						span { color: inherit; }
					}
				}

				&.focused {
					opacity: 1;
					filter: contrast(1.2) brightness(1.2);

					@media (forced-colors: active) {
						opacity: 1;
						color: CanvasText;
					}
				}

				.highlighted-word {
					filter: contrast(0.5) brightness(1.2);
					outline: var(--border-size) var(--border-style) var(--highlight-color);
					background-color: var(--highlight-default-bg);
					padding-inline: var(--size-1);

					@media (forced-colors: active) {
						filter: none;
						outline: var(--border-size) solid currentColor;
						background-color: Highlight;
						color: HighlightText;
					}
				}

				:is(.tab, .space)::before { opacity: 0.1; }
				.tab::before { content: '⇥\00A0\00A0'; }
				.space::before { content: '·'; }
			}

			&:has(.line.focused) .line:not(.focused) {
				opacity: 0.8;
				filter: contrast(0.8) brightness(0.8);

				@media (forced-colors: active) {
					opacity: 0.5;
					filter: none;
					color: LinkText;

					span {
						background-color: inherit;
						color: inherit;
					}
				}
			}
		}
	}
}
