@layer base {
	:where(form > footer) {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	:where(search form) {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	:where(fieldset) {
		border: var(--border-style) var(--border-size) var(--theme-color);
		border-radius: var(--border-radius);
		margin-block: var(--size-5);

		&:last-child { margin-block-end: 0; }

		legend {
			font-weight: bold;
			font-size: var(--font-size-3);
			text-align: center;

			& + input-wrapper { margin-block-start: 0; }
		}
	}

	:where(button, input, select, textarea) {
		font-size: inherit;
		font-family: var(--text-font-family);
	}

	:where(button, input:is([type='submit'], [type='reset'], [type='button'])), input[type='file']::file-selector-button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: var(--border-style) var(--border-size) var(--theme-color);
		border-radius: var(--radius-round);
		background: var(--surface-2);
		padding: var(--size-1) var(--size-2);
		margin: var(--size-2);
		color: var(--theme-color);
		cursor: pointer;

		&:focus-visible {
			border-color: var(--text-1);
			background-color: var(--theme-color);
			color: var(--text-1);
			outline: var(--theme-color) var(--border-style) var(--border-size);
			outline-offset: var(--size-1);
		}

		&:hover {
			outline-color: var(--accent-color);
			border-color: var(--accent-color);
			background-color: var(--surface-2);
			color: var(--accent-color);
		}

		&:active {
			outline-color: var(--text-1);
			border-color: var(--text-1);
			background-color: var(--accent-color);
			color: var(--text-1);
		}

		&:has(svg[data-icon]) { padding: var(--size-2); }

		svg[data-icon] {
			inline-size: 100%;
			block-size: 100%;
			pointer-events: none;
		}
	}

	:where(input[type='image']) {
		padding: 0;
		margin: var(--size-2);
		cursor: pointer;

		&:focus-visible {
			outline: var(--theme-color) var(--border-style) var(--border-size);
			outline-offset: var(--size-1);
		}

		&:hover { outline-color: var(--accent-color); }
		&:active { outline-color: var(--text-1); }
	}

	input[type='file']::file-selector-button { display: inline-flex; }

	input[type='file']::file-selector-button:focus-visible {
		border-color: var(--text-1);
		background-color: var(--theme-color);
		color: var(--text-1);
		outline: var(--theme-color) var(--border-style) var(--border-size);
		outline-offset: var(--size-1);
	}

	input[type='file']::file-selector-button:hover {
		outline-color: var(--accent-color);
		border-color: var(--accent-color);
		background-color: var(--surface-2);
		color: var(--accent-color);
	}

	input[type='file']::file-selector-button:active {
		outline-color: var(--text-1);
		border-color: var(--text-1);
		background-color: var(--accent-color);
		color: var(--text-1);
	}

	:where(input-wrapper) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: var(--size-2);
		margin: var(--size-4) var(--size-2);
		align-items: start;
		justify-items: start;

		&:first-child { margin-block-start: 0; }

		&:has(input:is([type='checkbox'], [type='radio'])) {
			flex-direction: row;
			align-items: center;
			margin: var(--size-3) var(--size-2);
		}

		& input-wrapper {
			margin: 0;
			flex-direction: row;
			align-items: center;
			inline-size: 100%;
		}

		input-hint {
			background-color: var(--surface-2);
			padding: var(--size-2);
			border: var(--border-size) var(--border-style) var(--surface-3);
			border-radius: var(--border-radius);
			width: 100%;
			flex-grow: 1;
		}
	}

	:where(select, textarea, input:not([type='radio'], [type='checkbox'], [type='file'], [type='submit'], [type='reset'], [type='button'], [type='image'])) {
		appearance: none;
		border: var(--border-size) solid var(--secondary-color);
		border-radius: var(--border-radius);
		background-color: var(--surface-2);
		color: var(--text-2);
		box-sizing: border-box;
		padding: var(--size-1) var(--size-2);
		margin: 0;
		inline-size: 100%;
		min-inline-size: var(--size-content-0);
		max-inline-size: var(--size-content-2);

		&::placeholder { color: color-mix(in srgb, var(--text-2), transparent 20%); }

		&:focus-visible {
			outline: var(--theme-color) var(--border-style) var(--border-size);
			outline-offset: var(--size-1);
			border-radius: var(--border-radius);
			background-color: var(--surface-1);
			color: var(--text-1);
		}

		&:hover {
			outline-color: var(--accent-color);
			border-color: var(--accent-color);
		}
	}

	@media (max-width: 30rem) {
		:where(input:is([type='date'], [type='datetime-local'], [type='month'], [type='time'], [type='week'])) { max-inline-size: calc(var(--size-content-1) - 2rem); }
	}

	:where(input[type='color']) {
		padding: 0;
		min-inline-size: 0;
		inline-size: var(--size-8);
		block-size: var(--size-7);
	}

	input[type='search']:not(:focus, :active)::-webkit-search-cancel-button { display: none; }

	:where(select) {
		&:not([multiple]) {
			padding-inline-end: var(--size-7);
			background-image: var(--select-icon);
			background-position: calc(100% - var(--size-1)) center;
			background-repeat: no-repeat;
			background-size: var(--size-4) auto;
		}

		&[multiple] { block-size: 20ch; }

		option {
			&:hover {
				color: var(--accent-color);
				font-style: italic;
				background-color: var(--surface-1);
			}

			&:checked {
				font-weight: bold;
				color: var(--text-1);
				background-color: var(--surface-2);
			}
		}
	}

	:where(input:is([type='radio'], [type='checkbox'])) {
		inline-size: var(--size-3);
		block-size: var(--size-3);
	}

	:where(input[type='range']) {
		padding: var(--size-1);

		&::-webkit-slider-thumb {
			appearance: none;
			inline-size: var(--size-3);
			block-size: var(--size-4);
			cursor: pointer;
			padding: 0;
			margin: 0;
			background: var(--theme-color);
			border-radius: var(--border-radius);
		}

		&:hover::-webkit-slider-thumb { background-color: var(--accent-color); }
		&:active::-webkit-slider-thumb { background-color: var(--secondary-color); }

		&::-moz-range-thumb {
			appearance: none;
			inline-size: var(--size-3);
			block-size: var(--size-4);
			cursor: pointer;
			background: var(--theme-color);
			border-radius: var(--border-radius);
			border: none;
		}

		&:hover::-moz-range-thumb { background-color: var(--accent-color); }
		&:active::-moz-range-thumb { background-color: var(--secondary-color); }

		&::-webkit-slider-runnable-track {
			inline-size: 100%;
			block-size: auto;
			cursor: pointer;
			background: transparent;
		}

		&::-moz-range-track {
			inline-size: 100%;
			block-size: auto;
			cursor: pointer;
			background: transparent;
		}
	}

	:where(textarea) {
		block-size: 25ch;
		resize: none;
		white-space: pre-wrap;
	}

	:where(progress) {
		appearance: none;
		border: var(--border-size) solid var(--secondary-color);
		border-radius: var(--border-radius);
		background-color: var(--surface-2);
		inline-size: 100%;
		min-inline-size: var(--size-content-0);
		max-inline-size: var(--size-content-2);
		block-size: var(--size-6);

		&::-webkit-progress-bar { background-color: var(--surface-2); }
		&::-webkit-progress-value { background-color: var(--theme-color); }
		&::-moz-progress-bar { background-color: var(--theme-color); }
	}

	/* TODO: meter element */
	/* TODO: mobile size */
}
