@layer base {
	:where(address) { font-style: italic; }

	:where(h1, h2, h3, h4, h5, h6, summary) {
		color: var(--theme-color);
		font-weight: bold;
		line-height: var(--font-lineheight-0);
		font-family: var(--headers-font-family);
	}

	:where(h1, h2, h3, h4, h5, h6) {
		margin-block: var(--size-relative-3);
		text-wrap: balance;
	}

	:where(h1) {
		margin-inline: auto;
		margin-block: 0;
		color: var(--theme-color);
		font-size: var(--font-size-7);
		text-align: center;
	}

	:where(h2) { font-size: var(--font-size-5); }
	:where(h3) { font-size: var(--font-size-4); }
	:where(h4) { font-size: var(--font-size-3); }
	:where(h5) { font-size: var(--font-size-2); }
	:where(h6) { font-size: var(--font-size-1); }

	:where(hgroup) {
		text-align: center;

		p { font-style: italic; }
	}

	/* TODO: search element */
}
