@layer components {
	radar-chart {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-template-areas: 'chart legends';
		gap: var(--size-3);
		margin: var(--size-3);

		g.circles {
			fill: none;
			stroke: var(--surface-2);
			stroke-width: var(--size-1);
		}

		g.axis {
			fill: none;
			stroke-width: var(--size-1);
			stroke: var(--surface-2);
		}

		g.points {
			--chart-text-offset: 20px;

			color: var(--text-1);

			circle {
				stroke-width: var(--size-1);
				stroke: currentColor;
				paint-order: stroke;
				fill: var(--theme-color);
			}

			text {
				fill: currentColor;
				font-size: var(--font-size-5);

				@media (max-width: 30rem) { font-size: var(--font-size-6); }
			}

			g[data-quadrant='top-left'] text {
				text-anchor: end;
				dominant-baseline: alphabetic;
				translate: calc(var(--chart-text-offset) * -1) calc(var(--chart-text-offset) * -1);
			}

			g[data-quadrant='top-right'] text {
				text-anchor: start;
				dominant-baseline: alphabetic;
				translate: var(--chart-text-offset) calc(var(--chart-text-offset) * -1);
			}

			g[data-quadrant='bottom-left'] text {
				text-anchor: end;
				dominant-baseline: hanging;
				translate: calc(var(--chart-text-offset) * -1) var(--chart-text-offset);
			}

			g[data-quadrant='bottom-right'] text {
				text-anchor: start;
				dominant-baseline: hanging;
				translate: var(--chart-text-offset) var(--chart-text-offset);
			}

			g[data-quadrant='top'] text {
				text-anchor: middle;
				dominant-baseline: alphabetic;
				translate: 0 calc(var(--chart-text-offset) * -1);
			}

			g[data-quadrant='bottom'] text {
				text-anchor: middle;
				dominant-baseline: hanging;
				translate: 0 var(--chart-text-offset);
			}

			g[data-quadrant='left'] text {
				text-anchor: end;
				dominant-baseline: middle;
				translate: calc(var(--chart-text-offset) * -1) 0;
			}

			g[data-quadrant='right'] text {
				text-anchor: start;
				dominant-baseline: middle;
				translate: var(--chart-text-offset) 0;
			}

			g[data-quadrant='center'] text {
				text-anchor: middle;
				dominant-baseline: middle;
			}
		}

		svg {
			grid-area: chart;
			overflow: visible;
			place-self: center;

			max-width: var(--size-content-2);
		}

		chart-legend {
			grid-area: legends;

			ol {
				columns: calc(var(--size-content-1) + 2rem);
				column-gap: var(--size-3);
				max-block-size: 30rem;
				overflow: auto;

				@media (max-width: 50rem) { max-block-size: max-content; }
			}
		}

		@media (max-width: 50rem) {
			grid-template-rows: repeat(2, auto);
			grid-template-columns: 1fr;
			grid-template-areas:
				'chart'
				'legends';
		}

		@media (forced-colors: active) { --surface-2: GrayText; }
	}
}
