<nav aria-labelledby="site-navigation-label" #id="site-nav">
	<sr-only id="site-navigation-label">Primary navigation</sr-only>
	<!-- TODO: add aria-current value to all items -->
	<ul>
		<li>
			<a href="/">
				<m-icon icon="uil:home-alt"></m-icon>
				Home
			</a>
		</li>
		<li>
			<a href="/blog/">
				<m-icon icon="uil:file-edit-alt"></m-icon>
				Blog
			</a>
		</li>
		<li>
			<a href="/projects/">
				<m-icon icon="uil:flask"></m-icon>
				Projects
			</a>
		</li>
		<li>
			<a href="/talks/">
				<m-icon icon="uil:presentation-check"></m-icon>
				Talks
			</a>
		</li>
		<li>
			<a href="/accessibility/">
				<m-icon icon="uil:accessible-icon-alt"></m-icon>
				Accessibility
			</a>
		</li>
		<li>
			<a href="/license/">
				<m-icon icon="uil:award-alt"></m-icon>
				License
			</a>
		</li>
		<li>
			<theme-switcher @no-shadowdom></theme-switcher>
		</li>
	</ul>
</nav>
