<button type="button" popovertarget="theme-switcher-dialog" id="test">
	<m-icon icon="uil:palette"></m-icon>
	<sr-only>Theme Switcher</sr-only>
</button>

<dialog id="theme-switcher-dialog" popover>
	<form action="#" method="get">
		<header>
			<h2>Choose a theme</h2>
		</header>
		<div id="theme-list">
			<custom-theme id="system" is-accessible>
				<label for="theme-input-system" id="theme-label-system">
					<input
						type="radio"
						name="theme"
						value="system"
						id="theme-input-system"
						required
					/>

					<svg
						viewBox="0 0 100 70"
						class="theme-preview"
						data-theme="light"
						role="presentation"
						width="100"
						height="70"
						display="none"
					>
						<g>
							<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

							<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
							<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

							<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
							<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
							<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
						</g>

						<g class="dual-theme">
							<clipPath id="theme-preview-system-mask">
								<polygon points="0,70 100,0 100,70" />
							</clipPath>
							<g data-theme="dark" clip-path="url(#theme-preview-system-mask)">
								<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

								<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
								<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

								<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
								<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
								<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
								<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
								<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
							</g>
						</g>
					</svg>

					<strong>System Default</strong>
					<small><em>The default theme for the operating system, either light or dark.</em></small>
					<small class="accessible-theme">
						<m-icon icon="uil:exclamation-triangle"></m-icon>
						<strong>Warning: Theme is not fully accessible</strong>
					</small>
				</label>
			</custom-theme>

			<custom-theme id="light" is-accessible>
				<label for="theme-input-light" id="theme-label-light">
					<input
						type="radio"
						name="theme"
						value="light"
						id="theme-input-light"
						required
					/>

					<svg
						viewBox="0 0 100 70"
						class="theme-preview"
						data-theme="light"
						role="presentation"
						width="100"
						height="70"
						display="none"
					>
						<g>
							<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

							<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
							<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

							<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
							<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
							<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
						</g>
					</svg>

					<strong>Light</strong>
					<small><em>The default light theme.</em></small>
					<small class="accessible-theme">
						<m-icon icon="uil:exclamation-triangle"></m-icon>
						<strong>Warning: Theme is not fully accessible</strong>
					</small>
				</label>
			</custom-theme>

			<custom-theme id="dark" is-accessible>
				<label for="theme-input-dark" id="theme-label-dark">
					<input
						type="radio"
						name="theme"
						value="dark"
						id="theme-input-dark"
						required
					/>

					<svg
						viewBox="0 0 100 70"
						class="theme-preview"
						data-theme="dark"
						role="presentation"
						width="100"
						height="70"
						display="none"
					>
						<g>
							<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

							<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
							<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

							<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
							<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
							<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
						</g>
					</svg>

					<strong>Dark</strong>
					<small><em>The default dark theme.</em></small>
					<small class="accessible-theme">
						<m-icon icon="uil:exclamation-triangle"></m-icon>
						<strong>Warning: Theme is not fully accessible</strong>
					</small>
				</label>
			</custom-theme>

			<custom-theme id="high-contrast" is-accessible>
				<label for="theme-input-high-contrast" id="theme-label-high-contrast">
					<input
						type="radio"
						name="theme"
						value="high-contrast"
						id="theme-input-high-contrast"
						required
					/>

					<svg
						viewBox="0 0 100 70"
						class="theme-preview"
						data-theme="high-contrast"
						role="presentation"
						width="100"
						height="70"
						display="none"
					>
						<g>
							<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

							<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
							<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

							<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
							<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
							<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
						</g>
					</svg>

					<strong>High Contrast</strong>
					<small><em>A high contrast dark and yellow theme.</em></small>
					<small class="accessible-theme">
						<m-icon icon="uil:exclamation-triangle"></m-icon>
						<strong>Warning: Theme is not fully accessible</strong>
					</small>
				</label>
			</custom-theme>

			<custom-theme id="uwu">
				<label for="theme-input-uwu" id="theme-label-uwu">
					<input
						type="radio"
						name="theme"
						value="uwu"
						id="theme-input-uwu"
						required
					/>

					<svg
						viewBox="0 0 100 70"
						class="theme-preview"
						data-theme="uwu"
						role="presentation"
						width="100"
						height="70"
						display="none"
					>
						<g>
							<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

							<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
							<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

							<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
							<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
							<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
						</g>
					</svg>

					<strong>UwU</strong>
					<small><em>A cute anime inspired theme.</em></small>
					<small class="accessible-theme">
						<m-icon icon="uil:exclamation-triangle"></m-icon>
						<strong>Warning: Theme is not fully accessible</strong>
					</small>
				</label>
			</custom-theme>

			<custom-theme id="y2k">
				<label for="theme-input-y2k" id="theme-label-y2k">
					<input
						type="radio"
						name="theme"
						value="y2k"
						id="theme-input-y2k"
						required
					/>

					<svg
						viewBox="0 0 100 70"
						class="theme-preview"
						data-theme="y2k"
						role="presentation"
						width="100"
						height="70"
						display="none"
					>
						<g>
							<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

							<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
							<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

							<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
							<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
							<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
						</g>
					</svg>

					<strong>Y2K</strong>
					<small><em>A theme inspired on the 90's internet.</em></small>
					<small class="accessible-theme">
						<m-icon icon="uil:exclamation-triangle"></m-icon>
						<strong>Warning: Theme is not fully accessible</strong>
					</small>
				</label>
			</custom-theme>

			<custom-theme id="hacker">
				<label for="theme-input-hacker" id="theme-label-hacker">
					<input
						type="radio"
						name="theme"
						value="hacker"
						id="theme-input-hacker"
						required
					/>

					<svg
						viewBox="0 0 100 70"
						class="theme-preview"
						data-theme="hacker"
						role="presentation"
						width="100"
						height="70"
						display="none"
					>
						<g>
							<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

							<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
							<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

							<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
							<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
							<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
							<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
						</g>
					</svg>

					<strong>Hacker</strong>
					<small><em>A theme inspired by old CRT monitors.</em></small>
					<small class="accessible-theme">
						<m-icon icon="uil:exclamation-triangle"></m-icon>
						<strong>Warning: Theme is not fully accessible</strong>
					</small>
				</label>
			</custom-theme>

			<!--
				<custom-theme id="cork-board">
					<label for="theme-input-cork-board" id="theme-label-cork-board">
						<input
							type="radio"
							name="theme"
							value="cork-board"
							id="theme-input-cork-board"
							required
						/>

						<svg
							viewBox="0 0 100 70"
							class="theme-preview"
							data-theme="cork-board"
							role="presentation"
							width="100"
							height="70"
							display="none"
						>
							<g>
								<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

								<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
								<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

								<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
								<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
								<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
								<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
								<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
							</g>
						</svg>

						<strong>Cork Board</strong>
						<small><em>A theme inspired in a skeumorphic corkboard.</em></small>
						<small class="accessible-theme">
							<m-icon icon="uil:exclamation-triangle"></m-icon>
							<strong>Warning: Theme is not fully accessible</strong>
						</small>
					</label>
				</custom-theme>
			-->

			<!--
				<custom-theme id="mecha">
					<label for="theme-input-mecha" id="theme-label-mecha">
						<input
							type="radio"
							name="theme"
							value="mecha"
							id="theme-input-mecha"
							required
						/>

						<svg
							viewBox="0 0 100 70"
							class="theme-preview"
							data-theme="mecha"
							role="presentation"
							width="100"
							height="70"
							display="none"
						>
							<g>
								<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

								<text class="theme-preview-text theme-preview-header-text" x="5" y="30" role="presentation">Aa</text>
								<text class="theme-preview-text theme-preview-text-text" x="5" y="60" role="presentation">Aa</text>

								<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
								<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
								<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
								<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
								<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
							</g>
						</svg>

						<strong>Mecha</strong>
						<small><em>A futuristic mechanical theme.</em></small>
						<small class="accessible-theme">
							<m-icon icon="uil:exclamation-triangle"></m-icon>
							<strong>Warning: Theme is not fully accessible</strong>
						</small>
					</label>
				</custom-theme>
			-->
		</div>

		<footer>
			<button type="submit" popovertarget="theme-switcher-dialog" popovertargetaction="hide">Apply theme</button>
		</footer>
	</form>
</dialog>

<script src="/js/components/theme-switcher.mjs" type="module" async></script>
