---
import './styles.css';
import { Icon } from 'astro-icon/components';
---
<hr id="page-top" />

<a id="scroll-to-top-link" href="#page-top">
	<Icon name="uil:top-arrow-to-top" title="" role="presentation" />
	<span>Scroll to top</span>
	<Icon name="uil:top-arrow-to-top" title="" role="presentation" />
</a>
