@layer components {
	html {
		container-name: body-scroller;
		container-type: scroll-state;
	}

	#page-top {
		margin: 0;
		border: none;
		width: 100%;
		height: 0;
	}

	#scroll-to-top-link {
		display: flex;
		position: fixed;
		justify-content: center;
		align-items: center;
		gap: var(--spacing-medium);
		translate: 0 200%;
		z-index: calc(1 * infinity);
		transition: 0.4s translate;
		margin-inline: auto;
		inset-block-end: var(--spacing-medium);
		inset-inline: var(--spacing-medium);
		border: var(--border-style) var(--highlight-border-color) var(--border-width);
		background-color: var(--bg-color);
		padding: var(--spacing-medium) var(--spacing-large);
		color: var(--theme-color);
		text-align: center;
	}

	#scroll-to-top-link:focus {
		background-color: var(--text-color);
		color: var(--bg-color);
	}

	#scroll-to-top-link:hover {
		background-color: var(--theme-color);
		color: var(--bg-color);
	}

	#scroll-to-top-link:active {
		background-color: var(--accent-color);
		color: var(--bg-color);
	}

	/* dprint-ignore */
	@container body-scroller scroll-state(scrollable: top) {
		#scroll-to-top-link {
			translate: 0 0;
		}
	}
}
