:host {
	display: block;
	margin: var(--size-3);
}

fieldset {
	border: var(--border-style) var(--border-size) var(--surface-3);
	border-radius: var(--border-radius);
	padding: var(--size-1);
}

legend {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

blockquote {
	margin: var(--size-2) auto;
	width: fit-content;
	font-style: italic;
}

aside { text-align: center; }

:where(button) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border: var(--border-style) var(--border-size) var(--theme-color);
	border-radius: var(--radius-round);
	background: var(--surface-1);
	padding: var(--size-2);
	width: fit-content;
	height: var(--size-7);
	color: var(--theme-color);
}

button:focus-visible {
	border-color: var(--text-1);
	background-color: var(--theme-color);
	color: var(--text-1);
}

button:hover {
	outline-color: var(--accent-color);
	border-color: var(--accent-color);
	background-color: var(--surface-2);
	color: var(--accent-color);
}

button:active {
	outline-color: var(--text-1);
	border-color: var(--text-1);
	background-color: var(--accent-color);
	color: var(--text-1);
}

button svg {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

:host([display='wheel']) #show-wheel { display: none; }
:host([display='list']) #show-list { display: none; }

#wheel-container {
	display: grid;
	place-items: center;
	margin: 1rem;
}

:host([display='wheel']) #list-spin { display: none; }
:host([display='list']) #wheel-spin { display: none; }

:host([display='wheel']) #wheel-container > * { grid-area: 1 / -1; }

:host([display='list']) #wheel-marker { display: none; }
:host([display='wheel']) #wheel-marker {
	align-self: start;
	z-index: 1;
	clip-path: polygon(0 0, 50% 100%, 100% 0, 50% 25%);
	margin-block-start: -0.5rem;
	border: none;
	background-image: linear-gradient(
		to right,
		dimgray 50%,
		silver 50%
	);
	width: 2.5rem;
	height: 2.5rem;
}

:host([display='wheel']) #items-list {
	display: block;
	position: relative;
	place-items: center;
	clip-path: inset(0 0 0 0 round 50%);
	padding: 0;
	aspect-ratio: 1 / 1;
	width: clamp(10rem, 50vmin, 25rem);
}

:host([display='wheel']) li {
	display: flex;
	position: absolute;
	justify-content: start;
	align-items: center;
	rotate: calc(360deg / var(--items) * calc(var(--index) - 1));
	mask: conic-gradient(
		from calc(0.75turn - 0.5turn / var(--items)),
		black calc(1turn / var(--items)),
		transparent calc(1turn / var(--items))
	);
	box-sizing: border-box;
	inset: 0;
	background: var(--surface-1);
	color: var(--text-1);
	list-style: none;
}

.item-wrapper {
	display: block;
	padding-inline: var(--size-3);
	text-align: start;
}

#items-list:has(li:nth-child(1)) { --items: 1; }
#items-list:has(li:nth-child(2)) { --items: 2; }
#items-list:has(li:nth-child(3)) { --items: 3; }
#items-list:has(li:nth-child(4)) { --items: 4; }
#items-list:has(li:nth-child(5)) { --items: 5; }
#items-list:has(li:nth-child(6)) { --items: 6; }
#items-list:has(li:nth-child(7)) { --items: 7; }
#items-list:has(li:nth-child(8)) { --items: 8; }
#items-list:has(li:nth-child(9)) { --items: 9; }
#items-list:has(li:nth-child(10)) { --items: 10; }
#items-list:has(li:nth-child(11)) { --items: 11; }
#items-list:has(li:nth-child(12)) { --items: 12; }

li:nth-child(1) {
	--index: 1;
	--surface-1: light-dark(blueviolet, blueviolet);
	--text-color: black;
}

li:nth-child(2) {
	--index: 2;
	--surface-1: light-dark(darkgreen, greenyellow);
	--text-color: black;
}

li:nth-child(3) {
	--index: 3;
	--surface-1: light-dark(coral, coral);
	--text-color: black;
}

li:nth-child(4) {
	--index: 4;
	--surface-1: light-dark(steelblue, turquoise);
	--text-color: black;
}

li:nth-child(5) {
	--index: 5;
	--surface-1: light-dark(maroon, darkorange);
	--text-color: black;
}

li:nth-child(6) {
	--index: 6;
	--surface-1: light-dark(seagreen, lightseagreen);
	--text-color: black;
}

li:nth-child(7) {
	--index: 7;
	--surface-1: light-dark(deeppink, deeppink);
	--text-color: black;
}

li:nth-child(8) {
	--index: 8;
	--surface-1: light-dark(darkgoldenrod, goldenrod);
	--text-color: black;
}

li:nth-child(9) {
	--index: 9;
	--surface-1: light-dark(dodgerblue, dodgerblue);
	--text-color: black;
}

li:nth-child(10) {
	--index: 10;
	--surface-1: light-dark(olivedrab, yellowgreen);
	--text-color: black;
}

li:nth-child(11) {
	--index: 11;
	--surface-1: light-dark(navy, cornflowerblue);
	--text-color: black;
}

li:nth-child(12) {
	--index: 12;
	--surface-1: light-dark(firebrick, firebrick);
	--text-color: black;
}

@media (max-width: 40rem) { #wheel-container { margin: var(--size-1); } }
@media (max-width: 25rem) {
	:host { margin-inline: var(--size-1); }
	legend { font-size: 1.4em; }
	.item-wrapper {
		padding-inline-start: var(--size-2);
		font-size: smaller;
	}
}
