---
import styles from './styles.css?url';

interface Props {
	items: string[];
}

const { items } = Astro.props;
---
<wheel-of-fortune>
	<template shadowrootmode="open">
		<link rel="stylesheet" href={styles} />
		<fieldset>
			<legend>The Wheel of Fork-tune</legend>

			<header>
				<blockquote>Don't know what to eat? Spin and find out!</blockquote>

				<aside>
					<button type="button" id="show-list">Show list</button>
					<button type="button" id="show-wheel">Show wheel</button>
				</aside>
			</header>

			<div id="wheel-container">
				<ol id="items-list"></ol>
				<hr id="wheel-marker" />
				<button type="button" id="wheel-spin">Spin the wheel</button>
				<button type="button" id="list-spin">Select from list</button>
			</div>
		</fieldset>

		<dialog>
			<h2>Results are in!</h2>
			<form method="dialog">
				<button>Close</button>
			</form>
		</dialog>

		<div hidden>
			<slot is:inline></slot>
		</div>
	</template>

	{items.map((item) => <span>{item}</span>)}
</wheel-of-fortune>
