<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<head>
		<link
			rel="import"
			href="components/html-head.html"
			@data="metadata"
		/>
		<link rel="stylesheet" href="/css/pages/internal-page.css" />
	</head>
	<body>
		<css-naked-day hidden></css-naked-day>

		<header>
			<a id="skip-to-main" href="#contents">Skip to main content</a>
			<site-nav @no-shadowdom></site-nav>

			<page-header>
				<m-logo
					@no-shadowdom
					subtitle=""
					short-subtitle=""
					url="/"
					title="Home Page"
				></m-logo>

				<h1></h1>
			</page-header>
		</header>

		<main id="main">
			<div id="contents"></div>
		</main>

		<footer id="page-footer">
			<old-style-buttons @no-shadowdom></old-style-buttons>
			<m-webrings @no-shadowdom></m-webrings>
		</footer>

		<iab-escape></iab-escape>
		<svg-effects @no-shadowdom></svg-effects>
	</body>
</html>
