---
import Logo from '../components/Logo/Logo.astro';
import { GLOBALS } from '../constants.js';
import InternalPageLayout from '../layouts/InternalPage.astro';
---

<InternalPageLayout
	htmlTitle={['Accessibility Statement', ...GLOBALS.title]}
	title="Accessibility Statement"
	description="Accesibility Statement for Marco Campos website."
	url="/accessibility/"
	tags={['accessibility', 'a11y', ...GLOBALS.tags]}
>
	<Logo
		subtitle="Accessibility"
		shortSubtitle="A11y"
		url="/accessibility/"
		urlTitle="Accessibility Page"
		slot="logo"
	/>
	<Fragment slot="header">Accessibility Statement</Fragment>

	<p>
		This site is made for people. As such I try my best to be at least AA compliant with the <a href="https://www.w3.org/WAI/standards-guidelines/wcag/"
		>Web Content Accessibility Guidelines (WCAG)</a> and make the web more accessible and inclusive.
	</p>

	<p>That said, I'm not perfect and I'm always learning and improving the website.</p>
	<p>I run automated testing and manual testing for accessibility issues regularly using the following tools:</p>
	<ul>
		<li><a href="https://wave.webaim.org/">WAVE</a> for automated testing</li>
		<li>
			<a href="https://www.microsoft.com/en-us/edge/">Edge</a> on <a href="https://www.microsoft.com/en-us/windows/windows-11">Windows 11</a> and <a
				href="https://www.nvaccess.org/about-nvda/"
			>NVDA</a>
		</li>
		<li>
			<a href="https://play.google.com/store/apps/details?id=com.microsoft.emmx">Edge</a> on <a href="https://www.android.com/">Android</a> and <a
				href="https://play.google.com/store/apps/details?id=com.google.android.marvin.talkback"
			>TalkBack</a>
		</li>
		<li>Edge on Windows 11 and Android with 200% zoom</li>
	</ul>

	<p>If you have any issues with the site, please feel free to contact me at <em><a href="mailto:me@madcampos.dev">me@madcampos.dev</a></em>.</p>

	<p>If you have the technical knowledge and would like to, feel free to open an issue <a href="https://github.com/madcampos/madcampos/issues/new">on GitHub</a>.</p>
</InternalPageLayout>
