<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/ProfilePage">
	<head>
		<link
			rel="import"
			href="components/html-head.html"
			url="{{url}}"
			title="Marco Campos — Senior Web Developer"
			description="Tech Stack: Vue.js, Node.js, TypeScript, JavaScript"
		/>

		<!-- Page CSS -->
		<link rel="stylesheet" href="/css/pages/home.css" />
	</head>
	<body>
		<css-naked-day hidden></css-naked-day>

		<main>
			<div class="h-card vcard">
				<h1>
					<m-logo @no-shadowdom subtitle="" short-subtitle="" url="/" title="Home Page"></m-logo>
				</h1>
				<article id="about" itemprop="mainEntity" itemtype="https://schema.org/Person" itemscope>
					<aside>
						<m-avatar itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
							<!-- TODO: generate sources for images -->
							<!-- Sizes: 128, 256, 512, 768, 1024 -->
							<img
								class="u-photo photo"
								itemprop="contentUrl"
								src="/assets/images/me.jpg"
								alt="A picture of my face with a smile looking at the camera. I'm wearing aviator glasses, a fake fur winter hat and an orange scarf."
								loading="eager"
								decoding="async"
								srcset=""
								width="128"
								height="128"
								sizes="(max-width: 360px) 128px, (max-width: 720px) 256px, (max-width: 1280px) 512px, (max-width: 2160px) 768px 1024px"
							/>
						</m-avatar>
					</aside>
					<div>
						<div class="p-note note" itemprop="description">
							<p>
								Hi there! My name is <em class="p-name fn n" itemprop="name"><span class="p-given-name given-name" itemprop="givenName">Marco</span>
									<span class="p-family-name family-name" itemprop="familyName">Campos</span></em>. I go by <em>@</em>
								<em class="p-nickname nickname" itemprop="alternateName">madcampos</em> on most social networks and my pronouns are he/him!
								<br />
								I'm a <span class="p-category category p-job-title" itemprop="jobTitle">Senior Web Developer</span> based in <span
									class="p-adr adr"
									itemprop="address"
									itemscope
									itemtype="https://schema.org/PostalAddress"
								><span class="p-locality locality" itemprop="addressLocality">Toronto</span>, <span class="p-country-name country-name" itemprop="addressCountry"
									>Canada</span></span>.
							</p>

							<p>I have experience with both frontend and backend development, with focus on responsive and accessible design, typescript and node.js.</p>
						</div>

						<p>You can find my projects, personal work, blog and some social networks on the links below:</p>
						<nav>
							<ul>
								<li>
									<a href="/blog/">
										<m-icon icon="uil:file-edit"></m-icon>
										My Blog
									</a>
								</li>
								<li>
									<a href="/projects/">
										<m-icon icon="uil:flask"></m-icon>
										Project Highlights
									</a>
								</li>
								<li>
									<a href="/talks/">
										<m-icon icon="uil:presentation-check"></m-icon>
										Talks I've given
									</a>
								</li>
								<li>
									<a href="https://github.com/madcampos" rel="noreferrer noopener me authn" referrerpolicy="no-referrer" itemprop="sameAs">
										<m-icon icon="uil:github-alt"></m-icon>
										GitHub
									</a>
								</li>
								<li>
									<a href="https://codepen.io/madcampos" rel="noreferrer noopener me" referrerpolicy="no-referrer" itemprop="sameAs">
										<m-icon icon="brandico:codepen"></m-icon>
										CodePen
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/in/madcampos/" rel="noreferrer noopener" referrerpolicy="no-referrer" itemprop="sameAs">
										<m-icon icon="uil:linkedin-alt"></m-icon>
										LinkedIn
									</a>
								</li>
								<li>
									<a href="mailto:me@madcampos.dev" rel="me">
										<m-icon icon="uil:envelope"></m-icon>
										<span class="u-email email" itemprop="email">me@madcampos.dev</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</article>
			</div>
		</main>

		<footer id="page-footer">
			<old-style-buttons @no-shadowdom></old-style-buttons>
			<m-webrings @no-shadowdom></m-webrings>
			<theme-switcher @no-shadowdom></theme-switcher>
		</footer>

		<iab-escape></iab-escape>
		<svg-effects @no-shadowdom></svg-effects>
	</body>
</html>
