button {
	#button-base { fill: #ffd479; }

	text {
		font-weight: bold;
		font-size: 7px;
		text-anchor: start;
	}

	&:hover #button-base { fill: goldenrod; }
	&:active #button-base { fill: darkgoldenrod; }

	@media (prefers-contrast: more), (forced-colors: active) {
		text { fill: var(--text-1); }

		#icon-w3c {
			& > path:first-child { fill: var(--surface-1); }
			g path { fill: var(--text-1); }
		}

		#button-base { fill: var(--surface-1); }
		&:hover #button-base { fill: var(--surface-2); }

		&:active {
			#button-base { fill: var(--text-1); }
			text { fill: var(--surface-2); }
		}
	}
}
