button {
	#button-text-path {
		stroke: deeppink;
		stroke-dasharray: 0 6 28 100;
	}

	.emphasis-text {
		fill: deeppink;
		font-size: 11px;
	}

	#button-astro-icon-square { fill: url(#netscape-gradient); }

	@media (prefers-contrast: more), (forced-colors: active) {
		#button-text-path { stroke: var(--theme-color); }
		.emphasis-text { fill: var(--theme-color); }
		#netscape-gradient stop { stop-color: var(--theme-color); }
		#astro-icon-fire stop { stop-color: var(--text-1); }
		#astro-icon path:last-child { fill: var(--surface-2); }

		circle {
			fill: var(--surface-1);
			stroke: var(--text-1);
		}
	}
}
