button {
	text {
		font-weight: bold;
		font-size: 7px;

		tspan:nth-child(2) {
			fill: darkorchid;
			font-size: 12px;
			font-family: var(--button-font-oldstyle);
		}
	}

	#button-base { fill: whitesmoke; }

	&:hover {
		#button-base { fill: darkorchid; }

		text {
			fill: pink;
			tspan:nth-child(2) { fill: white; }
		}
	}

	&:active {
		#button-base { fill: dimgray; }

		text {
			fill: white;
			tspan:nth-child(2) { fill: hotpink; }
		}
	}

	@media (prefers-contrast: more), (forced-colors: active) {
		:is(text, text tspan:nth-child(2)) { fill: var(--surface-1); }
		#button-base { fill: var(--text-1); }

		&:hover {
			#button-base { fill: var(--surface-1); }
			:is(text, text tspan:nth-child(2)) { fill: var(--text-1); }
		}

		&:active {
			#button-base { fill: var(--surface-2); }
			:is(text, text tspan:nth-child(2)) { fill: var(--theme-color); }
		}
	}
}
