button #button-base { fill: dodgerblue; }
button #button-vscode-bg { fill: mediumblue; }
button text {
	dominant-baseline: hanging;
	fill: white;
	font-family: var(--button-font-ui);
	text-anchor: start;
}

button:hover #button-base { fill: mediumblue; }
button:hover #button-vscode-bg { fill: dodgerblue; }

button:active #button-base { fill: royalblue; }
button:active #button-vscode-bg { fill: royalblue; }

@media (prefers-contrast: more), (forced-colors: active) {
	button #button-base { fill: var(--surface-1); }
	button #button-vscode-bg { fill: var(--surface-2); }
	button text { fill: var(--text-1); }

	button:hover #button-base { fill: var(--surface-2); }
	button:hover #button-vscode-bg { fill: var(--surface-1); }

	button:active #button-base { fill: var(--surface-2); }
	button:active #button-vscode-bg { fill: var(--surface-2); }
}
