button {
	#button-base { fill: dodgerblue; }
	#button-vscode-bg { fill: mediumblue; }
	text {
		dominant-baseline: hanging;
		fill: white;
		font-family: var(--button-font-ui);
		text-anchor: start;
	}

	&:hover {
		#button-base { fill: mediumblue; }
		#button-vscode-bg { fill: dodgerblue; }
	}

	&:active {
		#button-base { fill: royalblue; }
		#button-vscode-bg { fill: royalblue; }
	}

	@media (prefers-contrast: more), (forced-colors: active) {
		#button-base { fill: var(--surface-1); }
		#button-vscode-bg { fill: var(--surface-2); }
		text { fill: var(--text-1); }

		&:hover {
			#button-base { fill: var(--surface-2); }
			#button-vscode-bg { fill: var(--surface-1); }
		}

		&:active {
			#button-base { fill: var(--surface-2); }
			#button-vscode-bg { fill: var(--surface-2); }
		}
	}
}
