button {
	#button-base { fill: url('#button-feed-gradient'); }

	text {
		fill: white;
		font-weight: bold;
	}

	#button-text-path { stroke: maroon; }
	.button-badge-bg { fill: maroon; }

	.emphasis-text {
		fill: maroon;
		stroke: none;
	}

	&:hover #button-feed-gradient {
		stop:nth-child(1) { stop-color: orangered; }
		stop:nth-child(2) { stop-color: orange; }
	}

	button:active #button-feed-gradient {
		stop:nth-child(1) { stop-color: firebrick; }
		stop:nth-child(2) { stop-color: orange; }
	}

	@media (prefers-contrast: more), (forced-colors: active) {
		#button-base { fill: var(--surface-1); }
		text { fill: var(--theme-color); }

		#button-text-path { stroke: var(--text-1); }
		.button-badge-bg { fill: var(--text-1); }
		.button-badge-text { fill: var(--surface-2); }
		.emphasis-text { fill: var(--text-1); }

		#rss-icon path {
			fill: var(--theme-color);

			&:last-child { fill: var(--surface-1); }
		}
	}
}
