button {
	--rainbow-color: lime;

	animation: 3s steps(6) infinite;
	animation-name: var(--button-animation-rainbow);

	#button-base { fill: url(#graphic-design-gradient); }

	text {
		fill: var(--rainbow-color);
		font-family: var(--button-font-papyrus);
	}

	@media (prefers-contrast: more), (forced-colors: active) {
		#button-base { fill: var(--accent-color); }
		text { fill: var(--surface-2); }
	}

	@media (forced-colors: active) { use { filter: grayscale(1); } }
}
