button {
	--rainbow-color: lime;
	animation: 3s steps(6) infinite;
}
button #button-base { fill: url(#graphic-design-gradient); }
button text {
	fill: var(--rainbow-color);
	font-family: var(--button-font-papyrus);
}

@media not (prefers-reduced-motion) { button { animation-name: rainbow; } }

@media (prefers-contrast: more), (forced-colors: active) {
	button { animation-name: none; }
	button #button-base { fill: var(--accent-color); }
	button text { fill: var(--surface-2); }
}
