button {
	animation: 3s ease-in-out infinite;
	animation-name: var(--button-animation-swing);

	text {
		fill: black;
		font-weight: bold;
		font-size: 9px;
	}

	.emphasis-text {
		fill: dodgerblue;
		transform: rotate(var(--rotate));
		transform-origin: 50% 50%;
		font-size: 10px;
	}

	svg { fill: dodgerblue; }

	&:hover {
		.emphasis-text { fill: orangered; }
		svg { fill: orangered; }
	}

	&:active {
		.emphasis-text { fill: magenta; }
		svg { fill: magenta; }
	}

	@media (prefers-contrast: more), (forced-colors: active) {
		text { fill: var(--text-1); }
		.emphasis-text { fill: var(--theme-color); }
		svg { fill: var(--theme-color); }

		&:is(:hover, :active) {
			.emphasis-text { fill: var(--accent-color); }
			svg { fill: var(--accent-color); }
		}
	}
}
