button {
	#button-text-path { stroke: red; }
	.emphasis-text { fill: red; }
	.button-badge-bg { fill: red; }

	&:hover {
		#button-text-path { stroke: green; }
		.emphasis-text { fill: green; }
		.button-badge-bg { fill: green; }
	}

	&:active {
		#button-text-path { stroke: blue; }
		.emphasis-text { fill: blue; }
		.button-badge-bg { fill: blue; }
	}

	@media (prefers-contrast: more), (forced-colors: active) {
		#ie-logo { fill: var(--theme-color); }
		#button-text-path { stroke: var(--theme-color); }
		.emphasis-text { fill: var(--theme-color); }
		.button-badge-bg { fill: var(--theme-color); }

		&:hover {
			#button-text-path { stroke: var(--text-1); }
			.emphasis-text { fill: var(--text-1); }
			.button-badge-bg { fill: var(--text-1); }
		}

		&:active {
			#button-text-path { stroke: var(--accent-color); }
			.emphasis-text { fill: var(--accent-color); }
			.button-badge-bg { fill: var(--accent-color); }
		}
	}
}
