@keyframes js {
	from { --opacity: 1; }
	to { --opacity: 0; }
}

button {
	animation: 3s steps(2) infinite;
	animation-name: var(--button-animation-js);

	#button-base { fill: tan; }

	text {
		font-weight: bold;
		font-size: 6px;
		font-family: var(--button-font-didone);
	}

	tspan:nth-child(1) {
		fill: brown;
		font-size: 10px;
		font-family: var(--button-font-slab);
	}

	#button-warning-icon { opacity: var(--opacity); }

	&:hover #button-base { fill: peru; }

	&:active {
		#button-base { fill: maroon; }
		text { fill: tan; }
		tspan:nth-child(1) { fill: white; }
	}

	@media (prefers-contrast: more), (forced-colors: active) {
		#button-base { fill: var(--theme-color); }
		text { fill: var(--surface-2); }
		tspan:nth-child(1) { fill: var(--surface-1); }

		#button-warning-icon {
			& > path:nth-child(1) { fill: var(--text-1); }
			& > path:nth-child(2) { fill: var(--accent-color); }
			& > g { stroke: var(--surface-2); }
		}

		&:hover #button-base { fill: var(--accent-color); }

		&:active {
			#button-base { fill: var(--text-1); }
			:is(text, tspan:nth-child(1)) { fill: var(--surface-1); }
		}
	}
}
