button {
	#button-base { fill: white; }
	text {
		font-weight: bold;
		font-size: 8.5px;
		text-anchor: end;
	}

	#icon-php text:nth-of-type(2) {
		dominant-baseline: middle;
		paint-order: stroke;
		font-style: italic;
		font-weight: bold;
		font-size: 18px;
		font-family: 'Arial', 'Helvetica', sans-serif;
		stroke: white;
		text-anchor: middle;
	}

	&:hover {
		#button-base { fill: dimgray; }
		text { fill: white; }
		#icon-php text:nth-of-type(2) { stroke: black; }
	}

	&:active {
		#button-base { fill: black; }
		text { fill: white; }
		#icon-php text:nth-of-type(2) { stroke: black; }
	}

	@media (prefers-contrast: more), (forced-colors: active) {
		#button-base { fill: var(--surface-1); }

		#icon-php {
			path { fill: var(--theme-color); }

			text:nth-of-type(2) {
				fill: var(--surface-1);
				stroke: var(--surface-1);
			}
		}

		&:hover #button-base { fill: var(--surface-1); }
	}
}
