button {
	--rainbow-color: deeppink;
	--rainbow-text-color: white;
	animation: 6s steps(6) infinite;
}

button text { font-weight: bold; }

button #button-text-path {
	stroke: var(--rainbow-color);
	stroke-dasharray: 0 6 28 100;
}

button .button-badge-bg { fill: var(--rainbow-color); }
button .button-badge-text { fill: var(--rainbow-text-color); }
button .emphasis-text { fill: var(--rainbow-color); }

@media not (prefers-reduced-motion) { button { animation-name: rainbow; } }

@media (prefers-contrast: more) { button { animation-name: none; } }

@media (forced-colors: active) { button { animation-name: none; } }
