@layer components {
	custom-theme {
		width: calc(50% - 1.5rem);
		max-width: var(--avatar-size);
		height: fit-content;

		&[is-accessible] .accessible-theme { display: none; }
		.theme-preview { display: block; }

		.theme-preview-border {
			paint-order: stroke;
			stroke: var(--border-color);
			stroke-width: 2px;
		}

		.theme-preview-bg { fill: var(--bg-color); }
		.theme-preview-dark-bg { fill: var(--dark-bg-color); }
		.theme-preview-theme-color { fill: var(--theme-color); }
		.theme-preview-accent-color { fill: var(--accent-color); }
		.theme-preview-secondary-color { fill: var(--secondary-color); }
		.theme-preview-complementary-color { fill: var(--complementary-color); }
		.theme-preview-text-text { font-family: var(--text-font-family); }
		.theme-preview-header-text { font-family: var(--headers-font-family); }
		.theme-preview-text {
			fill: var(--text-color);
			font-size: 28px;
		}

		label {
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			margin: var(--spacing-medium);
			border: transparent var(--border-width) var(--border-style);
			padding: var(--spacing-medium);
			width: 100%;
			height: 100%;
			text-align: center;

			&:is(:hover, :focus-within) {
				border-color: var(--accent-color);
				background-color: var(--text-color);
				color: var(--bg-color);
			}

			&:has(input[type='radio']:checked) {
				border-color: var(--theme-color);
				background-color: var(--bg-color);
				color: var(--theme-color);
			}

			svg {
				width: 100%;
				height: auto;
			}

			small {
				display: block;
				font-size: 0.7em;

				svg { width: 1em; }
			}

			input[type='radio'] {
				position: absolute;
				opacity: 0;
				width: 100%;
				height: 100%;
			}

			@container theme-switcher (max-width: 25rem) { width: 100%; }
		}
	}
}
