@layer pages {
	body {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
		background: var(--surface-1);
		color: var(--text-1);
	}

	main {
		flex-grow: 1;
		width: 100%;
		max-width: var(--size-content-4);
		margin-inline: auto;
		padding-inline: clamp(var(--size-3), 10vw, var(--size-10));
	}

	#page-footer {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: stretch;
		gap: var(--size-2);
		margin-inline: auto;
		padding: var(--size-3);
		width: clamp(var(--size-content-1), 80vw, var(--size-content-4));
	}
}
