@import url('../components/baseline.css');
@import url('../components/inline-share.css');
@import url('../components/post-header.css');
@import url('../components/related-posts.css');
@import url('../components/scroll-to-top.css');
@import url('../components/share-options.css');

@layer pages {
	#post-license {
		margin-block-start: var(--size-3);
		border-radius: var(--border-radius);
		background: var(--surface-2);
		padding: var(--size-3);
		font-size: var(--font-size-0);

		& > *:nth-child(n+2) { margin-block-start: var(--size-3); }
	}
}
