@layer pages {
	details { margin-block: var(--size-3); }

	summary header {
		display: inline-flex;
		flex-direction: column;
		gap: var(--size-2);
	}

	summary h2 { margin: 0; }
	summary p { margin: 0; }

	.changelog-draft-tag {
		display: inline-block;
		margin: var(--size-1);
		border-radius: var(--border-radius);
		background-color: var(--accent-color);
		padding: var(--size-1) var(--size-2);
		color: var(--surface-1);
		text-transform: uppercase;
	}
}
