@layer pages {
	html { background-color: var(--surface-1); }
	body {
		background-attachment: fixed;
		background-image: linear-gradient(to bottom, var(--surface-2), var(--surface-1));
		background-repeat: no-repeat;
	}

	main {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: var(--size-3);
		margin-inline: auto;
		inline-size: clamp(var(--size-content-1), 80vw, var(--size-content-4));

		picture {
			inline-size: clamp(var(--size-content-1), 30vw, var(--size-content-2));
			block-size: clamp(var(--size-content-1), 30vw, var(--size-content-2));
		}

		ul { padding: 0; }

		li {
			display: block;
			margin: var(--size-2);
		}

		@media (max-width: 50rem) {
			flex-direction: column;
			align-items: center;

			picture {
				inline-size: clamp(var(--size-content-1), 60vw, var(--size-content-2));
				block-size: clamp(var(--size-content-1), 60vw, var(--size-content-2));
			}
		}
	}
}
