/* TODO: review */
@layer pages {
	.card .card-subtitle {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--size-2);
	}

	.card .project-status {
		padding: var(--size-1) var(--size-2);
		color: var(--surface-2);
	}

	.card .project-status[data-status='finished'] { background-color: limegreen; }
	.card .project-status[data-status='ongoing'] { background-color: orange; }

	.card picture {
		display: block;
		mask: url('../../images/squircle.svg');
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
		aspect-ratio: 1 / 1;
		width: 100%;
		height: auto;
		max-height: 100%;
		overflow: hidden;
	}

	.card picture img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: top center;
	}

	.card .technology-tags {
		display: flex;
		flex-wrap: wrap;
		gap: var(--size-3);
		margin: var(--size-3) 0;
		padding: 0;
		list-style-type: '';
	}

	.card .tag {
		display: inline-block;
		margin: 0;
		background-color: var(--tag-bg);
		padding: var(--size-1) var(--size-2);
		color: var(--tag-color);
		font-size: var(--font-size-0);
		list-style-type: '';
	}
}
