@layer pages {
	m-card {
		header draft-tag {
			font-weight: 600;

			&[data-status='finished'] { background-color: limegreen; }
			&[data-status='ongoing'] { background-color: orange; }

			@media (prefers-contrast: more) {
				&[data-status='finished'] { background-color: var(--theme-color); }
				&[data-status='ongoing'] { background-color: var(--secondary-color); }
			}

			@media (forced-colors: active) { background-color: transparent; }
		}

		picture {
			mask: url('../../images/squircle.svg');
			mask-position: center;
			mask-size: contain;
			mask-repeat: no-repeat;
			aspect-ratio: 1 / 1;
		}
	}
}
