@layer pages {
	m-card {
		header aside draft-tag {
			font-weight: 600;

			&[data-status='finished'] { background-color: limegreen; }
			&[data-status='ongoing'] { background-color: orange; }
		}

		picture {
			mask: url('../../images/squircle.svg');
			mask-position: center;
			mask-size: contain;
			mask-repeat: no-repeat;
			aspect-ratio: 1 / 1;
		}
	}
}
