@layer page {
	:is(dt, li:has(entry-title)) {
		display: grid;
		grid-template-columns: 1fr var(--size-7) auto;
		grid-template-rows: repeat(2, auto);
		grid-template-areas:
			'title . date'
			'subtitle . location';
		justify-content: space-between;
		align-items: start;
		color: var(--secondary-color);
		margin-block-start: var(--size-7);
		text-decoration: none;

		&:has(svg[data-icon]) {
			grid-template-columns: auto var(--size-1) 1fr var(--size-7) auto;
			grid-template-areas:
				'icon . title . date'
				'icon . subtitle . location';
		}

		svg[data-icon] {
			grid-area: icon;
			align-self: center;
			justify-self: center;
			inline-size: var(--size-6);
			block-size: auto;
			color: var(--theme-color);
		}

		entry-title {
			grid-area: title;
			font-family: var(--headers-font-family);
			font-size: var(--font-size-3);
			color: var(--accent-color);
			font-weight: bold;

			cite { color: currentColor; }
		}

		entry-subtitle {
			grid-area: subtitle;
			font-family: var(--headers-font-family);
			font-size: var(--font-size-1);
			font-style: italic;
			color: var(--theme-color);

			small {
				font-size: 1em;

				&::before { content: '('; }
				&::after { content: ')'; }
			}
		}

		entry-date {
			grid-area: date;
			text-align: end;
		}

		entry-location {
			grid-area: location;
			text-align: end;

			address { font-style: normal; }
		}

		@media (max-width: 50rem) {
			grid-template-columns: auto;
			grid-template-rows: repeat(2, auto) var(--size-3) repeat(2, auto);
			grid-template-areas:
				'title'
				'subtitle'
				'.'
				'date'
				'location';
			justify-content: start;

			&:has(svg[data-icon]) {
				grid-template-columns: var(--size-3) var(--size-2) auto;
				grid-template-rows: repeat(2, auto) var(--size-3) repeat(2, auto);
				grid-template-areas:
					'icon . title'
					'subtitle subtitle subtitle'
					'. . .'
					'date date date'
					'location location location';
			}

			:is(entry-date, entry-location) { text-align: start; }
		}
	}

	div:has(entry-title):first-child dt, li:has(entry-title):first-child { margin-block-start: 0; }

	dd {
		margin-inline-start: 0;

		ul { margin-block: var(--size-3); }
		h3 { font-size: var(--font-size-3); }
		dl {
			padding-inline-start: var(--size-3);

			dt {
				display: flex;

				@media (max-width: 50rem) { flex-direction: column; }
			}
		}
	}

	/* Hide older experiences from printed resume */
	[data-old-entry] { @media print { display: none; } }

	header details {
		ul {
			display: flex;
			list-style: none;
			padding-inline-start: 0;
			gap: var(--size-7);
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	hgroup {
		font-size: var(--font-size-4);
		font-family: var(--code-font-family);

		h1 { font-size: var(--font-size-6); }

		p {
			padding-inline: var(--size-2);
			margin-block: 0 var(--size-3);
		}
	}

	blockquote {
		font-style: normal;
		max-width: var(--size-content-3);

		@media print {
			padding-inline: 0;
			margin: 0;
		}
	}

	a::after { @media print { content: none; } }

	main { @media print { padding-inline: var(--size-4); } }

	#links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: var(--size-3);
		list-style: none;
		padding-inline: var(--size-4);

		@media (max-width: 40rem) { flex-direction: column; }

		@media print {
			display: block;
			columns: 3;
			column-gap: var(--size-3);
			inline-size: fit-content;
			margin-inline: auto;
		}
	}

	#skill-list {
		columns: var(--size-content-1) auto;
		list-style-position: inside;
		padding-inline-start: 0;
	}

	#awards { ul { padding-inline-start: 0; } }

	:is(#awards, #projects, #interests, header details) { @media print { display: none; } }

	#experience {
		@media print {
			dt { break-after: avoid; }

			dd { break-before: avoid; }
		}
	}
}
