@import url('../components/baseline.css');
@import url('../components/img-lightbox.css');
@import url('../components/post-header.css');
@import url('../components/related-posts.css');
@import url('../components/scroll-to-top.css');
@import url('../components/share-options.css');

@layer pages { section > h3:first-child { color: var(--accent-color); } }
