@import url('../components/baseline.css');
@import url('../components/img-lightbox.css');
@import url('../components/post-header.css');
@import url('../components/related-posts.css');
@import url('../components/scroll-to-top.css');
@import url('../components/share-options.css');

@layer pages {
	section > h3:first-child { color: var(--accent-color); }
	form figure output {
		inline-size: 100%;
		block-size: 100%;
		display: block;
		overflow: auto;
		min-inline-size: var(--size-content-0);
		min-block-size: var(--size-content-0);
		max-block-size: var(--size-content-2);
		max-inline-size: var(--size-content-2);

		ul {
			display: flex;
			list-style: none;
			padding: 0;
			gap: var(--size-2);
			flex-wrap: wrap;
		}

		:is(img, video) {
			inline-size: var(--size-10);
			block-size: var(--size-10);
		}

		& > :is(img, video):only-child {
			inline-size: var(--size-12);
			block-size: var(--size-12);
		}
	}
}
