@layer pages {
	#tag-list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--size-3);
		margin: 0;
		margin-block: var(--size-3);
		padding: 0;
		list-style-type: '';
	}

	#tag-list .tag {
		--tag-width: var(--size-3);
		--tag-height: var(--size-3);
		--tag-hole-size: 0.3;
		display: inline-block;
		position: relative;
		margin: var(--size-1);
		padding: var(--size-1) var(--size-2);
		padding-inline-start: calc(var(--tag-width) + var(--size-2));
		overflow: visible;
		color: var(--tag-color);
		font-size: larger;
		list-style-type: '';
	}

	#tag-list .tag * {
		position: relative;
		outline: none;
		background-color: transparent;
		color: inherit;
	}

	#tag-list .tag::before {
		position: absolute;
		clip-path: polygon(var(--tag-width) 0, 100% 0, 100% 100%, var(--tag-width) 100%, 0 calc(50% + var(--tag-height) * 0.5), 0 calc(50% - var(--tag-height) * 0.5));
		mask: radial-gradient(
			circle at calc(var(--tag-width) * (1 - var(--tag-hole-size))) center,
			transparent 0,
			transparent calc(var(--tag-height) * var(--tag-hole-size)),
			black calc(var(--tag-height) * var(--tag-hole-size))
		);
		inset: 0;
		background-color: var(--tag-bg);
		content: '';
	}

	#tag-list .tag:hover::before { background-color: var(--text-1); }

	#tag-list .tag:focus-within {
		outline: var(--theme-color) var(--border-style) var(--border-width);
		outline-offset: var(--size-1);
		border-radius: var(--border-radius);
		color: var(--surface-2);
	}

	#tag-list .tag:hover {
		outline-color: var(--link-hover-color);
		color: var(--link-hover-color);
	}
}
