/* TODO: review */
@layer pages {
	main { padding-inline: min(10vw, var(--size-content-1)); }

	ul li { padding-block: var(--size-1); }

	#talk-draft-tag {
		display: inline-block;
		margin: var(--size-1);
		border-radius: var(--border-radius);
		background-color: var(--accent-color);
		padding: var(--size-1) var(--size-2);
		color: var(--surface-1);
		text-transform: uppercase;
	}

	#technology-tags {
		display: flex;
		flex-wrap: wrap;
		gap: var(--size-3);
		margin: var(--size-3) 0;
		padding: 0;
		list-style-type: '';
	}

	#technology-tags .tag {
		display: inline-block;
		margin: 0;
		background-color: var(--tag-bg);
		padding: var(--size-1) var(--size-2);
		color: var(--tag-color);
		font-size: var(--font-size-0);
		list-style-type: '';
	}

	main img {
		display: block;
		margin-inline: auto;
		width: clamp(var(--size-content-1), 100%, var(--size-content-2));
		height: clamp(var(--size-content-1), 70vh, var(--size-content-2));
		object-fit: contain;
	}

	a[rel~='external']::after {
		--external-icon-size: 0.65em;
		display: inline-block;
		vertical-align: super;
		background-image: var(--external-link-icon);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: var(--external-icon-size);
		height: var(--external-icon-size);
		content: '';
	}

	blockquote {
		margin: var(--size-2);
		border: var(--border-width) var(--border-style) var(--surface-3);
		border-radius: var(--border-radius);
		border-inline-end-color: var(--theme-color);
		border-block-end-color: var(--theme-color);
		padding-inline: var(--size-2);
		font-style: italic;
	}

	blockquote > p {
		margin-block: 0;
		padding-block: var(--size-3);
	}
}
