@layer pages {
	#todo-list {
		label:has(input:checked) {
			text-decoration: line-through;
			text-decoration-style: solid;
			text-decoration-color: color-mix(in srgb, var(--text-2), transparent 40%);
			text-decoration-thickness: var(--size-1);

			@media (prefers-contrast: no-preference) { text-decoration-style: wavy; }
		}

		input[aria-disabled] {
			filter: grayscale(1);
			pointer-events: none;
		}
	}
}
