@layer pages {
	h1 {
		color: var(--accent-color);
		font-size: var(--size-10);
		font-family: var(--text-font-family);

		@media (max-width: 40rem) { font-size: var(--size-8); }
	}

	tiny-text {
		display: block;
		font-size: 0.3em;
		color: var(--text-2);
	}

	fun-text {
		filter: drop-shadow(2px 3px color-mix(in srgb, var(--text-1), transparent 70%));
		background: linear-gradient(45deg, firebrick, orange, yellow, seagreen, dodgerblue, magenta);
		-webkit-background-clip: text;
		background-clip: text;
		font-style: italic;
		font-weight: bold;
		-webkit-text-fill-color: transparent;
	}

	h2 { text-align: center; }

	form {
		input {
			display: block;
			margin: var(--size-2) auto;
			border: var(--border-style) var(--theme-color) var(--border-size);
			border-radius: var(--size-3);
			background-color: var(--surface-2);
			padding: var(--size-1) var(--size-2);
			inline-size: calc(100% - var(--size-3) * 2);
			color: var(--text-1);
			font-size: inherit;
		}

		button {
			border: var(--border-style) transparent var(--border-size);
			background-color: var(--accent-color);
			color: var(--surface-1);
			margin-inline: auto;

			&:active {
				background-color: var(--text-1);
				color: var(--theme-color);
			}
		}
	}

	#hero {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'image text'
			'image form';
		justify-content: center;
		justify-items: center;
		gap: var(--size-3);
		margin-block: var(--size-3);
		background-color: var(--surface-2);
		inline-size: 100%;
		font-size: var(--font-size-4);
		text-align: center;

		img { grid-area: image; }

		p {
			grid-area: text;
			align-self: end;
			padding: 0 var(--size-3);
		}

		form { grid-area: form; }

		@media (max-width: 40rem) {
			grid-template-rows: auto auto auto;
			grid-template-columns: 100%;
			grid-template-areas:
				'image'
				'text'
				'form';
			padding-block-end: var(--size-3);
		}
	}

	:is(#why ul, #steps ol) {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--size-12), calc(30% - var(--size-3) * 0.5)));
		grid-auto-rows: auto;
		place-content: center;
		align-items: start;
		justify-items: center;
		gap: var(--size-3);
		padding: 0 var(--size-3);
		list-style: none;
		text-align: center;
	}

	#why svg[data-icon] {
		inline-size: var(--size-11);
		block-size: var(--size-11);
		color: var(--accent-color);
	}

	#steps {
		background-color: var(--surface-2);
		padding-block: var(--size-2);
		text-align: center;

		li {
			counter-increment: steps;

			&::before {
				content: counter(steps);
				color: var(--accent-color);
				font-style: italic;
				font-weight: bold;
				font-size: var(--size-10);
			}
		}
	}

	#testimonials {
		ul {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(var(--size-content-1), calc(50% - var(--size-3) * 0.5)));
			grid-auto-rows: auto;
			place-content: center;
			align-items: start;
			justify-items: stretch;
			gap: var(--size-3);
			padding: 0 var(--size-3);
			inline-size: 100%;
			list-style: none;
		}

		blockquote {
			display: grid;
			grid-template-rows: auto auto;
			grid-template-columns: var(--size-10) auto;
			grid-template-areas:
				'image quote'
				'image person';
			gap: var(--size-3);
			margin: var(--size-2);

			p {
				grid-area: quote;
				margin: 0;
			}

			img {
				grid-area: image;
				justify-self: center;
				border: solid var(--border-size) var(--accent-color);
				border-radius: var(--radius-round);
				inline-size: var(--size-10);
				block-size: var(--size-10);
				overflow: hidden;
				object-fit: contain;
			}

			small {
				display: inline-block;
				grid-area: person;
				inline-size: 100%;
				font-style: italic;
				text-align: end;

				&::before { content: '— '; }
			}

			@media (max-width: 40rem) {
				grid-template-rows: auto auto auto;
				grid-template-columns: 100%;
				text-align: center;
				grid-template-areas:
					'image'
					'quote'
					'person';
			}
		}
	}

	#cta {
		margin-block-end: var(--size-2);
		background-color: var(--surface-2);
		padding: var(--size-3);
		text-align: center;
	}

	#small-print {
		margin-inline: auto;
		color: var(--text-2);
		padding: var(--size-1);
		inline-size: 100%;
		max-inline-size: var(--size-content-3);
		font-size: 0.3em;
		text-align: center;
	}
}
