@layer pages {
	body {
		background: linear-gradient(to bottom right, var(--bg-color), var(--dark-bg-color));
		background-position: center top;
		background-repeat: no-repeat;
	}

	h1 {
		font-family: var(--sans-serif-font-family);
		font-size: 5em;
	}

	blockquote small {
		display: inline-block;
		text-align: end;
		width: 100%;
	}

	blockquote small::before { content: '— '; }

	input {
		background-color: var(--dark-bg-color);
		border: var(--border-style) var(--theme-color) var(--border-width);
		border-radius: var(--spacing-large);
		color: var(--text-color);
		font-size: 1.5em;
		margin: var(--spacing-medium);
		padding: var(--spacing-small) var(--spacing-medium);
	}

	button {
		background-color: var(--theme-color);
		border: var(--border-style) transparent var(--border-width);
		border-radius: var(--spacing-large);
		color: var(--text-color);
		font-size: 1.5em;
		margin: var(--spacing-medium);
		padding: var(--spacing-small) var(--spacing-medium);
	}

	footer {
		background-color: var(--bg-color);
		margin-inline: auto;
		max-width: var(--max-width);
		padding: var(--spacing-small);
		text-align: center;
		width: 100%;
	}
}
