/* TODO: review */
@layer pages {
	body {
		background-position: center top;
		background-repeat: no-repeat;
	}

	main {
		margin-inline: auto;
		width: 100%;
		max-width: var(--size-content-3);
	}

	h1 {
		color: var(--accent-color);
		font-size: 5em;
		font-family: var(--text-font-family);
		hyphenate-character: '-';
		hyphenate-limit-chars: 8 3 2;
		margin-block: 1em;
		padding: 0 var(--size-3);
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-hyphens: auto;
		hyphens: auto;
		line-break: loose;
		overflow-wrap: break-word;
		text-wrap: balance;
		word-break: break-word;
	}

	.tiny-text {
		display: block;
		font-size: 0.3em;
	}

	#hero {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: repeat(2, 50%);
		grid-template-areas:
			'image text'
			'image form';
		justify-content: center;
		justify-items: center;
		gap: var(--size-3);
		margin-block: var(--size-3);
		background-color: var(--surface-1);
		width: 100%;
		font-size: 1.5em;
		text-align: center;
	}

	#hero img {
		grid-area: image;
		width: 100%;
		height: auto;
	}

	#hero p {
		grid-area: text;
		align-self: end;
		padding: 0 var(--size-3);
		width: calc(100% - var(--size-3));
	}

	#hero form {
		grid-area: form;
		padding: 0 var(--size-3);
		width: calc(100% - var(--size-3));
	}

	h2 { text-align: center; }

	#why ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10rem, calc(30% - var(--size-3) * 0.5)));
		grid-auto-rows: auto;
		place-content: center;
		align-items: start;
		justify-items: center;
		gap: var(--size-3);
		padding: 0 var(--size-3);
		list-style: none;
		text-align: center;
	}

	#why svg {
		width: 7rem;
		height: 7rem;
		color: var(--accent-color);
	}

	.fun-text {
		filter: drop-shadow(2px 3px color-mix(in srgb, var(--text-1), transparent 70%));
		background: linear-gradient(45deg, firebrick, orange, yellow, seagreen, dodgerblue, magenta);
		-webkit-background-clip: text;
		background-clip: text;
		font-style: italic;
		font-weight: bold;
		-webkit-text-fill-color: transparent;
	}

	#steps {
		background-color: var(--surface-1);
		padding-block: var(--size-2);
		text-align: center;
	}

	#steps ol {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10rem, calc(30% - var(--size-3) * 0.5)));
		grid-auto-rows: auto;
		place-content: center;
		align-items: start;
		justify-items: center;
		gap: var(--size-3);
		counter-reset: steps;
		padding: 0 var(--size-3);
		list-style: none;
		text-align: center;
	}

	#steps li { counter-increment: steps; }

	#steps li::before {
		content: counter(steps);
		color: var(--accent-color);
		font-style: italic;
		font-weight: bold;
		font-size: 5em;
	}

	#testimonials ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, calc(50% - var(--size-3) * 0.5)));
		grid-auto-rows: auto;
		place-content: center;
		align-items: start;
		justify-items: stretch;
		gap: var(--size-3);
		padding: 0 var(--size-3);
		width: 100%;
		list-style: none;
	}

	#testimonials blockquote {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 5rem auto;
		grid-template-areas:
			'image quote'
			'image person';
		gap: var(--size-3);
		margin: var(--size-2);
	}

	#testimonials blockquote p {
		grid-area: quote;
		margin: 0;
		text-align: center;
	}

	#testimonials blockquote img {
		grid-area: image;
		justify-self: center;
		border: solid var(--border-width) var(--accent-color);
		border-radius: 100vmax;
		width: 5rem;
		height: 5rem;
		overflow: hidden;
		object-fit: contain;
	}

	#testimonials blockquote small {
		display: inline-block;
		grid-area: person;
		width: 100%;
		font-style: italic;
		text-align: end;
	}

	#testimonials blockquote small::before { content: '— '; }

	#cta {
		margin-block-end: var(--size-2);
		background-color: var(--surface-1);
		padding: var(--size-3);
		text-align: center;
	}

	:is(#hero, #cta) form input {
		display: block;
		margin: var(--size-2);
		border: var(--border-style) var(--theme-color) var(--border-width);
		border-radius: var(--size-3);
		background-color: var(--surface-2);
		padding: var(--size-1) var(--size-2);
		width: calc(100% - var(--size-3) * 2);
		color: var(--text-1);
		font-size: inherit;
	}

	:is(#hero, #cta) form button {
		margin: var(--size-2);
		border: var(--border-style) transparent var(--border-width);
		border-radius: var(--size-3);
		background-color: var(--accent-color);
		padding: var(--size-1) var(--size-2);
		color: var(--text-1);
		font-size: inherit;
	}

	:is(#hero, #cta) form button:active {
		background-color: var(--text-1);
		color: var(--theme-color);
	}

	#small-print {
		margin-inline: auto;
		background-color: var(--surface-1);
		padding: var(--size-1);
		width: 100%;
		max-width: var(--size-content-3);
		font-size: 0.3em;
		text-align: center;
	}

	@media (max-width: 40rem) {
		h1 { font-size: 3em; }

		#hero {
			grid-template-rows: auto auto auto;
			grid-template-columns: 100%;
			grid-template-areas:
				'image'
				'text'
				'form';
			padding-block-end: var(--size-3);
		}

		#testimonials blockquote {
			grid-template-rows: auto auto auto;
			grid-template-columns: 100%;
			grid-template-areas:
				'image'
				'quote'
				'person';
		}
	}
}
