@layer components {
	m-card {
		display: block;
		container-name: card;
		container-type: inline-size;

		article {
			--image-size: var(--size-header-2);

			display: grid;
			grid-template-rows: auto 1fr auto auto;
			grid-template-columns: var(--image-size) 1fr;
			grid-template-areas:
				'header header'
				'picture content'
				'picture links'
				'footer footer';
			gap: var(--size-3);
			margin: var(--size-3) 0;
			border: var(--border-style) var(--surface-4) var(--border-width);
			border-radius: var(--border-radius);
			background-color: var(--surface-2);
			padding: var(--size-3);

			&:not(:has(picture)) {
				grid-template-rows: auto 1fr auto auto;
				grid-template-columns: 1fr;
				grid-template-areas:
					'header'
					'content'
					'links'
					'footer';

				picture { display: none; }
			}

			header { grid-area: header; }

			.card-title {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: var(--size-2);

				:is(h2, h3, h4, h5, h6) { margin-block: 0; }
				a { flex-grow: 1; }

				@container (max-width: 25rem) {
					text-align: center;
					justify-content: center;
				}
			}

			.card-subtitle {
				margin-block-start: var(--size-2);
				color: var(--text-2);
				font-style: italic;
				font-size: 0.8rem;
			}

			picture {
				display: block;
				grid-area: picture;
				place-self: start center;
				border-radius: var(--border-radius);
				width: var(--image-size);
				height: var(--image-size);
				overflow: clip;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
				}

				@container card (max-width: 25rem) {
					place-self: center;
					width: calc(100% - var(--size-1));
					height: calc(100% - var(--size-1));
				}
			}

			.card-content {
				grid-area: content;

				& > *:first-child { margin-block-start: 0; }
				& > *:last-child { margin-block-end: 0; }
			}

			.card-links {
				grid-area: links;

				&:empty { display: none; }
			}

			footer {
				grid-area: footer;

				&:empty { display: none; }
			}

			@container card (max-width: 25rem) {
				--image-size: var(--size-header-1);
				grid-template-rows: auto var(--image-size) 1fr auto auto;
				grid-template-columns: 1fr;
				grid-template-areas:
					'header'
					'picture'
					'content'
					'links'
					'footer';
			}

			@container card (max-width: 15rem) { grid-template-rows: auto 1fr auto auto auto; }
		}
	}
}
