@layer components {
	rendered-content {
		/* colors */
		--diff-add-color: light-dark(darkgreen, limegreen);
		--diff-add-bg: light-dark(rgba(0, 194, 0, 0.3), rgba(0, 100, 0, 0.3));
		--diff-remove-color: light-dark(maroon, red);
		--diff-remove-bg: light-dark(rgba(255, 68, 68, 0.3), rgba(193, 0, 0, 0.3));
		--highlight-color: light-dark(dimgray, silver);
		--highlight-default-bg: light-dark(rgba(105, 105, 105, 0.35), rgba(192, 192, 192, 0.2));
		--highlight-error-color: light-dark(maroon, tomato);
		--highlight-error-bg: light-dark(rgba(255, 99, 71, 0.3), rgba(255, 99, 71, 0.2));
		--highlight-warning-color: light-dark(goldenrod, yellow);
		--highlight-warning-bg: light-dark(rgba(218, 165, 32, 0.3), rgba(218, 165, 32, 0.2));

		a[rel~='external']::after {
			display: inline-block;
			vertical-align: 0.2em;
			background-image: var(--external-link-icon);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: var(--font-size-0);
			height: var(--font-size-0);
			content: '';
		}

		blockquote {
			margin: var(--size-2);
			background-color: var(--surface-2);
			border: var(--border-width) var(--border-style) var(--surface-4);
			border-radius: var(--border-radius);
			padding-block: var(--size-3);
			padding-inline: var(--size-4);
			font-style: italic;

			p { margin: 0; }
		}

		p > img:only-child {
			--image-size: 35vw;
			width: clamp(var(--size-content-1), var(--image-size), var(--size-content-3));
		}

		pre {
			--line-counter-width: 2em;
			--line-counter-margin-right: 1em;

			border: var(--border-style) var(--surface-3) var(--border-width);
			border-radius: var(--border-radius);
			background-color: light-dark(var(--shiki-light-bg, var(--surface-1)), var(--shiki-dark-bg, var(--surface-1)));
			padding: var(--size-2) var(--size-1);
			overflow: clip;
			font-size: smaller;
			font-family: var(--code-font-family);

			&:focus-visible {
				border-color: transparent;

				.line {
					opacity: 1 !important;
					filter: none !important;
				}
			}

			span {
				color: light-dark(var(--shiki-light, var(--text-1)), var(--shiki-dark, var(--text-1)));
				font-style: light-dark(var(--shiki-light-font-style, normal), var(--shiki-dark-font-style, normal));
				font-weight: light-dark(var(--shiki-light-font-weight, normal), var(--shiki-dark-font-weight, normal));
				font-family: var(--code-font-family);
				text-decoration: light-dark(var(--shiki-light-text-decoration, none), var(--shiki-dark-text-decoration, none));

				@media (prefers-contrast: more), (forced-colors: active) {
					color: var(--shiki-contrast, var(--text-1));
					font-style: var(--shiki-contrast-font-style, normal);
					font-weight: var(--shiki-contrast-font-weight, normal);
					text-decoration: var(--shiki-contrast-text-decoration, none);
				}

				@media (prefers-contrast: less) {
					color: var(--shiki-dark, var(--text-1));
					font-style: var(--shiki-dark-font-style, normal);
					font-weight: var(--shiki-dark-font-weight, normal);
					text-decoration: var(--shiki-dark-text-decoration, none);
				}
			}

			code {
				tab-size: 2;
				counter-reset: step;
				counter-increment: step 0;
				line-height: 1.2;
				white-space: normal;
				word-break: break-word;
				overflow-wrap: break-word;

				.line::before {
					display: inline-block;
					margin-right: var(--line-counter-margin-right);
					margin-left: calc((var(--line-counter-width) + var(--line-counter-margin-right)) * -1);
					width: var(--line-counter-width);
					content: counter(step, decimal-leading-zero);
					color: var(--surface-3);
					text-align: right;
				}

				.line:not(.diff.remove) { counter-increment: step; }

				.line {
					display: inline-block;
					padding-left: calc(var(--line-counter-width) + var(--line-counter-margin-right));
					width: 100%;

					&:empty { display: none; }

					&.diff {
						&.add {
							background-color: var(--diff-add-bg);

							&::before {
								content: '++';
								color: var(--diff-add-color);
							}

							@media (prefers-contrast: more) { border-color: var(--diff-add-color); }

							@media (forced-colors: active) {
								border-color: currentColor;
								color: LinkText;

								&::before, span { color: inherit; }
							}
						}

						&.remove {
							background-color: var(--diff-remove-bg);

							&::before {
								content: '--';
								color: var(--diff-remove-color);
							}

							@media (prefers-contrast: more) { border-color: var(--diff-remove-color); }

							@media (forced-colors: active) {
								border-color: currentColor;
								color: GrayText;

								&::before, span { color: inherit; }
							}
						}

						@media (prefers-contrast: more), (forced-colors: active) {
							border-style: solid;
							border-inline-width: 0;
							border-block-width: var(--border-width);
						}
					}

					&.highlighted {
						filter: contrast(0.9) brightness(1.2);
						background-color: var(--highlight-default-bg);

						&.error {
							background-color: var(--highlight-error-bg);

							@media (prefers-contrast: more) { border-color: var(--highlight-error-bg); }

							@media (forced-colors: active) {
								border-color: currentColor;
								background-color: Field;
								color: GrayText;
							}
						}
						&.warning {
							background-color: var(--highlight-warning-bg);

							@media (prefers-contrast: more) { border-color: var(--highlight-warning-bg); }

							@media (forced-colors: active) {
								border-color: LinkText;
								background-color: Canvas;
								color: LinkText;
							}
						}

						@media (prefers-contrast: more) {
							border: var(--border-width) solid var(--highlight-color);
							border-inline-width: 0;

							&:not(:is(.error, .warning)):has(+ .line.highlighted) { border-block-end-width: 0; }
							&:not(:is(.error, .warning)) + .line.highlighted:not(:is(.error, .warning)) { border-block-start-width: 0; }
						}

						@media (forced-colors: active) {
							filter: none;
							border: var(--border-width) solid currentColor;
							border-inline-width: 0;
							background-color: Highlight;
							color: HighlightText;
							forced-color-adjust: none;

							span { color: inherit; }
						}
					}

					&.focused {
						opacity: 1;
						filter: contrast(1.2) brightness(1.2);

						@media (forced-colors: active) {
							opacity: 1;
							color: CanvasText;
						}
					}

					.highlighted-word {
						filter: contrast(0.5) brightness(1.2);
						outline: var(--border-width) var(--border-style) var(--highlight-color);
						background-color: var(--highlight-default-bg);
						padding-inline: var(--size-1);

						@media (forced-colors: active) {
							filter: none;
							outline: var(--border-width) solid currentColor;
							background-color: Highlight;
							color: HighlightText;
						}
					}

					:is(.tab, .space)::before { opacity: 0.1; }
					.tab::before { content: '⇥\00A0\00A0'; }
					.space::before { content: '·'; }
				}

				&:has(.line.focused) .line:not(.focused) {
					opacity: 0.8;
					filter: contrast(0.8) brightness(0.8);

					@media (forced-colors: active) {
						opacity: 0.5;
						filter: none;
						color: LinkText;

						span {
							background-color: inherit;
							color: inherit;
						}
					}
				}
			}

			@media (prefers-contrast: more), (forced-colors: active) { background-color: var(--shiki-contrast-bg, var(--surface-1)); }
			@media (prefers-contrast: less) { background-color: var(--shiki-dark-bg, var(--surface-1)); }
		}
	}
}
