@layer components {
	iab-escape dialog[open] {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: var(--surface-3) var(--border-style) var(--border-width);
		border-radius: var(--border-radius);
		background-color: var(--surface-2);
		padding: var(--size-3);
		width: clamp(10rem, 70vw, 35rem);
		height: clamp(10rem, 70vh, 35rem);
		overscroll-behavior: contain;
		text-align: center;

		&::backdrop {
			backdrop-filter: blur(1rem);
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}
