svg { paint-order: stroke; }

/* Micro Logo text dashes */
text[data-size='micro']:has(.logo-text-content tspan:nth-child(1)) .logo-text-padding-start tspan:nth-child(1),
text[data-size='micro']:has(.logo-text-content tspan:nth-child(2)) .logo-text-padding-start tspan:nth-child(2),
text[data-size='micro']:has(.logo-text-content tspan:nth-child(3)) .logo-text-padding-start tspan:nth-child(3),
text[data-size='micro']:has(.logo-text-content tspan:nth-child(4)) .logo-text-padding-start tspan:nth-child(4),
text[data-size='micro']:has(.logo-text-content tspan:nth-child(5)) .logo-text-padding-start tspan:nth-child(5),
text[data-size='micro']:has(.logo-text-content tspan:nth-child(6)) .logo-text-padding-start tspan:nth-child(6),
text[data-size='micro']:has(.logo-text-content tspan:nth-child(7)) .logo-text-padding-start tspan:nth-child(7),
text[data-size='micro']:has(.logo-text-content tspan:nth-child(8)) .logo-text-padding-end tspan:nth-child(2),
text[data-size='micro']:has(.logo-text-content tspan:nth-child(9)) :is(.logo-text-padding-start, .logo-text-padding-end),
text[data-size='micro']:has(.logo-text-content:empty) { visibility: hidden; }

/* Mini logo text dashes */
text[data-size='mini']:has(.logo-text-content tspan:nth-child(1)) .logo-text-padding-start tspan:nth-child(1),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(2)) .logo-text-padding-start tspan:nth-child(2),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(3)) .logo-text-padding-start tspan:nth-child(3),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(4)) .logo-text-padding-start tspan:nth-child(4),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(5)) .logo-text-padding-end tspan:nth-child(4),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(6)) .logo-text-padding-start tspan:nth-child(5),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(7)) .logo-text-padding-start tspan:nth-child(6),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(8)) .logo-text-padding-end tspan:nth-child(3),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(9)) .logo-text-padding-end tspan:nth-child(2),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(10)) .logo-text-padding-start tspan:nth-child(7),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(11)) .logo-text-padding-start tspan:nth-child(8),
text[data-size='mini']:has(.logo-text-content tspan:nth-child(12)) :is(.logo-text-padding-start, .logo-text-padding-end),
text[data-size='mini']:has(.logo-text-content:empty) { visibility: hidden; }

/* Full logo text dashes */
text[data-size='full']:has(.logo-text-content tspan:nth-child(1)) .logo-text-padding-start tspan:nth-child(1),
text[data-size='full']:has(.logo-text-content tspan:nth-child(2)) .logo-text-padding-start tspan:nth-child(2),
text[data-size='full']:has(.logo-text-content tspan:nth-child(3)) .logo-text-padding-start tspan:nth-child(3),
text[data-size='full']:has(.logo-text-content tspan:nth-child(4)) .logo-text-padding-start tspan:nth-child(4),
text[data-size='full']:has(.logo-text-content tspan:nth-child(5)) .logo-text-padding-start tspan:nth-child(5),
text[data-size='full']:has(.logo-text-content tspan:nth-child(6)) .logo-text-padding-start tspan:nth-child(6),
text[data-size='full']:has(.logo-text-content tspan:nth-child(7)) .logo-text-padding-start tspan:nth-child(7),
text[data-size='full']:has(.logo-text-content tspan:nth-child(8)) .logo-text-padding-start tspan:nth-child(8),
text[data-size='full']:has(.logo-text-content tspan:nth-child(9)) .logo-text-padding-start tspan:nth-child(9),
text[data-size='full']:has(.logo-text-content tspan:nth-child(10)) .logo-text-padding-start tspan:nth-child(10),
text[data-size='full']:has(.logo-text-content tspan:nth-child(11)) .logo-text-padding-start tspan:nth-child(11),
text[data-size='full']:has(.logo-text-content tspan:nth-child(12)) .logo-text-padding-start tspan:nth-child(12),
text[data-size='full']:has(.logo-text-content tspan:nth-child(13)) .logo-text-padding-start tspan:nth-child(13),
text[data-size='full']:has(.logo-text-content tspan:nth-child(14)) .logo-text-padding-start tspan:nth-child(14),
text[data-size='full']:has(.logo-text-content tspan:nth-child(15)) .logo-text-padding-end tspan:nth-child(4),
text[data-size='full']:has(.logo-text-content tspan:nth-child(16)) .logo-text-padding-end tspan:nth-child(3),
text[data-size='full']:has(.logo-text-content tspan:nth-child(17)) .logo-text-padding-start tspan:nth-child(15),
text[data-size='full']:has(.logo-text-content tspan:nth-child(18)) .logo-text-padding-start tspan:nth-child(16),
text[data-size='full']:has(.logo-text-content tspan:nth-child(19)) .logo-text-padding-end tspan:nth-child(2),
text[data-size='full']:has(.logo-text-content tspan:nth-child(20)) .logo-text-padding-start tspan:nth-child(17),
text[data-size='full']:has(.logo-text-content tspan:nth-child(21)) :is(.logo-text-padding-start, .logo-text-padding-end),
text[data-size='full']:has(.logo-text-content:empty) { visibility: hidden; }
