@layer components {
	#page-header {
		display: flex;
		flex-direction: column;
		place-items: center stretch;
		gap: var(--size-3);
	}

	#page-header h1 {
		hyphenate-character: '-';
		hyphenate-limit-chars: 8 3 2;
		padding: var(--size-3);
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-hyphens: auto;
		hyphens: auto;
		line-break: loose;
		overflow-wrap: break-word;
		text-wrap: balance;
		word-break: break-word;
	}

	#page-header:has(img) { padding: var(--size-3); }

	#page-header img {
		width: clamp(var(--size-header-0), 70vmin, var(--size-header-2));
		height: 100%;
		object-fit: contain;
	}

	@media (max-width: 25rem) {
		#page-header img {
			width: calc(100vw - var(--size-3) * 2);
			height: auto;
		}
	}
}
