@layer components {
	#pagination {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: var(--size-2);
		margin: var(--size-2);
		text-align: center;
	}

	#pagination ol {
		display: flex;
		gap: var(--size-3);
		margin: 0;
		padding: 0;
		list-style-type: '';
	}

	#pagination li { list-style-type: ''; }

	#pagination:has(li:only-child), #pagination:has(li:only-child) + * { display: none; }

	#pagination svg {
		width: 1.5em;
		height: 1.5em;
	}

	#pagination a:not([href]) { color: var(--link-visited-color); }

	#pagination-info {
		padding: var(--size-1) var(--size-2);
		text-align: center;
	}

	@media (max-width: 40rem) { .pagination-link-text { display: none; } }
}
