@layer components {
	m-pagination {
		&:has(li:only-child), &:has(li:only-child) + * { display: none; }

		div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: var(--size-2);
			margin: var(--size-2);
			text-align: center;
		}

		ol {
			display: flex;
			gap: var(--size-3);
			margin: 0;
			padding: 0;
			list-style-type: none;
			flex-wrap: wrap;
		}

		a:not([href]) { color: var(--text-2); }
		a[aria-current='page'] { color: var(--accent-color); }

		aside {
			padding: var(--size-1) var(--size-2);
			text-align: center;
		}

		@media (max-width: 40rem) {
			.pagination-link-text {
				border: 0;
				clip: rect(0, 0, 0, 0);
				position: absolute;
				opacity: 0;
				z-index: -1;
				margin: 0;
				padding: 0;
				inline-size: 1px;
				block-size: 1px;
				overflow: hidden;
				pointer-events: none;
				user-select: none;
			}
		}
	}
}
