@layer components {
	pro-em-pt-br {
		display: block;

		ob-fus-ate, super-important, [aria-hidden] {
			position: absolute;
			border: 0;
			clip: rect(0, 0, 0, 0);
			opacity: 0;
			z-index: -1;
			margin: 0;
			padding: 0;
			inline-size: 1px;
			block-size: 1px;
			font-size: 1px;
			transform: scale(0.01);
			color: transparent;
			background-color: transparent;
			display: block;
			overflow: hidden;
			white-space: nowrap;
			touch-action: none;
			user-select: none;
			pointer-events: none;
			isolation: isolate;
			overlay: none;
		}

		ob-fus-ate, super-important { display: none; }
	}
}
