@layer components {
	html {
		container-name: body-scroller;
		container-type: scroll-state;
	}

	#page-top {
		margin: 0;
		border: none;
		width: 100%;
		height: 0;
	}

	#scroll-to-top-link {
		display: flex;
		position: fixed;
		justify-content: center;
		align-items: center;
		gap: var(--size-2);
		translate: 0 200%;
		z-index: calc(1 * infinity);
		margin-inline: auto;
		inset-block-end: var(--size-2);
		inset-inline: var(--size-2);
		border: var(--border-style) var(--surface-4) var(--border-width);
		background-color: var(--surface-1);
		padding: var(--size-2) var(--size-3);
		color: var(--theme-color);
		text-align: center;
	}

	#scroll-to-top-link:focus {
		background-color: var(--text-1);
		color: var(--surface-1);
	}

	#scroll-to-top-link:hover {
		background-color: var(--theme-color);
		color: var(--surface-1);
	}

	#scroll-to-top-link:active {
		background-color: var(--accent-color);
		color: var(--surface-1);
	}

	/* dprint-ignore */
	@container body-scroller scroll-state(scrollable: top) {
		#scroll-to-top-link {
			translate: 0 0;
		}
	}

	@media not (prefers-reduced-motion) { #scroll-to-top-link { transition: 0.4s translate; } }
}
