@layer components {
	share-options:not(:defined) { display: none; }

	share-options:defined aside {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: var(--size-3);

		button[hidden] { display: none; }
	}
}
