@layer components {
	skip-to-content a {
		display: block;
		position: absolute;
		z-index: calc(1 * infinity);
		inset-block-start: -100%;
		inset-inline: var(--size-2);
		background-color: var(--text-1);
		padding: var(--size-2);
		color: var(--surface-1);
		text-align: center;

		&:focus-within { inset-block-start: var(--size-2); }

		&:hover {
			background-color: var(--theme-color);
			color: var(--surface-1);
		}

		&:active {
			background-color: var(--accent-color);
			color: var(--surface-1);
		}
	}
}
