@layer components {
	svg-effects {
		display: block;
		border: 0;
		clip: rect(0, 0, 0, 0);
		position: absolute;
		top: -1px;
		left: -1px;
		opacity: 0;
		z-index: -1;
		margin: 0;
		padding: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		pointer-events: none;
		user-select: none;
	}
}
