@layer components {
	theme-switcher {
		/* INFO: fix for safari */
		display: inline-block;
		align-self: center;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			border: var(--border-style) var(--border-width) var(--theme-color);
			border-radius: 100vmax;
			background: var(--surface-2);
			padding: var(--size-2);
			font-size: var(--font-size-3);
			color: var(--theme-color);

			&:focus-visible {
				border-color: var(--text-1);
				background-color: var(--theme-color);
				color: var(--text-1);
			}

			&:hover {
				outline-color: var(--accent-color);
				border-color: var(--accent-color);
				background-color: var(--surface-2);
				color: var(--accent-color);
			}

			&:active {
				outline-color: var(--text-1);
				border-color: var(--text-1);
				background-color: var(--accent-color);
				color: var(--text-1);
			}

			svg {
				width: 100%;
				height: 100%;
				pointer-events: none;
			}
		}

		dialog {
			border: var(--surface-3) var(--border-style) var(--border-width);
			border-radius: var(--border-radius);
			background-color: var(--surface-2);
			width: clamp(10rem, 70vw, 35rem);
			height: clamp(10rem, 70vh, 35rem);
			overscroll-behavior: contain;

			&::backdrop {
				backdrop-filter: blur(1rem);
				background-color: rgba(0, 0, 0, 0.5);
			}

			form {
				display: flex;
				flex-direction: column;
				padding: var(--size-2);
				width: 100%;
				height: 100%;
			}

			button {
				width: fit-content;
				height: fit-content;
				font-size: var(--font-size-1);
			}
		}

		#theme-list {
			display: flex;
			flex-grow: 1;
			flex-wrap: wrap;
			justify-content: center;
			container-name: theme-switcher;
			container-type: size;
			overflow: auto;
			overscroll-behavior: contain;
		}

		label {
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			margin: var(--size-2);
			border: transparent var(--border-width) var(--border-style);
			padding: var(--size-2);
			width: calc(50% - 1.5rem);
			max-width: var(--size-content-2);
			height: fit-content;
			text-align: center;

			svg {
				width: 100%;
				height: auto;

				&[data-dual-theme] use { display: block; }

				text:nth-of-type(1) { font-family: var(--headers-font-family); }
				text:nth-of-type(2) { font-family: var(--text-font-family); }
			}

			small:not([hidden]) {
				display: block;
				font-size: 0.7em;

				svg { width: 1em; }
			}

			input[type='radio'] {
				position: absolute;
				opacity: 0;
				width: 100%;
				height: 100%;
			}

			&:has(input[type='radio']:checked) {
				border-color: var(--theme-color);
				background-color: var(--surface-1);
				color: var(--theme-color);
			}

			&:is(:hover, :focus-within) {
				border-color: var(--accent-color);
				background-color: var(--text-1);
				color: var(--surface-1);
			}

			@container (max-width: 25rem) { width: 100%; }
		}
	}
}
