@layer components {
	m-webrings {
		article {
			blockquote {
				margin: 0;
				font-style: italic;
				text-align: center;
				color: var(--text-2);
			}

			ul {
				display: flex;
				justify-content: center;
				gap: var(--size-3);
				padding: 0;
				list-style: none;
			}
		}
	}
}
