@layer theme {
	[data-theme='dark'] {
		/* Theme colors */
		--theme-color: var(--theme-6);
		--secondary-color: var(--theme-1);
		--accent-color: var(--accent-5);
		--complementary-color: var(--red-7);

		/* Base colors */
		--text-1: var(--gray-1);
		--text-2: var(--gray-5);
		--surface-1: color-mix(in oklch, var(--gray-12) 80%, var(--theme-12));
		--surface-2: color-mix(in oklch, var(--gray-9) 80%, var(--theme-9));
		--surface-3: color-mix(in oklch, var(--gray-6) 80%, var(--theme-6));
		--surface-4: transparent;

		/* Link colors */
		--link-color: var(--theme-3);
		--link-visited-color: var(--theme-1);
		--link-hover-color: var(--accent-4);
		--link-active-color: var(--accent-0);

		/* Global settings */
		color-scheme: dark;
	}
}
