@layer theme {
	[data-theme='dark'] {
		/* Theme colors */
		--theme-color: var(--theme-6);
		--secondary-color: var(--theme-1);
		--accent-color: var(--accent-5);
		--complementary-color: var(--red-7);

		/* Base colors */
		--text-1: var(--gray-1);
		--text-2: var(--gray-5);
		--surface-1: color-mix(in oklch, var(--gray-12) 80%, var(--theme-12));
		--surface-2: color-mix(in oklch, var(--gray-9) 80%, var(--theme-9));
		--surface-3: color-mix(in oklch, var(--gray-6) 80%, var(--theme-6));
		--surface-4: transparent;

		/* Link colors */
		--link-color: var(--theme-3);
		--link-visited-color: var(--theme-1);
		--link-hover-color: var(--accent-4);
		--link-active-color: var(--accent-0);

		/* Code colors */
		--diff-add-color: limegreen;
		--diff-add-bg: rgba(0, 100, 0, 0.3);
		--diff-remove-color: red;
		--diff-remove-bg: rgba(193, 0, 0, 0.3);
		--highlight-color: silver;
		--highlight-default-bg: rgba(192, 192, 192, 0.2);
		--highlight-error-color: tomato;
		--highlight-error-bg: rgba(255, 99, 71, 0.2);
		--highlight-warning-color: yellow;
		--highlight-warning-bg: rgba(218, 165, 32, 0.2);

		/* Table styles */
		--table-header-bg: var(--theme-9);
		--table-header-color: var(--gray-2);
		--table-header-border: var(--border-size) var(--border-style) var(--theme-color);

		--table-rows-odd: var(--surface-1);
		--table-rows-even: var(--surface-2);
		--table-rows-hover: var(--surface-3);

		--table-footer-bg: var(--theme-12);
		--table-footer-color: var(--text-2);
		--table-footer-border: var(--border-size) var(--border-style) var(--theme-color);

		/* Button styles */
		--button-disabled-bg: var(--gray-10);
		--button-disabled-color: var(--gray-6);
		--button-disabled-border-color: var(--gray-6);
		--button-primary-bg: var(--theme-color);
		--button-primary-color: var(--text-1);
		--button-primary-border-color: var(--text-1);
		--button-secondary-bg: var(--surface-2);
		--button-secondary-color: var(--secondary-color);
		--button-secondary-border-color: var(--secondary-color);

		/* Input styles */
		--input-valid-bg: var(--lime-12);
		--input-valid-color: var(--green-2);
		--input-invalid-bg: var(--red-12);
		--input-invalid-color: var(--red-1);

		/* Note styles */
		--note-success-bg: var(--green-11);
		--note-success-color: var(--lime-2);
		--note-error-bg: var(--red-11);
		--note-error-color: var(--red-2);
		--note-warning-bg: var(--yellow-11);
		--note-warning-color: var(--brown-1);
		--note-alert-bg: var(--teal-10);
		--note-alert-color: var(--jungle-2);
		--note-info-bg: var(--blue-12);
		--note-info-color: var(--blue-2);
		--note-debug-bg: var(--purple-10);
		--note-debug-color: var(--violet-2);

		/* Tag list colors */
		--tag-bg: var(--surface-2);
		--tag-color: var(--text-2);
		--tag-hover-bg: var(--accent-color);
		--tag-hover-color: var(--surface-1);
		--tag-focus-bg: var(--surface-2);
		--tag-focus-color: var(--theme-color);

		/* Global settings */
		color-scheme: dark;
	}
}
