@layer theme {
	[data-theme='hacker'] {
		/* Border */
		--border-width: medium;
		--border-style: none;
		--link-underline: solid;
		--border-radius: 0;

		/* Theme colors */
		--theme-color: lime;
		--secondary-color: seagreen;
		--accent-color: seagreen;
		--complementary-color: seagreen;

		/* Base colors */
		--text-1: lime;
		--surface-1: black;
		--surface-2: black;
		--surface-3: seagreen;

		/* Link colors */
		--link-color: lime;
		--link-visited-color: seagreen;
		--link-hover-color: var(--accent-color);
		--link-active-color: var(--complementary-color);

		/* Code colors */
		--diff-add-color: limegreen;
		--diff-add-bg: rgba(0, 100, 0, 0.3);
		--diff-remove-color: red;
		--diff-remove-bg: rgba(193, 0, 0, 0.3);
		--highlight-color: silver;
		--highlight-default-bg: rgba(192, 192, 192, 0.2);
		--highlight-error-color: tomato;
		--highlight-error-bg: rgba(255, 99, 71, 0.2);
		--highlight-warning-color: yellow;
		--highlight-warning-bg: rgba(218, 165, 32, 0.2);

		/* Old Buttons */
		--old-button-border: var(--surface-3) solid var(--border-width);
		--old-button-border-visibility: hidden;
		--old-button-tint: color-mix(in srgb, darkgreen, transparent 35%);
		--old-button-blend-mode: color;
		--old-button-border-radius: var(--border-radius);

		/* Icons */
		--details-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='lime' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/svg%3E");
		--external-link-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='lime' d='M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z'/%3E%3C/svg%3E");
		--hr-decoration-icon: none;

		/* Fonts */
		--headers-font-family: 'Chicago', 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;
		--text-font-family: 'Chicago', 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;

		/* Global settings */
		accent-color: var(--theme-color);
		color-scheme: dark;
	}

	[data-theme='hacker'] body { background-repeat: no-repeat; }

	[data-theme='hacker'] :focus-visible { outline-style: solid; }

	[data-theme='hacker'] .user-avatar {
		filter: url('#small-pixelate-filter');
		border-radius: 0;
	}

	[data-theme='hacker'] .user-avatar img {
		filter: grayscale(1);
		image-rendering: auto;
	}

	[data-theme='hacker'] .user-avatar::after {
		opacity: 0.8;
		mix-blend-mode: color;
	}

	[data-theme='hacker'] .user-avatar:hover::after { opacity: 0.8; }

	[data-theme='hacker'] input {
		border-style: solid;
		border-color: var(--theme-color);
		border-radius: 0;
		background-color: var(--secondary-color);
		color: var(--surface-1);
	}

	[data-theme='hacker'] hr { padding: 0; }

	[data-theme='hacker'] input::placeholder { color: var(--surface-1); }

	[data-theme='hacker'] #site-nav a {
		padding: var(--size-1) var(--size-2);
		height: var(--size-7);
		color: var(--text-1);
	}

	[data-theme='hacker'] button {
		border-style: solid;
		border-color: var(--theme-color);
		border-radius: 0;
		background-color: transparent;
		color: var(--text-1);
	}

	[data-theme='hacker'] :is(#site-nav a, button):focus-visible {
		border-color: var(--text-1);
		background-color: var(--text-1);
		color: var(--surface-1);
	}

	[data-theme='hacker'] :is(#site-nav a, button):hover {
		outline-color: var(--accent-color);
		border-color: var(--accent-color);
		background-color: var(--accent-color);
		color: var(--surface-1);
	}

	[data-theme='hacker'] :is(#site-nav a, button):active {
		outline-color: var(--theme- color);
		border-color: var(--accent-color);
		background-color: var(--accent-color);
		color: var(--theme-color);
	}

	[data-theme='hacker'] .tag {
		background-color: var(--tag-bg);
		padding-inline-start: var(--size-2);
	}

	[data-theme='hacker'] .tag:focus-within { outline-style: dotted; }
	[data-theme='hacker'] .tag a:focus-visible { outline: none; }

	[data-theme='hacker'] .tag::before {
		clip-path: none;
		mask: none;
		content: none;
	}

	[data-theme='hacker'] .card { border: solid currentColor var(--border-width); }

	[data-theme='hacker'] .card picture { filter: url('#small-pixelate-filter'); }

	[data-theme='hacker'] .project-card picture {
		display: grid;
		position: relative;
		place-items: center;
		mask: none;
		border: solid currentColor var(--border-width);
	}

	[data-theme='hacker'] .project-card picture::after {
		display: block;
		position: absolute;
		opacity: 0.8;
		mix-blend-mode: color;
		inset: 0;
		background: radial-gradient(circle at bottom, var(--accent-color), var(--theme-color));
		width: 100%;
		height: 100%;
		content: '';
	}

	[data-theme='hacker'] .project-card picture img { display: none; }
	[data-theme='hacker'] .project-card picture img[data-theme-image='hacker'] { display: block; }

	[data-theme='hacker'] .logo-part { fill: var(--theme-color); }

	[data-theme='hacker'] .logo-text {
		fill: var(--accent-color);
		font-weight: normal;
		font-size: 6rem;
		font-family: 'Chicago', 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;
	}

	[data-theme='hacker'] #logo-graphics [data-theme] { visibility: hidden; }
	[data-theme='hacker'] #logo-graphics [data-theme='hacker']:where([data-size='full']) { visibility: visible; }

	[data-theme='hacker'] a:focus-visible [data-theme='hacker'] .logo-part { fill: var(--accent-color); }
	[data-theme='hacker'] a:focus-visible [data-theme='hacker'] .logo-text { fill: var(--theme-color); }

	[data-theme='hacker'] a:hover [data-theme='hacker'] .logo-part { fill: var(--link-hover-color); }
	[data-theme='hacker'] a:hover [data-theme='hacker'] .logo-text { fill: var(--link-hover-color); }

	[data-theme='hacker'] a:active [data-theme='hacker'] .logo-part { stroke: var(--link-active-color); }
	[data-theme='hacker'] a:active [data-theme='hacker'] .logo-text { fill: var(--link-active-color); }

	[data-theme='hacker'] pre span {
		color: var(--text-1);
		font-style: var(--shiki-contrast-font-style, normal);
		font-weight: var(--shiki-contrast-font-weight, normal);
		text-decoration: var(--shiki-contrast-text-decoration, none);
	}

	@container logo (max-width: 25rem) {
		[data-theme='hacker'] #logo-graphics [data-theme='hacker'] { visibility: hidden; }
		[data-theme='hacker'] #logo-graphics [data-theme='hacker']:where([data-size='mini']) { visibility: visible; }
	}

	@container logo (max-width: 15rem) {
		[data-theme='hacker'] #logo-graphics [data-theme='hacker'] { visibility: hidden; }
		[data-theme='hacker'] #logo-graphics [data-theme='hacker']:where([data-size='micro']) { visibility: visible; }
	}

	@media not (prefers-reduced-motion) { [data-theme='hacker'] :is(#logo-graphics, .user-avatar) { filter: url('#animated-glitch-filter'); } }
}
