@layer theme {
	[data-theme='high-contrast'] {
		/* Border */
		--border-size: var(--size-1);
		--border-style: solid;
		--link-underline: solid;
		--border-radius: 0;
		--focus-outline: var(--theme-color) var(--border-style) var(--border-size);

		/* Theme colors */
		--theme-color: var(--yellow-6);
		--secondary-color: var(--orange-7);
		--accent-color: var(--orange-7);
		--complementary-color: var(--orange-9);

		/* Base colors */
		--text-1: var(--yellow-3);
		--text-2: var(--yellow-6);
		--surface-1: black;
		--surface-2: var(--surface-1);
		--surface-3: var(--theme-color);
		--surface-4: var(--theme-color);

		/* Link colors */
		--link-color: var(--yellow-1);
		--link-visited-color: var(--yellow-6);
		--link-hover-color: var(--red-8);
		--link-active-color: var(--red-10);

		/* Code colors */
		--diff-add-color: var(--lime-5);
		--diff-add-bg: color-mix(in srgb, var(--green-10), transparent);
		--diff-remove-color: var(--red-8);
		--diff-remove-bg: color-mix(in srgb, var(--red-10), transparent);
		--highlight-color: var(--gray-5);
		--highlight-default-bg: color-mix(in srgb, var(--gray-10), transparent);
		--highlight-error-color: var(--red-10);
		--highlight-error-bg: color-mix(in srgb, var(--red-10), transparent);
		--highlight-warning-color: var(--yellow-6);
		--highlight-warning-bg: color-mix(in srgb, var(--yellow-6), transparent);

		/* Table styles */
		--table-header-bg: var(--text-2);
		--table-header-color: var(--surface-1);
		--table-header-border: var(--border-size) var(--border-style) var(--text-1);

		--table-rows-odd: var(--surface-1);
		--table-rows-even: var(--gray-7);
		--table-rows-hover: var(--gray-6);

		--table-footer-bg: var(--text-2);
		--table-footer-color: var(--surface-1);
		--table-footer-border: var(--border-size) var(--border-style) var(--text-1);

		/* Input styles */
		--input-bg: var(--surface-1);
		--input-color: var(--text-1);
		--input-border: var(--border-size) var(--border-style) var(--theme-color);
		--input-thumb-color: var(--theme-color);

		--input-placeholder-color: var(--text-2);

		--input-valid-bg: var(--diff-add-bg);
		--input-valid-color: var(--diff-add-color);
		--input-invalid-bg: var(--diff-remove-bg);
		--input-invalid-color: var(--diff-remove-color);
		--input-hover-bg: var(--surface-2);
		--input-hover-color: var(--yellow-1);
		--input-hover-border-color: var(--yellow-1);
		--input-focus-bg: var(--surface-2);
		--input-focus-color: var(--text-2);
		--input-disabled-bg: var(--surface-1);
		--input-disabled-color: var(--gray-7);
		--input-readonly-bg: var(--gray-10);
		--input-readonly-color: var(--gray-7);

		--select-option-bg: var(--input-bg);
		--select-option-color: var(--text-1);
		--select-option-selected-bg: var(--surface-2);
		--select-option-selected-color: var(--text-2);

		--fieldset-border: var(--border-style) var(--border-size) var(--theme-color);

		/* Button styles */
		--button-bg: var(--surface-2);
		--button-color: var(--theme-color);
		--button-border: var(--border-style) var(--border-size) var(--theme-color);
		--button-hover-bg: var(--surface-2);
		--button-hover-color: var(--accent-color);
		--button-hover-border-color: var(--accent-color);
		--button-focus-bg: var(--theme-color);
		--button-focus-color: var(--surface-1);
		--button-focus-border-color: var(--surface-1);
		--button-active-bg: var(--accent-color);
		--button-active-color: var(--text-1);
		--button-active-border-color: var(--text-1);
		--button-disabled-bg: var(--gray-5);
		--button-disabled-color: var(--gray-10);
		--button-disabled-border-color: var(--gray-10);

		/* Progress styles */
		--progress-bg: var(--surface-2);
		--progress-color: var(--theme-color);
		--progress-border: var(--border-size) solid var(--theme-color);
		--progress-hover-bg: var(--surface-1);
		--progress-hover-color: var(--accent-color);
		--progress-hover-border-color: var(--accent-color);

		/* Meter styles */
		--meter-background: var(--surface-2);
		--meter-optimal-color: var(--green-2);
		--meter-suboptimal-color: var(--yellow-5);
		--meter-subsuboptimal-color: var(--red-12);
		--meter-size-adjust: calc(var(--border-size) * 2);
		--meter-border: var(--border-size) solid var(--theme-color);

		/* Note styles */
		--note-success-bg: color-mix(in srgb, var(--green-10), transparent);
		--note-success-color: var(--lime-5);
		--note-error-bg: color-mix(in srgb, var(--red-10), transparent 60%);
		--note-error-color: var(--red-8);
		--note-warning-bg: color-mix(in srgb, var(--yellow-3), transparent 80%);
		--note-warning-color: var(--yellow-3);
		--note-alert-bg: color-mix(in srgb, var(--teal-10), transparent);
		--note-alert-color: var(--teal-3);
		--note-info-bg: color-mix(in srgb, var(--blue-10), transparent);
		--note-info-color: var(--blue-2);
		--note-debug-bg: color-mix(in srgb, var(--purple-10), transparent);
		--note-debug-color: var(--violet-3);

		/* Baseline colors */
		--baseline-high-color: var(--lime-5);
		--baseline-high-bg: var(--green-10);
		--baseline-low-color: var(--blue-6);
		--baseline-low-bg: var(--blue-10);
		--baseline-limited-color: var(--orange-6);
		--baseline-limited-bg: var(--gray-7);
		--baseline-no-data-color: var(--gray-5);
		--baseline-no-data-bg: var(--gray-8);

		/* Tag list colors */
		--tag-bg: var(--surface-1);
		--tag-color: var(--theme-color);
		--tag-hover-bg: var(--surface-1);
		--tag-hover-color: var(--accent-color);
		--tag-focus-bg: var(--surface-1);
		--tag-focus-color: var(--theme-color);

		/* Logo styles */
		--logo-part-color: var(--theme-color);
		--logo-part-stroke: transparent;
		--logo-part-stroke-width: 0;
		--logo-extras-color: var(--secondary-color);
		--logo-extras-stroke: transparent;
		--logo-extras-stroke-width: 0;
		--logo-text-color: var(--accent-color);
		--logo-text-stroke: transparent;
		--logo-text-stroke-width: 0;
		--logo-font: 'Mecano-Light', 'Mecano', monospace;
		--logo-font-weight: 300;

		--logo-pixel-color: var(--surface-1);
		--logo-overlay-color: var(--complementary-color);
		--logo-noise-color: var(--theme-color);

		--logo-part-hover-color: var(--link-hover-color);
		--logo-part-hover-stroke: transparent;
		--logo-extras-hover-color: var(--link-active-color);
		--logo-extras-hover-stroke: transparent;
		--logo-text-hover-color: var(--theme-color);
		--logo-text-hover-stroke: transparent;

		--logo-part-focus-color: var(--text-1);
		--logo-part-focus-stroke: transparent;
		--logo-extras-focus-color: var(--secondary-color);
		--logo-extras-focus-stroke: transparent;
		--logo-text-focus-color: var(--theme-color);
		--logo-text-focus-stroke: transparent;

		--logo-part-active-color: var(--link-active-color);
		--logo-part-active-stroke: transparent;
		--logo-extras-active-color: var(--link-active-color);
		--logo-extras-active-stroke: transparent;
		--logo-text-active-color: var(--link-active-color);
		--logo-text-active-stroke: transparent;

		/* Avatar styles */
		--avatar-overlay: none;
		--avatary-overlay-opacity: 0;
		--avatary-overlay-blend-mode: normal;

		/* Old Buttons */
		--old-button-border: var(--surface-3) var(--border-style) var(--border-size);
		--old-button-border-visibility: hidden;
		--old-button-tint: darkgoldenrod;
		--old-button-blend-mode: color;
		--old-button-border-radius: var(--border-radius);

		/* Fonts */
		--headers-font-family: 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;
		--text-font-family: 'Selawik Variable', 'Selawik', 'Segoe UI', 'Roboto', 'Open Sans', 'Arial', system-ui, sans-serif;

		/* Icons */
		--details-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='goldenrod' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/svg%3E");

		/* Global settings */
		accent-color: var(--theme-color);
		color-scheme: dark;
		line-height: 1.4;
		letter-spacing: 0.07em;
	}

	[data-theme='high-contrast'] a,
	a[data-theme='high-contrast'] {
		text-decoration-thickness: 0.1em;
		text-underline-offset: 0.2em;
	}

	:is([data-theme='high-contrast'] tag-list, tag-list[data-theme='high-contrast']) tag-item::before { display: none; }

	[data-theme='high-contrast'] p,
	p[data-theme='high-contrast'] { line-height: 1.7; }

	:is([data-theme='high-contrast'] code-wrapper, code-wrapper[data-theme='high-contrast']) pre {
		--code-bg: var(--shiki-contrast-bg, var(--surface-1));
		--code-color: var(--shiki-contrast, var(--text-1));

		span {
			--code-color: var(--shiki-contrast, var(--text-1));
			--code-font-style: var(--shiki-contrast-font-style, normal);
			--code-font-weight: var(--shiki-contrast-font-weight, normal);
			--code-text-decoration: var(--shiki-contrast-text-decoration, none);
		}

		code .line.diff {
			border-style: solid;
			border-inline-width: 0;
			border-block-width: var(--border-size);
		}

		code .line.diff.add { border-color: var(--diff-add-color); }
		code .line.diff.remove { border-color: var(--diff-remove-color); }

		code .line.highlighted {
			border: var(--border-size) solid var(--highlight-color);
			border-inline-width: 0;
		}

		code .line.highlighted.error { border-color: var(--highlight-error-color); }
		code .line.highlighted.warning { border-color: var(--highlight-warning-color); }

		code .line.highlighted:not(:is(.error, .warning)):has(+ .line.highlighted) { border-block-end-width: 0; }
		code .line.highlighted:not(:is(.error, .warning)) + .line.highlighted:not(:is(.error, .warning)) { border-block-start-width: 0; }
	}
}
