@layer theme {
	[data-theme='high-contrast'] {
		/* Border */
		--border-size: var(--size-1);
		--border-style: solid;
		--link-underline: solid;
		--border-radius: 0;

		/* Theme colors */
		--theme-color: goldenrod;
		--secondary-color: darkorange;
		--accent-color: darkorange;
		--complementary-color: orangered;

		/* Base colors */
		--text-1: yellow;
		--surface-2: black;
		--surface-1: var(--surface-2);
		--surface-3: var(--theme-color);
		--surface-4: var(--theme-color);

		/* Link colors */
		--link-color: lightyellow;
		--link-visited-color: goldenrod;
		--link-hover-color: firebrick;
		--link-active-color: maroon;

		/* Code colors */
		--diff-add-color: greenyellow;
		--diff-add-bg: rgba(0, 194, 0, 0.3);
		--diff-remove-color: maroon;
		--diff-remove-bg: rgba(255, 68, 68, 0.3);
		--highlight-color: darkgray;
		--highlight-default-bg: rgba(105, 105, 105, 0.35);
		--highlight-error-color: maroon;
		--highlight-error-bg: rgba(255, 99, 71, 0.3);
		--highlight-warning-color: goldenrod;
		--highlight-warning-bg: rgba(218, 165, 32, 0.3);

		/* Old Buttons */
		--old-button-border: var(--surface-3) var(--border-style) var(--border-size);
		--old-button-border-visibility: hidden;
		--old-button-tint: darkgoldenrod;
		--old-button-blend-mode: color;
		--old-button-border-radius: var(--border-radius);

		/* Icons */
		--details-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='goldenrod' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/svg%3E");
		--external-link-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='goldenrod' d='M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z'/%3E%3C/svg%3E");
		--hr-decoration-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='goldenrod' d='M11.108 10.27c1.083-1.875.16-4.442-2.06-5.724a5.248 5.248 0 0 0-2.615-.72c-1.46 0-2.72.672-3.373 1.8c-.545.944-.608 2.077-.176 3.188C3.287 9.85 4.08 10.75 5.12 11.35a5.242 5.242 0 0 0 2.616.723c.673 0 1.3-.15 1.85-.414l2.4 1.385c1.582.914.56 3.86 5.918 6.955C23.26 23.094 29.4 21.535 29.4 21.535L10.75 10.767c.132-.156.255-.318.358-.496zm-1.733-1c-.506.88-2.033 1.056-3.255.348c-.646-.373-1.134-.916-1.37-1.528c-.21-.535-.194-1.055.042-1.464c.293-.51.892-.8 1.64-.8c.543 0 1.102.156 1.616.453c1.243.716 1.85 2.086 1.327 2.99zm7.87 6.522c0 .483-.39.875-.874.875c-.036 0-.067-.017-.103-.02l.667-1.512a.86.86 0 0 1 .312.657zm-.874-.875c.038 0 .07.017.105.02l-.666 1.51a.851.851 0 0 1-.313-.655c0-.483.39-.875.874-.875m13.03-4.45s-6.14-1.56-11.496 1.535c-.537.31-.995.618-1.415.924l4.325 2.497zm-16.23 6.63c-.35.85-.574 1.508-1.186 1.86l-2.4 1.385a4.235 4.235 0 0 0-1.85-.414c-.893 0-1.797.25-2.615.72c-2.22 1.283-3.144 3.852-2.06 5.727c.65 1.127 1.91 1.8 3.372 1.8c.894 0 1.8-.25 2.616-.72c1.04-.602 1.833-1.502 2.236-2.537c.432-1.112.368-2.245-.178-3.19a3.436 3.436 0 0 0-.356-.493l3.982-2.3a9.7 9.7 0 0 1-1.56-1.838zm-3.75 7.095c-.238.612-.725 1.155-1.37 1.528c-1.222.706-2.75.532-3.258-.347c-.522-.903.086-2.274 1.328-2.992a3.254 3.254 0 0 1 1.615-.452c.75 0 1.346.29 1.64.8c.237.41.253.93.045 1.464z'/%3E%3C/svg%3E");

		/* Fonts */
		--headers-font-family: 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;
		--text-font-family: 'Selawik Variable', 'Selawik', 'Segoe UI', 'Roboto', 'Open Sans', 'Arial', system-ui, sans-serif;

		/* Global settings */
		accent-color: var(--theme-color);
		color-scheme: dark;
		line-height: 1.4;
		letter-spacing: 0.07em;
	}

	[data-theme='high-contrast'] ::selection {
		background-color: var(--theme-color);
		color: black;
	}

	[data-theme='high-contrast'] ::target-text {
		background-color: var(--secondary-color);
		color: black;
	}

	[data-theme='high-contrast'] a {
		text-decoration-thickness: 0.1em;
		text-underline-offset: 0.2em;
	}

	[data-theme='high-contrast'] p { line-height: 1.7; }

	[data-theme='high-contrast'] pre { background-color: var(--shiki-contrast-bg, var(--surface-1)); }

	[data-theme='high-contrast'] pre span {
		color: var(--shiki-contrast, var(--text-1));
		font-style: var(--shiki-contrast-font-style, normal);
		font-weight: var(--shiki-contrast-font-weight, normal);
		text-decoration: var(--shiki-contrast-text-decoration, none);
	}

	[data-theme='high-contrast'] code .line.diff {
		border-style: solid;
		border-inline-width: 0;
		border-block-width: var(--border-size);
	}

	[data-theme='high-contrast'] code .line.diff.add { border-color: var(--diff-add-color); }
	[data-theme='high-contrast'] code .line.diff.remove { border-color: var(--diff-remove-color); }

	[data-theme='high-contrast'] code .line.highlighted {
		border: var(--border-size) solid var(--highlight-color);
		border-inline-width: 0;
	}

	[data-theme='high-contrast'] code .line.highlighted.error { border-color: var(--highlight-error-color); }
	[data-theme='high-contrast'] code .line.highlighted.warning { border-color: var(--highlight-warning-color); }

	[data-theme='high-contrast'] code .line.highlighted:not(:is(.error, .warning)):has(+ .line.highlighted) { border-block-end-width: 0; }
	[data-theme='high-contrast'] code .line.highlighted:not(:is(.error, .warning)) + .line.highlighted:not(:is(.error, .warning)) { border-block-start-width: 0; }
}
