@layer theme {
	[data-theme='light'] {
		/* Theme colors */
		--theme-color: var(--theme-6);
		--secondary-color: var(--theme-10);
		--accent-color: var(--accent-5);
		--complementary-color: var(--red-7);

		/* Base colors */
		--text-1: var(--gray-11);
		--text-2: var(--gray-9);
		--surface-1: color-mix(in oklch increasing hue, var(--gray-0) 85%, var(--theme-0));
		--surface-2: color-mix(in oklch increasing hue, var(--gray-3) 80%, var(--theme-3));
		--surface-3: color-mix(in oklch increasing hue, var(--gray-6) 80%, var(--theme-6));
		--surface-4: transparent;

		/* Link colors */
		--link-color: var(--theme-12);
		--link-visited-color: var(--theme-10);
		--link-hover-color: var(--accent-9);
		--link-active-color: var(--accent-12);

		/* Code colors */
		--diff-add-color: darkgreen;
		--diff-add-bg: rgba(0, 194, 0, 0.3);
		--diff-remove-color: maroon;
		--diff-remove-bg: rgba(255, 68, 68, 0.3);
		--highlight-color: dimgray;
		--highlight-default-bg: rgba(105, 105, 105, 0.35);
		--highlight-error-color: maroon;
		--highlight-error-bg: rgba(255, 99, 71, 0.3);
		--highlight-warning-color: goldenrod;
		--highlight-warning-bg: rgba(218, 165, 32, 0.3);

		/* Table styles */
		--table-header-bg: var(--theme-2);
		--table-header-color: var(--gray-10);
		--table-header-border: var(--border-size) var(--border-style) var(--theme-color);

		--table-rows-odd: var(--surface-1);
		--table-rows-even: var(--surface-2);
		--table-rows-hover: var(--surface-3);

		--table-footer-bg: var(--theme-1);
		--table-footer-color: var(--text-2);
		--table-footer-border: var(--border-size) var(--border-style) var(--theme-color);

		/* Note styles */
		--note-success-bg: var(--green-11);
		--note-success-color: var(--lime-2);
		--note-error-bg: var(--red-11);
		--note-error-color: var(--red-2);
		--note-warning-bg: var(--yellow-10);
		--note-warning-color: var(--brown-12);
		--note-alert-bg: var(--teal-10);
		--note-alert-color: var(--jungle-2);
		--note-info-bg: var(--blue-12);
		--note-info-color: var(--blue-2);
		--note-debug-bg: var(--purple-10);
		--note-debug-color: var(--violet-2);

		/* Global settings */
		color-scheme: light;
	}
}
