@layer theme {
	[data-theme='light'] {
		/* Theme colors */
		--theme-color: var(--theme-6);
		--secondary-color: var(--theme-10);
		--accent-color: var(--accent-5);
		--complementary-color: var(--red-7);

		/* Base colors */
		--text-1: var(--gray-11);
		--text-2: var(--gray-9);
		--surface-1: color-mix(in oklch increasing hue, var(--gray-0) 85%, var(--theme-0));
		--surface-2: color-mix(in oklch increasing hue, var(--gray-3) 80%, var(--theme-3));
		--surface-3: color-mix(in oklch increasing hue, var(--gray-6) 80%, var(--theme-6));
		--surface-4: transparent;

		/* Link colors */
		--link-color: var(--theme-12);
		--link-visited-color: var(--theme-10);
		--link-hover-color: var(--accent-9);
		--link-active-color: var(--accent-12);

		/* Code colors */
		--diff-add-color: var(--green-12);
		--diff-add-bg: color-mix(in srgb, var(--green-3), transparent);
		--diff-remove-color: var(--red-12);
		--diff-remove-bg: color-mix(in srgb, var(--red-3), transparent);
		--highlight-color: var(--gray-7);
		--highlight-default-bg: color-mix(in srgb, var(--gray-1), transparent);
		--highlight-error-color: var(--red-12);
		--highlight-error-bg: color-mix(in srgb, var(--red-3), transparent);
		--highlight-warning-color: var(--yellow-7);
		--highlight-warning-bg: color-mix(in srgb, var(--choco-7), transparent);

		/* Table styles */
		--table-header-bg: var(--theme-2);
		--table-header-color: var(--gray-10);
		--table-header-border: var(--border-size) var(--border-style) var(--theme-color);

		--table-rows-odd: var(--surface-1);
		--table-rows-even: var(--surface-2);
		--table-rows-hover: var(--surface-3);

		--table-footer-bg: var(--theme-1);
		--table-footer-color: var(--text-2);
		--table-footer-border: var(--border-size) var(--border-style) var(--theme-color);

		/* Note styles */
		--note-success-bg: var(--green-2);
		--note-success-color: var(--lime-12);
		--note-error-bg: var(--red-1);
		--note-error-color: var(--red-12);
		--note-warning-bg: var(--yellow-2);
		--note-warning-color: var(--brown-12);
		--note-alert-bg: var(--teal-2);
		--note-alert-color: var(--teal-11);
		--note-info-bg: var(--blue-2);
		--note-info-color: var(--blue-12);
		--note-debug-bg: var(--violet-2);
		--note-debug-color: var(--purple-12);

		/* Global settings */
		color-scheme: light;
	}
}
