@layer theme {
	[data-theme='system-inverse'] {
		--accent-color: var(--accent-5);
		--secondary-color: var(--theme-1);

		/* Base colors */
		--text-1: var(--gray-1);
		--text-2: var(--gray-5);
		--surface-1: color-mix(in oklch, var(--gray-12) 80%, var(--theme-12));
		--surface-2: color-mix(in oklch, var(--gray-9) 80%, var(--theme-9));
		--surface-3: color-mix(in oklch, var(--gray-6) 80%, var(--theme-6));
		--surface-4: transparent;

		/* Link colors */
		--link-color: var(--theme-3);
		--link-visited-color: var(--theme-1);
		--link-hover-color: var(--accent-4);
		--link-active-color: var(--accent-0);

		/* Code colors */
		--diff-add-color: var(--lime-4);
		--diff-add-bg: color-mix(in srgb, var(--green-10), transparent 80%);
		--diff-remove-color: var(--red-4);
		--diff-remove-bg: color-mix(in srgb, var(--red-11), transparent 80%);
		--highlight-color: var(--gray-5);
		--highlight-default-bg: color-mix(in srgb, var(--gray-7), transparent);
		--highlight-error-color: var(--red-6);
		--highlight-error-bg: color-mix(in srgb, var(--red-12), transparent);
		--highlight-warning-color: var(--yellow-3);
		--highlight-warning-bg: color-mix(in srgb, var(--brown-9), transparent);

		/* Table styles */
		--table-header-bg: var(--theme-9);
		--table-header-color: var(--gray-2);
		--table-header-border: var(--border-size) var(--border-style) var(--theme-color);

		--table-rows-odd: var(--surface-1);
		--table-rows-even: var(--surface-2);
		--table-rows-hover: var(--surface-3);

		--table-footer-bg: var(--theme-12);
		--table-footer-color: var(--text-2);
		--table-footer-border: var(--border-size) var(--border-style) var(--theme-color);

		/* Button styles */
		--button-bg: var(--gray-10);
		--button-color: var(--theme-color);
		--button-border: var(--border-style) var(--border-size) var(--theme-color);
		--button-disabled-bg: var(--gray-10);
		--button-disabled-color: var(--gray-6);
		--button-disabled-border-color: var(--gray-6);
		--button-primary-bg: var(--theme-4);
		--button-primary-color: var(--gray-12);
		--button-primary-border-color: var(--gray-12);
		--button-secondary-bg: var(--surface-2);
		--button-secondary-color: var(--secondary-color);
		--button-secondary-border-color: var(--secondary-color);

		/* Input styles */
		--input-valid-bg: var(--lime-12);
		--input-valid-color: var(--green-2);
		--input-invalid-bg: var(--red-12);
		--input-invalid-color: var(--red-1);

		/* Note styles */
		--note-success-bg: var(--green-11);
		--note-success-color: var(--lime-2);
		--note-error-bg: var(--red-11);
		--note-error-color: var(--red-2);
		--note-warning-bg: var(--yellow-12);
		--note-warning-color: var(--yellow-2);
		--note-alert-bg: var(--teal-10);
		--note-alert-color: var(--jungle-2);
		--note-info-bg: var(--blue-12);
		--note-info-color: var(--blue-2);
		--note-debug-bg: var(--purple-10);
		--note-debug-color: var(--violet-2);

		/* Baseline colors */
		--baseline-high-color: var(--green-6);
		--baseline-high-bg: var(--green-10);
		--baseline-low-color: var(--blue-5);
		--baseline-low-bg: var(--blue-9);
		--baseline-limited-color: var(--orange-6);
		--baseline-limited-bg: var(--gray-7);
		--baseline-no-data-color: var(--gray-5);
		--baseline-no-data-bg: var(--gray-5);

		/* Wheel of fortune */
		--list-highlight-bg: black;
		--list-highlight-color: var(--yellow-7);
		--wheel-highlight-filter: brightness(1.7) saturate(1.7) drop-shadow(0 0 var(--size-4) color-mix(in srgb, var(--yellow-6), transparent));

		--wheel-segment-1-bg: var(--red-9);
		--wheel-segment-1-color: white;
		--wheel-segment-2-bg: var(--lime-11);
		--wheel-segment-2-color: white;
		--wheel-segment-3-bg: var(--choco-8);
		--wheel-segment-3-color: white;
		--wheel-segment-4-bg: var(--blue-8);
		--wheel-segment-4-color: white;
		--wheel-segment-5-bg: var(--yellow-7);
		--wheel-segment-5-color: black;
		--wheel-segment-6-bg: var(--teal-9);
		--wheel-segment-6-color: white;
		--wheel-segment-7-bg: var(--pink-8);
		--wheel-segment-7-color: white;
		--wheel-segment-8-bg: var(--orange-10);
		--wheel-segment-8-color: white;
		--wheel-segment-9-bg: var(--cyan-10);
		--wheel-segment-9-color: white;
		--wheel-segment-10-bg: var(--jungle-10);
		--wheel-segment-10-color: white;
		--wheel-segment-11-bg: var(--indigo-10);
		--wheel-segment-11-color: white;
		--wheel-segment-12-bg: var(--purple-11);
		--wheel-segment-12-color: white;

		color-scheme: dark;

		@media screen and (prefers-color-scheme: dark) {
			--secondary-color: var(--theme-10);
			--accent-color: var(--accent-6);

			/* Base colors */
			--text-1: var(--gray-11);
			--text-2: var(--gray-9);
			--surface-1: color-mix(in oklch increasing hue, var(--gray-0) 85%, var(--theme-0));
			--surface-2: color-mix(in oklch increasing hue, var(--gray-1) 80%, var(--theme-2));
			--surface-3: color-mix(in oklch increasing hue, var(--gray-6) 80%, var(--theme-6));
			--surface-4: transparent;

			/* Link colors */
			--link-color: var(--theme-12);
			--link-visited-color: var(--theme-10);
			--link-hover-color: var(--accent-9);
			--link-active-color: var(--accent-12);

			/* Code colors */
			--diff-add-color: var(--green-12);
			--diff-add-bg: color-mix(in srgb, var(--green-3), transparent 80%);
			--diff-remove-color: var(--red-12);
			--diff-remove-bg: color-mix(in srgb, var(--red-3), transparent 80%);
			--highlight-color: var(--gray-7);
			--highlight-default-bg: color-mix(in srgb, var(--gray-1), transparent);
			--highlight-error-color: var(--red-12);
			--highlight-error-bg: color-mix(in srgb, var(--red-2), transparent);
			--highlight-warning-color: var(--yellow-7);
			--highlight-warning-bg: color-mix(in srgb, var(--choco-7), transparent);
			--highlight-mark-bg: var(--accent-5);
			--highlight-mark-color: var(--gray-10);

			/* Table styles */
			--table-header-bg: var(--theme-2);
			--table-header-color: var(--gray-10);
			--table-header-border: var(--border-size) var(--border-style) var(--theme-color);

			--table-rows-odd: var(--surface-1);
			--table-rows-even: var(--surface-2);
			--table-rows-hover: var(--surface-3);

			--table-footer-bg: var(--theme-1);
			--table-footer-color: var(--text-2);
			--table-footer-border: var(--border-size) var(--border-style) var(--theme-color);

			/* Button styles */
			--button-bg: white;
			--button-color: var(--theme-8);
			--button-border: var(--border-style) var(--border-size) var(--theme-8);
			--button-disabled-bg: var(--gray-5);
			--button-disabled-color: var(--gray-7);
			--button-disabled-border-color: var(--gray-7);
			--button-primary-bg: var(--theme-9);
			--button-primary-color: var(--theme-0);
			--button-primary-border-color: var(--theme-0);
			--button-secondary-bg: var(--surface-2);
			--button-secondary-color: var(--secondary-color);
			--button-secondary-border-color: var(--secondary-color);

			/* Input styles */
			--input-valid-bg: var(--green-2);
			--input-valid-color: var(--lime-12);
			--input-invalid-bg: var(--red-1);
			--input-invalid-color: var(--red-12);

			/* Note styles */
			--note-success-bg: var(--green-2);
			--note-success-color: var(--lime-12);
			--note-error-bg: var(--red-1);
			--note-error-color: var(--red-12);
			--note-warning-bg: var(--yellow-2);
			--note-warning-color: var(--brown-12);
			--note-alert-bg: var(--teal-2);
			--note-alert-color: var(--teal-11);
			--note-info-bg: var(--blue-2);
			--note-info-color: var(--blue-12);
			--note-debug-bg: var(--violet-2);
			--note-debug-color: var(--purple-12);

			/* Baseline colors */
			--baseline-high-color: var(--green-9);
			--baseline-high-bg: var(--green-4);
			--baseline-low-color: var(--blue-9);
			--baseline-low-bg: var(--blue-4);
			--baseline-limited-color: var(--orange-9);
			--baseline-limited-bg: var(--gray-5);
			--baseline-no-data-color: var(--gray-7);
			--baseline-no-data-bg: var(--gray-7);

			/* Wheel of fortune */
			--list-highlight-bg: white;
			--list-highlight-color: var(--yellow-9);
			--wheel-highlight-filter: brightness(1.8) saturate(1.8) drop-shadow(0 0 var(--size-4) color-mix(in srgb, var(--yellow-6), transparent));

			--wheel-segment-1-bg: var(--red-4);
			--wheel-segment-1-color: black;
			--wheel-segment-2-bg: var(--lime-4);
			--wheel-segment-2-color: black;
			--wheel-segment-3-bg: var(--choco-4);
			--wheel-segment-3-color: black;
			--wheel-segment-4-bg: var(--blue-3);
			--wheel-segment-4-color: black;
			--wheel-segment-5-bg: var(--yellow-4);
			--wheel-segment-5-color: black;
			--wheel-segment-6-bg: var(--teal-3);
			--wheel-segment-6-color: black;
			--wheel-segment-7-bg: var(--pink-5);
			--wheel-segment-7-color: black;
			--wheel-segment-8-bg: var(--orange-5);
			--wheel-segment-8-color: black;
			--wheel-segment-9-bg: var(--cyan-4);
			--wheel-segment-9-color: black;
			--wheel-segment-10-bg: var(--jungle-4);
			--wheel-segment-10-color: black;
			--wheel-segment-11-bg: var(--indigo-3);
			--wheel-segment-11-color: black;
			--wheel-segment-12-bg: var(--purple-6);
			--wheel-segment-12-color: black;

			color-scheme: light;
		}
	}
}
