@layer theme {
	[data-theme='uwu'] {
		/* Border */
		--border-size: medium;
		--border-radius: var(--size-2);
		--link-underline: dashed;
		--border-style: dashed;

		/* Theme colors */
		--theme-0: #1e90ff;
		--theme-1: #2c97fd;
		--theme-2: #399efa;
		--theme-3: #46a4f8;
		--theme-4: #52aaf6;
		--theme-5: #5eb0f4;
		--theme-6: #6ab6f2;
		--theme-7: #76bcf0;
		--theme-8: #81c2ee;
		--theme-9: #8cc7ec;
		--theme-10: #97cdea;
		--theme-11: #a2d3e8;
		--theme-12: #add8e6;

		--accent-0: #9932cc;
		--accent-1: #a430c7;
		--accent-2: #ae2fc2;
		--accent-3: #b72dbe;
		--accent-4: #c02bb9;
		--accent-5: #c929b4;
		--accent-6: #d127af;
		--accent-7: #d924ab;
		--accent-8: #e122a6;
		--accent-9: #e91fa1;
		--accent-10: #f01c9d;
		--accent-11: #f81898;
		--accent-12: #ff1493;

		--secondary-0: #dda0dd;
		--secondary-1: #e0a2db;
		--secondary-2: #e3a4d8;
		--secondary-3: #e6a5d6;
		--secondary-4: #e9a7d4;
		--secondary-5: #eca9d1;
		--secondary-6: #efabcf;
		--secondary-7: #f2adcd;
		--secondary-8: #f4afca;
		--secondary-9: #f7b0c8;
		--secondary-10: #fab2c6;
		--secondary-11: #fcb4c3;
		--secondary-12: #ffb6c1;

		--theme-color: var(--theme-0);
		--secondary-color: var(--theme-12);
		--accent-color: var(--accent-0);
		--complementary-color: var(--accent-12);

		/* Base colors */
		--text-1: black;
		--surface-1: var(--secondary-12);
		--surface-2: var(--secondary-0);
		--surface-3: var(--accent-12);
		--surface-4: transparent;

		/* Link colors */
		--link-color: color-mix(in oklch, var(--theme-0), black 80%);
		--link-visited-color: darkorchid;
		--link-hover-color: deeppink;
		--link-active-color: hotpink;

		/* Code colors */
		--diff-add-color: darkgreen;
		--diff-add-bg: rgba(0, 194, 0, 0.3);
		--diff-remove-color: maroon;
		--diff-remove-bg: rgba(255, 68, 68, 0.3);
		--highlight-color: dimgray;
		--highlight-default-bg: rgba(105, 105, 105, 0.35);
		--highlight-error-color: maroon;
		--highlight-error-bg: rgba(255, 99, 71, 0.3);
		--highlight-warning-color: goldenrod;
		--highlight-warning-bg: rgba(218, 165, 32, 0.3);

		/* Baseline colors */
		--baseline-high-color: ;
		--baseline-high-bg: ;
		--baseline-low-color: ;
		--baseline-low-bg: ;
		--baseline-limited-color: ;
		--baseline-limited-bg: ;
		--baseline-no-data-color: ;
		--baseline-no-data-bg: ;

		--baseline-supported-color: ;
		--baseline-supported-bg: ;
		--baseline-unsupported-color: ;
		--baseline-unsupported-bg: ;

		/* Old Buttons */
		--old-button-border: var(--surface-3) solid var(--border-size);
		--old-button-border-visibility: hidden;
		--old-button-tint: color-mix(in srgb, hotpink, transparent 65%);
		--old-button-blend-mode: color;
		--old-button-border-radius: 0.5rem;

		/* Fonts */
		--headers-font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
		--text-font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

		/* Icons */
		--details-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='deeppink' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/svg%3E");

		/* Global settings */
		accent-color: var(--theme-color);
		color-scheme: light;
	}

	[data-theme='uwu'] body {
		animation: 1s steps(5) infinite uwu-cursor-normal;
		cursor: url('./uwu/cursors/normal/1.svg'), auto;
		background-image: linear-gradient(
			to right,
			mistyrose var(--size-1),
			lavenderblush var(--size-1)
		);
		background-size: calc(var(--size-1) * 2);
		background-repeat: repeat;
		background-color: var(--surface-1);
	}

	[data-theme='uwu'] .user-avatar::after {
		opacity: 1;
		mix-blend-mode: hard-light;
		background: radial-gradient(circle at bottom, var(--accent-color), var(--surface-1));
	}

	[data-theme='uwu'] :is(a, button, input, select) {
		animation: 1s steps(5) infinite uwu-cursor-hand;
		cursor: url('./uwu/cursors/hand/1.svg'), auto;
	}

	[data-theme='uwu'] .logo-part {
		fill: var(--theme-color, dodgerblue);
		paint-order: stroke;
		stroke: var(--surface-1, lightpink);
		stroke-width: 5rem;
	}

	[data-theme='uwu'] .logo-extras {
		fill: lavenderblush;
		paint-order: stroke;
		stroke: var(--accent-color, darkorchid);
		stroke-width: 1rem;
	}

	[data-theme='uwu'] .logo-text {
		fill: var(--accent-color, darkorchid);
		font-weight: 700;
		font-family: var(--text-font-family);
	}

	[data-theme='uwu'] #logo-graphics [data-theme] { visibility: hidden; }
	[data-theme='uwu'] #logo-graphics [data-theme='uwu']:where([data-size='full']) { visibility: visible; }

	[data-theme='uwu'] a:focus-visible [data-theme='uwu'] .logo-part {
		fill: var(--surface-1);
		stroke: white;
	}

	[data-theme='uwu'] a:focus-visible [data-theme='uwu'] .logo-extras {
		fill: white;
		stroke: var(--surface-2);
	}

	[data-theme='uwu'] a:focus-visible [data-theme='uwu'] .logo-text { fill: var(--theme-color); }

	[data-theme='uwu'] a:hover [data-theme='uwu'] .logo-part {
		fill: white;
		stroke: var(--link-hover-color);
	}

	[data-theme='uwu'] a:hover [data-theme='uwu'] .logo-extras {
		fill: var(--accent-color);
		stroke: white;
	}

	[data-theme='uwu'] a:hover [data-theme='uwu'] .logo-text { fill: var(--theme-color); }

	[data-theme='uwu'] a:active [data-theme='uwu'] .logo-part {
		fill: var(--link-active-color);
		stroke: white;
	}

	[data-theme='uwu'] a:active [data-theme='uwu'] .logo-extras {
		fill: var(--link-active-color);
		stroke: white;
	}

	[data-theme='uwu'] a:active [data-theme='uwu'] .logo-text { fill: var(--link-active-color); }

	[data-theme='uwu'] ul { list-style: '💖 '; }
	[data-theme='uwu'] ul ul { list-style: '🦋 '; }
	[data-theme='uwu'] ul ul ul { list-style: '🦄 '; }

	[data-theme='uwu'] #site-nav {
		--edge-size: 3rem;
		background: url('/src/assets/css/themes/uwu/border.svg'), linear-gradient(to top, lightpink, lightpink);
		background-position: center bottom, center top;
		background-size: auto var(--edge-size), auto calc(100% - var(--edge-size));
		background-repeat: repeat no-repeat;
		padding-block-end: var(--edge-size);
		max-inline-size: 100%;
	}

	[data-theme='uwu'] #site-nav ul { list-style: none; }

	[data-theme='uwu'] .card { position: relative; }
	[data-theme='uwu'] .card::after {
		--details-size: 5rem;
		display: block;
		position: absolute;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		inline-size: var(--details-size);
		block-size: var(--details-size);
		pointer-events: none;
	}

	[data-theme='uwu'] .card-container:nth-of-type(2n) .card::after {
		inset-block-start: calc(var(--details-size) * 0.3 * -1);
		inset-inline-end: calc(var(--details-size) * 0.3 * -1);
		background-image: url('./uwu/details1.svg');
		content: '';
	}

	[data-theme='uwu'] .card-container:nth-of-type(3n) .card::after {
		inset: auto;
		inset-block-end: calc(var(--details-size) * 0.4 * -1);
		inset-inline-start: calc(var(--details-size) * 0.3 * -1);
		background-image: url('./uwu/details2.svg');
		content: '';
	}

	[data-theme='uwu'] .project-card picture {
		position: relative;
		mask: none;
		overflow: visible;
	}

	[data-theme='uwu'] .project-card picture img { border-radius: var(--radius-round); }

	[data-theme='uwu'] .project-card picture::after {
		display: block;
		position: absolute;
		inset: 0;
		inset-block-end: -20%;
		inset-inline-end: -20%;
		background-image: url('./uwu/mask.svg');
		background-position: top left;
		background-size: contain;
		background-repeat: no-repeat;
		pointer-events: none;
		content: '';
	}

	@container logo (max-width: 25rem) {
		[data-theme='uwu'] #logo-graphics [data-theme='uwu'] { visibility: hidden; }
		[data-theme='uwu'] #logo-graphics [data-theme='uwu']:where([data-size='mini']) { visibility: visible; }
	}

	@container logo (max-width: 15rem) {
		[data-theme='uwu'] #logo-graphics [data-theme='uwu'] { visibility: hidden; }
		[data-theme='uwu'] #logo-graphics [data-theme='uwu']:where([data-size='micro']) { visibility: visible; }
	}

	@keyframes uwu-cursor-normal {
		0% { cursor: url('./uwu/cursors/normal/1.svg'), auto; }
		20% { cursor: url('./uwu/cursors/normal/2.svg'), auto; }
		40% { cursor: url('./uwu/cursors/normal/3.svg'), auto; }
		60% { cursor: url('./uwu/cursors/normal/4.svg'), auto; }
		80% { cursor: url('./uwu/cursors/normal/5.svg'), auto; }
		100% { cursor: url('./uwu/cursors/normal/1.svg'), auto; }
	}

	@keyframes uwu-cursor-hand {
		0% { cursor: url('./uwu/cursors/hand/1.svg'), auto; }
		20% { cursor: url('./uwu/cursors/hand/2.svg'), auto; }
		40% { cursor: url('./uwu/cursors/hand/3.svg'), auto; }
		60% { cursor: url('./uwu/cursors/hand/4.svg'), auto; }
		80% { cursor: url('./uwu/cursors/hand/5.svg'), auto; }
		100% { cursor: url('./uwu/cursors/hand/1.svg'), auto; }
	}
}
