@layer theme {
	[data-theme='y2k'] {
		/* Border */
		--border-width: var(--size-2);
		--border-style: ridge;
		--link-underline: solid;
		--border-radius: 0;

		/* Theme colors */
		--theme-color: aqua;
		--secondary-color: blue;
		--accent-color: yellow;
		--complementary-color: fuchsia;

		/* Base colors */
		--text-1: white;
		--surface-1: black;
		--surface-2: black;
		--surface-3: yellow;

		/* Tag colors */
		--tag-bg: var(--theme-color);
		--tag-color: var(--surface-2);

		/* Link colors */
		--link-color: aqua;
		--link-visited-color: fuchsia;
		--link-hover-color: var(--accent-color);
		--link-active-color: var(--complementary-color);

		/* Code colors */
		--diff-add-color: limegreen;
		--diff-add-bg: rgba(0, 100, 0, 0.3);
		--diff-remove-color: red;
		--diff-remove-bg: rgba(193, 0, 0, 0.3);
		--highlight-color: silver;
		--highlight-default-bg: rgba(192, 192, 192, 0.2);
		--highlight-error-color: tomato;
		--highlight-error-bg: rgba(255, 99, 71, 0.2);
		--highlight-warning-color: yellow;
		--highlight-warning-bg: rgba(218, 165, 32, 0.2);

		/* Baseline colors */
		--baseline-high-color: limegreen;
		--baseline-high-bg: seagreen;
		--baseline-low-color: dodgerblue;
		--baseline-low-bg: darkslateblue;
		--baseline-limited-color: orange;
		--baseline-limited-bg: silver;
		--baseline-no-data-color: silver;
		--baseline-no-data-bg: silver;
		--baseline-supported-color: greenyellow;
		--baseline-supported-bg: black;
		--baseline-unsupported-color: yellow;
		--baseline-unsupported-bg: black;

		/* Old Buttons */
		--old-button-border: none;
		--old-button-border-visibility: visible;
		--old-button-tint: none;
		--old-button-blend-mode: none;
		--old-button-border-radius: 0;

		/* Icons */
		--details-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='aqua' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/svg%3E");
		--external-link-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='fuchsia' d='M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z'/%3E%3C/svg%3E");
		--hr-decoration-icon: none;

		/* Fonts */
		--headers-font-family: 'Comic Sans MS', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
		--text-font-family: 'Comic Sans MS', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

		/* Global settings */
		accent-color: var(--theme-color);
		color-scheme: dark;
	}

	[data-theme='y2k'] body {
		cursor: url('./y2k/arrow.svg'), auto;
		background-image: url('./y2k/bg.svg');
		background-size: 5rem;
		background-repeat: repeat;
	}

	[data-theme='y2k'] a { cursor: url('./y2k/link.svg'), pointer; }

	[data-theme='y2k'] :focus-visible { outline-style: dotted; }

	[data-theme='y2k'] .user-avatar {
		border-color: silver;
		border-radius: 0;
	}

	[data-theme='y2k'] .user-avatar::after { content: none; }

	[data-theme='y2k'] .user-avatar img {
		filter: grayscale(1);
		image-rendering: pixelated;
	}

	[data-theme='y2k'] input {
		border-style: inset;
		border-color: var(--theme-color);
		border-radius: 0;
		background-color: var(--theme-color);
		color: var(--surface-1);
	}

	[data-theme='y2k'] hr { padding: 0; }

	[data-theme='y2k'] input::placeholder { color: var(--surface-1); }

	[data-theme='y2k'] #site-nav a {
		border-width: var(--border-width);
		border-style: outset;
		border-color: var(--theme-color);
		background-color: var(--theme-color);
		padding: var(--size-1) var(--size-2);
		height: var(--size-7);
		color: var(--surface-1);
	}

	[data-theme='y2k'] button {
		cursor: url('./y2k/link.svg'), pointer;
		border-style: outset;
		border-color: var(--theme-color);
		border-radius: 0;
		background-color: var(--theme-color);
		color: var(--surface-1);
	}

	[data-theme='y2k'] :is(#site-nav a, button):focus-visible {
		border-color: var(--text-1);
		background-color: var(--text-1);
		color: var(--surface-1);
	}

	[data-theme='y2k'] :is(#site-nav a, button):hover {
		outline-color: var(--accent-color);
		border-color: var(--accent-color);
		background-color: var(--accent-color);
		color: var(--surface-1);
	}

	[data-theme='y2k'] :is(#site-nav a, button):active {
		outline-color: var(--theme- color);
		border-color: var(--accent-color);
		background-color: var(--accent-color);
		color: var(--theme-color);
	}

	[data-theme='y2k'] .tag {
		background-color: var(--tag-bg);
		padding-inline-start: var(--size-2);
	}

	[data-theme='y2k'] .tag:focus-within { outline-style: dotted; }
	[data-theme='y2k'] .tag a:focus-visible { outline: none; }

	[data-theme='y2k'] .tag::before {
		clip-path: none;
		mask: none;
		content: none;
	}

	[data-theme='y2k'] .card { border: silver ridge var(--border-width); }
	[data-theme='y2k'] .card picture {
		mask: none;
		border: silver ridge var(--border-width);
	}

	[data-theme='y2k'] .project-card img { display: none; }
	[data-theme='y2k'] .project-card img[data-theme-image='y2k'] { display: block; }

	[data-theme='y2k'] .logo-part {
		fill: url(#sunset);
		paint-order: stroke;
		stroke: cyan;
		stroke-width: 2rem;
	}

	[data-theme='y2k'] .logo-extras {
		fill: deeppink;
		fill-opacity: 0.5;
		transform: translate(2.5rem, 2.5rem);
	}

	[data-theme='y2k'] .logo-text {
		fill: cyan;
		paint-order: stroke;
		font-weight: 700;
		font-family: 'Comic Sans MS', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
		stroke: hotpink;
		stroke-width: 0.5rem;
	}

	[data-theme='y2k'] #logo-graphics [data-theme] { visibility: hidden; }
	[data-theme='y2k'] #logo-graphics [data-theme='y2k']:where([data-size='full']) { visibility: visible; }

	[data-theme='y2k'] a:focus-visible [data-theme='y2k'] .logo-part { stroke: deeppink; }
	[data-theme='y2k'] a:focus-visible [data-theme='y2k'] .logo-text { fill: deeppink; }
	[data-theme='y2k'] a:focus-visible [data-theme='y2k'] .logo-extras { fill: deeppink; }

	[data-theme='y2k'] a:hover [data-theme='y2k'] .logo-part {
		fill: url(#rainbow);
		stroke: var(--link-hover-color);
	}
	[data-theme='y2k'] a:hover [data-theme='y2k'] .logo-text { fill: var(--link-hover-color); }
	[data-theme='y2k'] a:hover [data-theme='y2k'] .logo-extras { fill: var(--link-hover-color); }

	[data-theme='y2k'] a:active [data-theme='y2k'] .logo-part { stroke: var(--link-active-color); }
	[data-theme='y2k'] a:active [data-theme='y2k'] .logo-text { fill: var(--link-active-color); }
	[data-theme='y2k'] a:active [data-theme='y2k'] .logo-extras { fill: var(--link-active-color); }

	@container logo (max-width: 25rem) {
		[data-theme='y2k'] #logo-graphics [data-theme='y2k'] { visibility: hidden; }
		[data-theme='y2k'] #logo-graphics [data-theme='y2k']:where([data-size='mini']) { visibility: visible; }
	}

	@container logo (max-width: 15rem) {
		[data-theme='y2k'] #logo-graphics [data-theme='y2k'] { visibility: hidden; }
		[data-theme='y2k'] #logo-graphics [data-theme='y2k']:where([data-size='micro']) { visibility: visible; }
	}
}
