@layer pages {
	main {
		margin-inline: auto;
		padding-block-end: var(--spacing-large);
		width: 100%;
		max-width: var(--max-width);
	}

	#contents { margin-inline: min(10vw, var(--min-width)); }

	@media (max-width: 40rem) { #contents { margin-inline: var(--spacing-large); } }
}
