@layer components {
	m-logo #logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		container-name: logo;
		container-type: inline-size;
		margin-inline: auto;
		width: clamp(var(--min-width, 5rem), 70vmin, var(--medium-width, 30rem));
	}

	m-logo #logo-graphics {
		paint-order: stroke;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	m-logo #logo-text-micro:has(tspan:nth-child(1 of .logo-text-content)) tspan:nth-child(1 of .logo-text-padding-start),
	m-logo #logo-text-micro:has(tspan:nth-child(2 of .logo-text-content)) tspan:nth-child(2 of .logo-text-padding-start),
	m-logo #logo-text-micro:has(tspan:nth-child(3 of .logo-text-content)) tspan:nth-child(3 of .logo-text-padding-start),
	m-logo #logo-text-micro:has(tspan:nth-child(4 of .logo-text-content)) tspan:nth-child(4 of .logo-text-padding-start),
	m-logo #logo-text-micro:has(tspan:nth-child(5 of .logo-text-content)) tspan:nth-child(5 of .logo-text-padding-start),
	m-logo #logo-text-micro:has(tspan:nth-child(6 of .logo-text-content)) tspan:nth-child(6 of .logo-text-padding-start),
	m-logo #logo-text-micro:has(tspan:nth-child(7 of .logo-text-content)) tspan:nth-child(7 of .logo-text-padding-start),
	m-logo #logo-text-micro:has(tspan:nth-child(8 of .logo-text-content)) tspan:nth-child(1 of .logo-text-padding-end),
	m-logo #logo-text-micro:has(tspan:nth-child(9 of .logo-text-content)) :is(.logo-text-padding-start, .logo-text-padding-end),
	m-logo #logo-text-micro:not(:has(.logo-text-content)) { visibility: hidden; }

	m-logo #logo-text-mini:has(tspan:nth-child(1 of .logo-text-content)) tspan:nth-child(1 of .logo-text-padding-start),
	m-logo #logo-text-mini:has(tspan:nth-child(2 of .logo-text-content)) tspan:nth-child(2 of .logo-text-padding-start),
	m-logo #logo-text-mini:has(tspan:nth-child(3 of .logo-text-content)) tspan:nth-child(3 of .logo-text-padding-start),
	m-logo #logo-text-mini:has(tspan:nth-child(4 of .logo-text-content)) tspan:nth-child(4 of .logo-text-padding-start),
	m-logo #logo-text-mini:has(tspan:nth-child(5 of .logo-text-content)) tspan:nth-child(1 of .logo-text-padding-end),
	m-logo #logo-text-mini:has(tspan:nth-child(6 of .logo-text-content)) tspan:nth-child(5 of .logo-text-padding-start),
	m-logo #logo-text-mini:has(tspan:nth-child(7 of .logo-text-content)) tspan:nth-child(6 of .logo-text-padding-start),
	m-logo #logo-text-mini:has(tspan:nth-child(8 of .logo-text-content)) tspan:nth-child(2 of .logo-text-padding-end),
	m-logo #logo-text-mini:has(tspan:nth-child(9 of .logo-text-content)) tspan:nth-child(3 of .logo-text-padding-end),
	m-logo #logo-text-mini:has(tspan:nth-child(10 of .logo-text-content)) tspan:nth-child(7 of .logo-text-padding-start),
	m-logo #logo-text-mini:has(tspan:nth-child(11 of .logo-text-content)) tspan:nth-child(8 of .logo-text-padding-start),
	m-logo #logo-text-mini:has(tspan:nth-child(12 of .logo-text-content)) :is(.logo-text-padding-start, .logo-text-padding-end),
	m-logo #logo-text-mini:not(:has(.logo-text-content)) { visibility: hidden; }

	m-logo #logo-text-full:has(tspan:nth-child(1 of .logo-text-content)) tspan:nth-child(1 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(2 of .logo-text-content)) tspan:nth-child(2 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(3 of .logo-text-content)) tspan:nth-child(3 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(4 of .logo-text-content)) tspan:nth-child(4 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(5 of .logo-text-content)) tspan:nth-child(5 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(6 of .logo-text-content)) tspan:nth-child(6 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(7 of .logo-text-content)) tspan:nth-child(7 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(8 of .logo-text-content)) tspan:nth-child(8 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(9 of .logo-text-content)) tspan:nth-child(9 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(10 of .logo-text-content)) tspan:nth-child(10 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(11 of .logo-text-content)) tspan:nth-child(11 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(12 of .logo-text-content)) tspan:nth-child(12 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(13 of .logo-text-content)) tspan:nth-child(13 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(14 of .logo-text-content)) tspan:nth-child(14 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(15 of .logo-text-content)) tspan:nth-child(1 of .logo-text-padding-end),
	m-logo #logo-text-full:has(tspan:nth-child(16 of .logo-text-content)) tspan:nth-child(2 of .logo-text-padding-end),
	m-logo #logo-text-full:has(tspan:nth-child(17 of .logo-text-content)) tspan:nth-child(15 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(18 of .logo-text-content)) tspan:nth-child(16 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(19 of .logo-text-content)) tspan:nth-child(3 of .logo-text-padding-end),
	m-logo #logo-text-full:has(tspan:nth-child(20 of .logo-text-content)) tspan:nth-child(17 of .logo-text-padding-start),
	m-logo #logo-text-full:has(tspan:nth-child(21 of .logo-text-content)) :is(.logo-text-padding-start, .logo-text-padding-end),
	m-logo #logo-text-full:not(:has(.logo-text-content)) { visibility: hidden; }

	m-logo #logo-graphics [data-theme] { visibility: hidden; }

	m-logo #logo-graphics [data-theme='system']:where([data-size='full']) { visibility: visible; }

	m-logo [data-theme='system'] .logo-part { fill: var(--theme-color, #0080ff); }

	m-logo [data-theme='system'] .logo-text {
		fill: var(--accent-color, #ff8000);
		font-weight: 300;
		font-family: 'Mecano-Light', 'Mecano', monospace;
	}

	m-logo a:focus-visible [data-theme='system'] .logo-part { fill: var(--text-color); }
	m-logo a:focus-visible [data-theme='system'] .logo-text { fill: var(--theme-color); }
	m-logo a:hover [data-theme='system'] .logo-part { fill: var(--link-hover-color); }
	m-logo a:hover [data-theme='system'] .logo-text { fill: var(--theme-color); }
	m-logo a:active [data-theme='system'] .logo-part { fill: var(--link-active-color); }
	m-logo a:active [data-theme='system'] .logo-text { fill: var(--link-active-color); }

	@container logo (max-width: 25rem) {
		m-logo #logo-graphics [data-theme='system'] { visibility: hidden; }
		m-logo #logo-graphics [data-theme='system']:where([data-size='mini']) { visibility: visible; }
	}

	@container logo (max-width: 15rem) {
		m-logo #logo-graphics [data-theme='system'] { visibility: hidden; }
		m-logo #logo-graphics [data-theme='system']:where([data-size='micro']) { visibility: visible; }
	}
}
