button { animation: 3s ease-in-out infinite; }
button text {
	fill: black;
	font-weight: bold;
	font-size: 9px;
}

button .emphasis-text {
	fill: dodgerblue;
	transform: rotate(var(--rotate));
	transform-origin: 50% 50%;
	font-size: 10px;
}

button svg { fill: dodgerblue; }

button:hover .emphasis-text { fill: orangered; }
button:hover svg { fill: orangered; }

button:active .emphasis-text { fill: magenta; }
button:active svg { fill: magenta; }

@media (prefers-reduced-motion: no-preference) { button { animation-name: swing; } }

@media (prefers-contrast: more), (forced-colors: active) {
	button { animation-name: none; }
	button text { fill: var(--text-color); }
	button .emphasis-text { fill: var(--theme-color); }
	button svg { fill: var(--theme-color); }

	button:hover .emphasis-text { fill: var(--accent-color); }
	button:hover svg { fill: var(--accent-color); }

	button:active .emphasis-text { fill: var(--accent-color); }
	button:active svg { fill: var(--accent-color); }
}
