button #button-base { fill: white; }
button text {
	font-weight: bold;
	font-size: 8.5px;
	text-anchor: end;
}

button #icon-php text:nth-of-type(2) {
	dominant-baseline: middle;
	paint-order: stroke;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	stroke: white;
	text-anchor: middle;
}

button:hover #button-base { fill: dimgray; }
button:hover text { fill: white; }
button:hover #icon-php text:nth-of-type(2) { stroke: black; }

button:active #button-base { fill: black; }
button:active text { fill: white; }
button:active #icon-php text:nth-of-type(2) { stroke: black; }
