button #button-base { fill: white; }
button text {
	dominand-baseline: hanging;
	font-family: var(--button-font-ui);
	text-anchor: start;
}

button:hover #button-base { fill: dimgray; }
button:hover text { fill: white; }

button:active #button-base { fill: black; }
button:active text { fill: white; }
