---
import './styles.css';

interface Props {
	subtitle: string;
	shortSubtitle: string;
	url?: URL | string;
	urlTitle?: string;
}

function generateUniqueId() {
	return Math.trunc(Math.random() * 1000000).toString(16);
}

function generateSubtitle(paddingStart: number, paddingEnd: number, subtitle: string) {
	return [
		...new Array(paddingStart).fill(0).map(() => `<tspan class="logo-text-padding-end">-</tspan>`),
		...[...subtitle].map((char) => `<tspan class="logo-text-content">${char}</tspan>`),
		...new Array(paddingEnd).fill(0).map(() => `<tspan class="logo-text-padding-end">-</tspan>`)
	].join('');
}

const { url, urlTitle, subtitle, shortSubtitle } = Astro.props;

const logoLabelId = generateUniqueId();
---
<a href={url} class="u-url url">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		color-interpolation-filters="sRGB"
		preserveAspectRatio="xMinYMin slice"
		id="logo-graphics"
		class="u-logo"
		width="100%"
		height="100%"
		role="img"
		aria-labelledby={`logo-label-${logoLabelId}`}
		shape-rendering="geometricPrecision"
	>
		<title id={`logo-label-${logoLabelId}`}>Marco Campos' Logo{url ? `, to ${urlTitle ?? ''}` : ''}</title>

		<!-- Effects -->
		<defs>
			<linearGradient id="sunset" x1="0" x2="0" y1="0" y2="100%">
				<stop offset="5%" stop-color="royalblue" />
				<stop offset="45%" stop-color="lightskyblue" />
				<stop offset="50%" stop-color="white" />
				<stop offset="50%" stop-color="purple" />
				<stop offset="80%" stop-color="hotpink" />
				<stop offset="95%" stop-color="white" />
			</linearGradient>
		</defs>

		<!-- Text -->
		<defs>
			<text
				id="logo-text-micro"
				x="95%"
				y="85%"
				alignment-baseline="middle"
				dominant-baseline="middle"
				text-anchor="end"
				fill-rule="nonzero"
				text-rendering="optimizeLegibility"
			>
				<Fragment set:html={generateSubtitle(7, 2, shortSubtitle)} />
			</text>
			<text
				id="logo-text-mini"
				x="95%"
				y="85%"
				alignment-baseline="middle"
				dominant-baseline="middle"
				text-anchor="end"
				fill-rule="nonzero"
				text-rendering="optimizeLegibility"
			>
				<Fragment set:html={generateSubtitle(8, 4, shortSubtitle)} />
			</text>
			<text
				id="logo-text-full"
				x="95%"
				y="85%"
				alignment-baseline="middle"
				dominant-baseline="middle"
				text-anchor="end"
				fill-rule="nonzero"
				text-rendering="optimizeLegibility"
			>
				<Fragment set:html={generateSubtitle(17, 4, subtitle)} />
			</text>
		</defs>

		<!-- Logo shapes -->
		<defs>
			<!-- Default Logo -->
			<path
				id="logo-bracket"
				d="M288.669,513.368c-0,-27.363 -7.934,-48.486 -23.336,-63.368c15.402,-13.922 23.336,-35.045 23.336,-62.888l-0,-101.773c-0,-15.842 3.267,-26.884 9.801,-34.085c6.534,-6.721 17.268,-10.081 32.669,-10.081c0,0 9.565,0 17.87,0c3.183,0 6.235,-1.264 8.485,-3.515c2.251,-2.25 3.515,-5.302 3.515,-8.485l0,-14.405c0,-3.182 -1.264,-6.235 -3.515,-8.485c-2.25,-2.251 -5.302,-3.515 -8.485,-3.515l-17.87,0c-25.669,0 -45.737,7.201 -59.272,21.123c-13.535,14.402 -20.535,35.044 -20.535,61.448l-0,101.773c-0,15.362 -3.267,26.403 -9.801,33.124c-7.001,7.201 -13.068,10.562 -28.47,10.562l-1.067,-0c-3.183,-0 -6.235,1.264 -8.486,3.514c-2.25,2.251 -3.515,5.303 -3.515,8.486l0,14.404c0,3.183 1.265,6.235 3.515,8.486c2.251,2.25 5.303,3.514 8.486,3.514c0.664,0 1.067,0 1.067,0c15.402,0 21.469,3.361 28.47,10.082c6.534,7.201 9.801,18.242 9.801,34.084l-0,101.293c-0,26.404 7,47.046 20.535,61.448c13.535,13.922 33.603,21.123 59.272,21.123l17.87,-0c3.183,-0 6.235,-1.264 8.485,-3.515c2.251,-2.25 3.515,-5.303 3.515,-8.485l0,-14.405c0,-3.183 -1.264,-6.235 -3.515,-8.485c-2.25,-2.251 -5.302,-3.515 -8.485,-3.515c-8.305,-0 -17.87,-0 -17.87,-0c-15.401,-0 -26.135,-3.36 -32.669,-10.081c-6.534,-7.201 -9.801,-18.243 -9.801,-34.085l-0,-101.293Z"
			/>
			<path
				id="logo-m"
				d="M556.651,580.617c6.627,-0 12,-5.373 12,-12c-0,-39.83 -0,-165.143 -0,-165.143c-0,-15.842 3.267,-26.883 10.267,-33.604c6.534,-6.721 17.269,-10.082 32.67,-10.082l29.403,0c15.401,0 26.136,3.361 33.136,10.082c6.534,6.721 9.801,17.762 9.801,33.604c0,-0 0,125.313 0,165.143c0,6.627 5.373,12 12,12c4.268,-0 9.07,-0 13.337,-0c6.628,-0 12,-5.373 12,-12c0,-39.83 0,-165.143 0,-165.143c0,-26.403 -7,-47.046 -20.535,-60.968c-14.001,-13.922 -34.07,-21.123 -59.739,-21.123l-29.403,0c-27.536,0 -48.071,7.681 -61.606,23.523c-13.535,-15.842 -33.603,-23.523 -61.139,-23.523l-29.87,0c-26.136,0 -46.204,7.201 -59.739,21.123c-13.534,13.922 -20.535,34.565 -20.535,60.968c-0,-0 -0,125.313 -0,165.143c-0,6.627 5.373,12 12,12c4.267,-0 9.07,-0 13.337,-0c6.627,-0 12,-5.373 12,-12c-0,-39.83 -0,-165.143 -0,-165.143c-0,-15.842 3.267,-26.883 10.268,-33.604c6.533,-6.721 17.268,-10.082 32.669,-10.082l29.87,0c14.935,0 25.669,3.361 32.67,10.082c6.534,6.721 9.801,17.762 9.801,33.604c-0,-0 -0,125.313 -0,165.143c-0,6.627 5.372,12 12,12c4.267,-0 9.069,-0 13.337,-0Z"
			/>

			<path
				id="logo-a"
				d="M837.19,403.474c6.05,-0 11.154,-4.504 11.907,-10.506c1.19,-10.35 4.357,-17.978 9.69,-23.098c6.534,-6.721 17.269,-10.082 32.67,-10.082l58.806,0c14.934,0 25.669,3.361 32.67,10.082c6.533,6.721 9.8,17.762 9.8,33.604l0,27.844l-106.877,-0c-15.401,-0 -28.936,2.4 -39.67,7.201c-11.201,5.28 -19.602,11.521 -24.736,19.682c-5.6,8.161 -9.334,15.842 -11.668,23.523c-2.333,8.161 -3.733,16.322 -3.733,24.483c-0,8.161 1.4,15.842 4.2,24.003c2.334,8.161 6.534,15.842 12.135,24.003c5.6,8.161 14.001,14.402 24.735,19.203c10.735,4.801 23.803,7.201 38.737,7.201l64.407,-0c25.669,-0 45.737,-7.201 59.272,-21.123c13.535,-13.922 20.535,-34.564 20.535,-60.968l0,-95.052c0,-26.403 -7,-47.046 -20.535,-60.968c-13.535,-13.922 -33.603,-21.123 -59.272,-21.123l-58.806,0c-25.669,0 -45.738,7.201 -59.272,21.123c-11.566,11.5 -18.355,27.586 -20.367,47.717c-0.354,3.374 0.739,6.741 3.01,9.262c2.27,2.522 5.504,3.961 8.897,3.961c4.356,0.028 9.213,0.028 13.465,0.028Zm113.073,139.218l-64.407,-0c-28.469,-0 -42.47,-12.002 -42.47,-36.485c-0,-24.483 14.001,-36.484 42.47,-36.484l106.877,-0l0,28.803c0,15.842 -3.267,26.884 -9.8,33.605c-7.001,7.201 -17.736,10.561 -32.67,10.561Z"
			/>
			<path
				id="logo-d"
				d="M1086.08,498.526c-0,26.404 7,47.046 20.535,60.968c13.535,13.922 33.603,21.123 59.739,21.123l63.94,-0c25.669,-0 45.737,-7.201 59.272,-21.123c13.535,-13.922 20.535,-34.564 20.535,-60.968c0,0 0,-208.437 0,-261.155c0,-6.627 -5.372,-12 -12,-12c-4.267,0 -9.069,0 -13.337,0c-6.627,0 -11.999,5.373 -12,12c0,27.674 0,93.614 0,93.614c-11.667,-6.241 -26.135,-9.602 -42.47,-9.602l-63.94,0c-26.136,0 -46.204,7.201 -59.739,21.123c-13.535,13.922 -20.535,34.565 -20.535,60.968l-0,95.052Zm37.337,-95.052c-0,-15.842 3.267,-26.883 10.267,-33.604c6.534,-6.721 17.269,-10.082 32.67,-10.082l63.94,0c14.468,0 25.202,2.881 32.203,9.122c7.001,6.24 10.267,16.322 10.267,30.243l0,99.373c0,15.842 -3.266,26.884 -9.8,33.605c-6.534,6.72 -17.269,10.081 -32.67,10.081l-63.94,-0c-15.401,-0 -26.136,-3.361 -32.67,-10.081c-7,-6.721 -10.267,-17.763 -10.267,-33.605l-0,-95.052Z"
			/>
			<path
				id="logo-c"
				d="M1579.94,403.954c3.392,0 6.626,-1.436 8.901,-3.952c2.275,-2.516 3.379,-5.877 3.039,-9.252c-1.996,-20.522 -8.727,-36.695 -19.954,-48.244c-13.535,-13.922 -33.604,-21.123 -59.273,-21.123l-63.939,0c-26.136,0 -46.205,7.201 -59.739,21.123c-13.535,13.922 -20.536,34.565 -20.536,60.968l0,95.052c0,26.404 7.001,47.046 20.536,60.968c13.534,13.922 33.603,21.123 59.739,21.123l63.939,-0c25.669,-0 45.738,-7.201 59.273,-21.123c11.182,-11.502 17.904,-27.591 19.903,-47.726c0.352,-3.373 -0.744,-6.738 -3.014,-9.257c-2.271,-2.519 -5.503,-3.958 -8.895,-3.958c-4.354,-0.027 -9.208,-0.027 -13.459,-0.027c-6.059,0 -11.167,4.517 -11.91,10.53c-1.173,10.338 -4.254,17.958 -9.228,23.075c-6.534,6.72 -17.268,10.081 -32.67,10.081l-63.939,-0c-15.402,-0 -26.136,-3.361 -32.67,-10.081c-7.001,-6.721 -10.268,-17.763 -10.268,-33.605l0,-95.052c0,-15.842 3.267,-26.883 10.268,-33.604c6.534,-6.721 17.268,-10.082 32.67,-10.082l63.939,0c15.402,0 26.136,3.361 32.67,10.082c4.974,5.482 8.055,13.19 9.243,23.547c0.739,6.009 5.842,10.523 11.896,10.523c4.257,0.014 9.119,0.014 13.478,0.014Z"
			/>

			<path
				id="logo-p"
				d="M2546.29,400.67c0,-26.398 -6.999,-47.037 -20.532,-60.957c-13.533,-13.919 -33.598,-21.119 -59.264,-21.119l-63.93,0c-26.132,0 -46.198,7.2 -59.73,21.119c-13.533,13.92 -20.533,34.559 -20.533,60.957c0,0 0,221.073 0,275.506c0,3.183 1.265,6.235 3.515,8.486c2.25,2.25 5.303,3.514 8.485,3.514l13.332,0c3.182,0 6.235,-1.264 8.485,-3.514c2.251,-2.251 3.515,-5.303 3.515,-8.486c-0,-30.39 -0,-107.994 -0,-107.994c11.666,6.24 26.132,9.6 42.931,9.6l63.93,-0c25.666,-0 45.731,-7.2 59.264,-21.119c13.533,-13.92 20.532,-34.559 20.532,-60.957l0,-95.036Zm-37.331,95.036c-0,15.839 -3.267,26.878 -9.8,33.598c-6.533,6.72 -17.265,10.08 -32.665,10.08l-63.93,-0c-14.466,-0 -25.199,-3.36 -32.198,-9.6c-7,-6.24 -10.733,-15.839 -10.733,-29.759l-0,-99.355c-0,-15.839 3.266,-26.878 10.266,-33.598c6.533,-6.72 17.266,-10.08 32.665,-10.08l63.93,0c15.4,0 26.132,3.36 32.665,10.08c6.533,6.72 9.8,17.759 9.8,33.598l-0,95.036Z"
			/>
			<path
				id="logo-o"
				d="M2826.27,400.67c-0,-26.398 -7,-47.037 -20.532,-60.957c-13.533,-13.919 -33.599,-21.119 -59.264,-21.119l-63.93,0c-26.133,0 -46.198,7.2 -59.731,21.119c-13.533,13.92 -20.532,34.559 -20.532,60.957l-0,95.036c-0,26.398 6.999,47.037 20.532,60.957c13.533,13.919 33.598,21.119 59.731,21.119l63.93,-0c25.665,-0 45.731,-7.2 59.264,-21.119c13.532,-13.92 20.532,-34.559 20.532,-60.957l-0,-95.036Zm-37.332,95.036c0,15.839 -3.266,26.878 -9.799,33.598c-6.533,6.72 -17.266,10.08 -32.665,10.08l-63.93,-0c-15.4,-0 -26.133,-3.36 -32.666,-10.08c-6.999,-6.72 -10.266,-17.759 -10.266,-33.598l0,-95.036c0,-15.839 3.267,-26.878 10.266,-33.598c6.533,-6.72 17.266,-10.08 32.666,-10.08l63.93,0c15.399,0 26.132,3.36 32.665,10.08c6.533,6.72 9.799,17.759 9.799,33.598l0,95.036Z"
			/>
			<path
				id="logo-s"
				d="M3086.25,400.19c3.4,0 6.639,-1.441 8.915,-3.966c2.275,-2.526 3.373,-5.897 3.021,-9.278c-2.026,-20.128 -8.747,-36.213 -19.927,-47.713c-13.533,-13.919 -33.599,-20.639 -59.264,-20.639l-57.864,0c-23.799,0 -42.931,6.24 -57.397,19.199c-14.466,12.96 -21.466,31.199 -21.466,54.238c0,23.039 7,40.798 20.999,52.797c13.533,12 33.132,18.239 58.797,18.239l58.797,0c14,0 24.733,3.36 32.199,10.56c7,7.199 10.733,17.279 10.733,29.758c-0,24.479 -14.466,36.479 -42.932,36.479l-58.797,-0c-15.399,-0 -26.132,-3.36 -32.665,-10.56c-4.973,-5.115 -8.053,-12.734 -9.241,-23.067c-0.741,-6.006 -5.843,-10.517 -11.895,-10.517c-4.249,-0.014 -9.102,-0.014 -13.454,-0.014c-3.399,-0 -6.639,1.441 -8.915,3.966c-2.275,2.526 -3.373,5.897 -3.021,9.278c2.027,20.128 8.748,36.213 19.928,47.713c13.532,13.919 33.598,21.119 59.263,21.119l58.797,-0c24.733,-0 44.332,-6.72 58.798,-19.679c14.466,-12.96 21.465,-31.679 21.465,-55.198c0,-24.478 -6.999,-43.678 -21.465,-57.597c-14.466,-13.439 -34.065,-20.159 -58.798,-20.159l-58.797,0c-28.465,0 -42.464,-11.039 -42.464,-33.118c-0,-23.519 13.999,-35.519 41.531,-35.519l57.864,0c15.399,0 26.132,3.36 32.665,10.08c4.973,5.115 8.053,12.734 9.241,23.067c0.741,6.006 5.844,10.517 11.895,10.517c4.25,0.014 9.102,0.014 13.454,0.014Z"
			/>

			<!-- Logo UWU -->
			<path
				id="logo-uwu-bracket"
				d="M371.73 707.12c-2.7 12.79-24.87 57.59-33.68 87.18 0 0-8.04 10.83-18.87 2.8-11.07-7.2-39.8-27.07-43.21-29.39-2.87-2.62-10.47-6.12-9.13-18.85 0 0 26.25-75.27 33.5-91.3 0 0 11.25-12.64 18.84-9.14 7.6 3.5 36.24 33.3 41.38 37.46 7.73 6.25 13.18 10.96 11.17 21.24Zm-110.7-48.02c-1.92-5.97-9.33-46.92-13.76-53.6-4.74-7.22-21.04-2.33-21.04-2.33-14.43 9.48-133.6 93.73-133.6 93.73-8.63 9.76-3.9 16.98-2.63 20.5.73 3.82 14.08 36.52 19.07 49.22 4.7 12.18 17.4 7.18 17.4 7.18 23.9-19 123.43-81.7 132.9-91.22 8.7-8.39 4.5-15.9 1.66-23.48Zm-1.54-170.35c-17.69-1.39-97.2.09-97.2.09-12.53 2.78-12.68 11.32-14.16 14.97-1.49 3.65-9.82 37.9-13.06 50.99-3.79 13.39 9.3 16.64 9.3 16.64 30.46-2.24 80 3.18 93.67 1.17 10.92-1.88 12.75-9.95 15.42-17.78 2.19-6.16 20.84-43.37 21.3-51.37.15-8.54-15.27-14.71-15.27-14.71Z"
			/>
			<path
				id="logo-uwu-m"
				d="M372.15 533.88c0 11.07 8.61 12.91 8.61 12.91 17.83-4.3 54.73-14.76 67.03-20.91 12.3-6.76 11.69-15.99 11.69-15.99 6.15-76.26 7.38-161.13 7.38-161.13 1.23 11.69 33.2 128.54 35.05 137.15 4.3 19.68 35.06 2.46 40.6-8 4.3-14.14 28.28-162.36 28.28-162.36 1.84 43.05 13.53 167.28 12.91 181.43-.61 14.76 10.46 14.76 10.46 14.76 16.6-3.7 55.35-19.07 66.42-25.83 11.07-6.77 9.84-16.6 9.84-16.6l-5.54-31.99c-19.06-138.37-17.83-303.8-19.68-319.8-1.23-15.98-14.76-11.68-14.76-11.68-39.35 1.23-67.03 18.45-73.8 20.91-7.37 2.46-11.06 16-11.06 16-4.3 37.5-26.45 121.15-26.45 121.15-19.68-44.9-20.9-94.71-25.21-111.32-4.3-16.6-13.53-12.3-13.53-12.3-17.84 3.7-62.12 20.91-70.11 27.68-8 7.38-6.15 15.37-6.15 15.37-20.91 63.35-30.13 255.22-31.98 350.54Z"
			/>
			<path
				id="logo-uwu-a"
				d="M957.6 444.34c-36.9-192.5-44.89-260.76-47.96-338.24-.62-10.46-12.92-20.91-22.76-18.45-4.3 1.23-81.18 19.06-104.55 33.82-11.07 6.76-14.76 16.6-14.76 16.6-8.6 25.83-15.98 67.04-27.05 132.84-12.3 68.26-20.3 167.28-24.6 233.7-.62 4.92-1.23 11.68 6.15 11.68 8 .62 46.12-4.92 60.88-9.22 14.76-4.3 15.37-12.92 15.37-12.92 0-18.45 1.23-37.51 3.08-56.58 17.83-8.6 41.82-17.83 68.88-22.75 4.92 25.21 8 51.04 9.84 57.2 4.3 17.83 14.14 13.52 18.45 12.3 3.69-1.24 35.05-8.62 49.81-16.61 14.76-8.61 9.23-23.37 9.23-23.37Zm-144.52-91.02c8-65.8 10.46-80.56 23.99-133.45 3.07 39.97 12.91 84.87 19.06 120.54a709 709 0 0 0-43.05 12.91Z"
			/>
			<path
				id="logo-uwu-d"
				d="M1289.29 381.76c-11.45-63.43-45.78-86.35-84.36-89.9-66.75-6.15-148.04 45.03-155.18 48.7-11.7 6.33-12.82 18.58-13.56 26.54-.73 7.96 6.53 318.04 6.53 318.04.87 17.37 20.2 15.45 20.2 15.45 44.37 1 117.52-35.5 162.98-106.65 43.23-67.05 61.11-120.36 65.06-163.23a190.8 190.8 0 0 0-1.67-48.94Zm-89.6 60.92c-18.46 113.17-73.56 148.24-73.56 148.24l3.18-195.48s25.52-15.56 46.34-13.64c17.15 1.58 31.27 15.85 24.04 60.88Z"
			/>
			<path
				id="logo-uwu-c"
				d="M1512.66 292.57s5.01-32.4 9.15-60.76c1.84-15.08 1.66-20.75-12.1-24.83-8.96-2.78-29.86-5.03-54.87 1.4-28.6 7.34-61.88 26.05-87.42 67.54 0 0-32.9 54.8-6.7 161.73 20.06 80.56 52.16 131.37 87.29 166.79 17.12 17.19 47.3 25.94 78.28 17.99 25.6-6.58 51.89-25.4 72.25-59.84l7.08-11.98s5.48-5.85 1.55-13.73c-4.68-8.32-7.82-10.69-7.82-10.69s-13.97-14.82-31.2-27.54c-13.5-10.5-17.16-.04-20.41 4.6-1.48 1.66-14.6 27.25-31.27 31.53-7.74 2-16.12-.94-24.69-12.07-19.26-25.53-34.09-58.54-43.42-94.88a351.79 351.79 0 0 1-9.95-60.94c-1.32-19.98-.12-42.5 22.43-61 9.05-6.77 25.3-7.77 41.9-2.51 0 0 9.12 3.37 9.92-10.8Z"
			/>
			<path
				id="logo-uwu-p"
				d="M2540.95 381.03c-16.16-27.27-38.88-36.36-62.11-36.36-45.45 0-94.43 34.84-108.57 43.43-21.71 13.13-14.14 30.3-14.14 30.3.5 31.3 18.69 251.97 18.69 251.97.5 14.64 8.58 12.12 8.58 12.12s29.29-4.54 42.92-12.62c13.13-7.58 9.6-15.66 9.6-15.66l-2.02-55.04c62.1-18.68 121.7-93.92 121.7-163.6 0-19.2-4.55-37.88-14.65-54.54Zm-108.57 147.45-1-21.21-4.05-72.21s12.12-16.67 40.9-15.15c10.61.5 16.16 12.12 16.16 27.27 0 26.26-16.15 64.13-52 81.3Z"
			/>
			<path
				id="logo-uwu-o"
				d="M2702.69 246.56c-80.29 15.65-106.55 70.7-104.02 157.04 2.52 80.8 22.22 176.24 93.92 176.24 5.56 0 11.11-.51 17.17-1.52 80.8-15.15 102-104.02 99.48-190.88-2.53-79.27-25.76-142.9-87.36-142.9-6.06 0-12.63 1.01-19.19 2.02Zm33.83 147.95c.5 47.47-9.6 104.53-31.81 112.61-23.73 9.09-33.33-53.53-33.33-100.49 0-47.46 11.11-72.71 33.83-80.79 20.7-8.08 31.31 21.2 31.31 68.67Z"
			/>
			<path
				id="logo-uwu-s"
				d="M2999.05 231.11s-77.76 24.24-114.12 87.87c-14.64 25.24-19.7 44.94-19.7 60.09 0 22.72 11.11 35.34 18.69 41.4 12.62 10.1 62.61 23.23 62.61 23.23s27.27 5.05 20.2 29.29c-5.05 15.65-37.36 39.39-56.05 43.43 0 0-11.61 5.05-11.1 14.13.5 9.6 2.01 31.82 8.58 43.94 6.06 11.61 26.26 1.51 35.85-4.04 9.6-5.05 84.33-35.86 98.47-115.13a96.26 96.26 0 0 0 1.51-16.16c0-63.63-77.26-65.14-80.29-67.67-1.51-1.51-15.65-3.03-15.65-12.62 0-5.56 4.04-13.13 17.17-25.25 5.55-5.05 16.16-17.17 45.95-23.73 0 0 14.14-6.06 12.62-18.69-1.51-12.12-7.57-53.52-10.1-58.07-2.52-4.04-11.61-2.52-14.64-2.02Z"
			/>

			<path
				id="logo-uwu-ma"
				d="M691.8 708.43a309.08 309.08 0 0 1 24.85 27.9c1.3 1.55 1.94 2.92 1.95 4.1.01 1.37-.8 2.89-2.43 4.54-6.9 7-12.97 12.56-18.24 16.71-1.54.93-2.73 1.4-3.55 1.4-1.1 0-2.24-.8-3.44-2.44-26.04-33.08-55.37-61.33-88-84.74a2.7 2.7 0 0 1-.3-4.13 843.76 843.76 0 0 1 17.66-16.66c1.27-.93 2.32-1.39 3.14-1.4.64 0 1.97.63 3.99 1.9 18.82 13.56 32.14 23.92 39.95 31.08 18.64-16.33 38-36.06 58.07-59.19a4.43 4.43 0 0 0-3.4-7.33l-108.43 1.28c-20.55.15-37.94.96-52.18 2.43-2.74.02-4.4-1.65-4.97-5.03a256.3 256.3 0 0 1-2.89-20.6 7.96 7.96 0 0 1 8.48-8.7c12.56.7 29.86.96 51.88.8l115.08-.83c11.87-.09 19.63-1.01 23.27-2.77 1.55-.93 2.87-1.4 3.96-1.4 1.65-.01 3.2.7 4.68 2.16a138.4 138.4 0 0 1 20.43 22.32c1.48 2.45 2.23 4.5 2.24 6.15.02 2.37-1.2 4.34-3.66 5.91-7 5.17-11.44 8.76-13.34 10.79-24.83 27.85-49.76 53.1-74.8 75.75Z"
			/>
			<g id="logo-uwu-dc">
				<path
					d="M1184.13 128.06c21.9 2.64 40.73 6.88 56.5 12.72 1.6.48 2.5 1.28 2.7 2.4.08.44.06.94-.05 1.51a95.21 95.21 0 0 1-4.42 15.63c-.47 1.36-1.08 2.11-1.83 2.25a2.78 2.78 0 0 1-2-.46c-17.28-7.05-33-11.42-47.18-13.12l6.76 36.43a1395.37 1395.37 0 0 0 6.72 32.6c.25 1.34-.62 2.2-2.6 2.56a114.21 114.21 0 0 1-14.64 2.72c-2.09.39-3.29-.25-3.6-1.9a815.6 815.6 0 0 0-5.37-32.53l-15.04-81.05a179.03 179.03 0 0 0-4.54-19.32 4.06 4.06 0 0 1 3.49-5.3c7.16-.7 12.5-.91 16-.61 2.16.04 3.38.78 3.65 2.23.17.91-.05 2.26-.66 4.03-.48 1.59.1 6.8 1.74 15.65l4.37 23.56Zm23.28-39.92 7.57-7.64c.32-.34.65-.54.97-.6.37-.07.9.08 1.58.46 6.43 3.3 12.72 8.2 18.87 14.7.4.38.63.75.7 1.13.1.48-.11 1.02-.61 1.6l-6.06 6.37c-.41.47-.8.73-1.18.8-.48.1-1.03-.17-1.64-.77-6.6-6.87-13.33-12.22-20.2-16.05Zm13.1-13.66 7.18-7.49c.33-.34.65-.53.97-.6.38-.06.88.1 1.5.48A64.67 64.67 0 0 1 1249 80.92c.42.48.67.9.74 1.28.1.59-.12 1.18-.67 1.78l-5.64 6.37c-.42.42-.82.66-1.2.73-.58.1-1.16-.15-1.72-.76a79.23 79.23 0 0 0-19.99-15.84Z"
				/>
				<path
					d="M1297.26 127.88a6.28 6.28 0 0 1 5.56-8.09 307.7 307.7 0 0 0 28.23-4.11l53.06-9.85c5.2-.97 11.89-2.29 20.06-3.97 10.42-2.1 16.33-3.31 17.7-3.62l.81-.15c1.45-.27 2.32.37 2.6 1.93a123.76 123.76 0 0 1 2.89 15.52c.3 1.66-.32 2.63-1.87 2.92l-.65.12c-16.5 2.84-28.76 5-36.8 6.5l-59.26 11-23.83 6.5c-2.09.39-3.56-.53-4.42-2.76a115.22 115.22 0 0 1-4.08-11.94Z"
				/>
			</g>

			<g id="logo-uwu-am">
				<path
					d="M1951.34 100.67a278.96 278.96 0 0 0-2.72-20.06 64.25 64.25 0 0 0-2.07-8.06 2.8 2.8 0 0 1 2.44-3.7c6.62-.53 11.97-.61 16.04-.25 1.78.2 2.82 1.07 3.11 2.6.17.87.1 1.85-.18 2.95-.68 1.87-.89 4.3-.62 7.28.14.97.41 3.43.82 7.38.35 2.86.63 5.64.85 8.33l22.37-4.28 20.45-4.21c2.06-.4 3.22.08 3.48 1.42l2.42 15.8c3.5 22.14 4.77 38.63 3.8 49.45-.4 6.44-1.79 11.53-4.16 15.26-2.13 3.4-5.28 6.06-9.43 8-3.87 1.84-8.71 3.3-14.51 4.42-1.78.34-3.14-.42-4.1-2.27-2.1-3.58-4.6-6.6-7.48-9.07a1.94 1.94 0 0 1 .9-3.4l2.04-.39c5.9-1.12 10.29-2.46 13.17-4.01a9.35 9.35 0 0 0 4.22-4.46c.77-1.69 1.27-4.15 1.5-7.37.48-11.23-.87-26.23-4.07-45.01l-29.78 5.7c.5 18.75-1.26 33.18-5.28 43.3-5.09 13.45-13.55 25.56-25.41 36.33-1.1 1-2.16 1.6-3.16 1.8-1.01.2-2.04-.11-3.08-.9a32.97 32.97 0 0 0-8.54-4.58 3.11 3.11 0 0 1-.92-5.3c11.14-9.57 19.24-20.57 24.29-33 3.38-8.81 4.9-20.09 4.56-33.84l-13.31 2.54a313.66 313.66 0 0 0-21 4.85l-.36.06c-1.1.22-1.88-.5-2.35-2.16-.7-1.81-1.66-5.09-2.89-9.83a3.88 3.88 0 0 1 3.21-4.84c5.57-.82 12.33-2 20.28-3.51l15.47-2.97Z"
				/>
				<path
					d="M2094.6 48.7a5.64 5.64 0 0 1 6.45-5.76c6.73.89 11.56 1.92 14.47 3.1 1.36.6 2.11 1.27 2.26 2.04.15.81-.16 1.9-.95 3.23-1.33 2.65-2.54 7.1-3.63 13.38-5.43 33.15-9.67 56.86-12.7 71.11 21.7-6.1 38.53-11.26 50.5-15.49a146.25 146.25 0 0 0-20.9-20.38l11.5-9.59c.48-.38.9-.62 1.29-.69.67-.13 1.47.17 2.4.88 14.32 11.43 27.33 25.6 39.02 42.5.5.6.82 1.2.94 1.83.19.96-.3 1.92-1.46 2.89a78.5 78.5 0 0 1-10 8.18c-.56.4-1.13.66-1.7.77-.92.18-1.75-.39-2.5-1.68a451.22 451.22 0 0 0-7.43-10.8c-17.6 6.2-40.37 13.51-68.28 21.94-8.46 2.56-13.99 4.86-16.58 6.9-.61.42-1.21.68-1.79.8-1.15.21-2.06-.29-2.74-1.5-1.28-1.76-3.5-6.12-6.64-13.1a4 4 0 0 1 2.99-5.63c1.24-.21 2.54-.44 3.88-.7 1.58-.3 4.57-.93 8.96-1.87 5.03-26.46 8.96-52.42 11.8-77.87.6-5.52.88-10.34.84-14.49Z"
				/>
			</g>
			<g id="logo-uwu-pos">
				<path
					d="m2526.7 166.42-1.8-6.8a161.69 161.69 0 0 0-4.97-15.98 5.1 5.1 0 0 1 3.95-6.97c5.2-.83 9.22-1.35 12.05-1.55 1.85-.08 2.92.42 3.2 1.5.18.67.13 1.62-.15 2.85-.5 2.1.27 7.07 2.34 14.91l2.02 7.65 17.85-4.71a837.24 837.24 0 0 0 29.64-8.81c1.08-.29 1.83.35 2.24 1.9.51 1.74.95 3.3 1.3 4.66.64 2.4 1.16 4.64 1.55 6.71.33 1.99-.12 3.09-1.32 3.3-15.19 3.51-25.2 5.9-30.07 7.19l-17.07 4.5 7.88 29.28 6.94 25.14c1.86 7.03.32 12.77-4.62 17.2-4.59 4.45-10.35 7.68-17.28 9.72-1.52.4-2.94-.31-4.28-2.13a36.63 36.63 0 0 0-7.02-6.81 3.24 3.24 0 0 1 .91-5.7c5.79-1.8 9.85-3.43 12.19-4.93 1.96-1.57 2.5-4 1.64-7.25l-13.21-50.07-22.8 6.02a312.9 312.9 0 0 0-24.81 7.61c-1.28.34-2.17-.46-2.68-2.4-1.4-4.31-2.47-7.72-3.23-10.24a3.3 3.3 0 0 1 2.55-4.16c7.68-1.5 15.68-3.34 23.97-5.53l23.09-6.1Zm-27.14 39.3a3.5 3.5 0 0 1 3.81-3.54 57.2 57.2 0 0 1 12.8 2.4c1.72.6 2.7 1.33 2.92 2.18.19.7-.15 1.63-1 2.77-1.01 1.37-1.78 3.32-2.33 5.84-2.19 11.03-5.41 20.54-9.66 28.53-.79 1.42-1.58 2.24-2.39 2.45a4.7 4.7 0 0 1-2.49-.25 61.91 61.91 0 0 0-8.79-2.35 3.55 3.55 0 0 1-2.65-5.13c4.14-8.2 7.06-16.18 8.76-23.93a34.6 34.6 0 0 0 1.02-8.97Zm71.63-9.87a3.5 3.5 0 0 1-.82-5.2 1484.92 1484.92 0 0 1 6.4-7.6 3.17 3.17 0 0 1 1.63-1.26c.76-.2 1.6.05 2.55.76 7.93 3.82 17.18 10.84 27.76 21.08a4.5 4.5 0 0 1 1.34 1.92c.2.75-.09 1.66-.87 2.73-1.58 2.59-4.18 5.87-7.77 9.85-.72.75-1.26 1.17-1.64 1.27-.52.14-1.13-.18-1.84-.95-8.49-9.11-17.4-16.64-26.74-22.6Zm.9-83.3c4.68-1.24 9-.56 12.96 2.03a15.47 15.47 0 0 1 6.8 9.42c1.23 4.62.52 8.93-2.12 12.9a15.62 15.62 0 0 1-9.43 6.74 15.5 15.5 0 0 1-12.96-2.04 15.37 15.37 0 0 1-6.78-9.34c-1.27-4.82-.59-9.19 2.06-13.12a15.96 15.96 0 0 1 9.47-6.6Zm1.83 6.94a8.54 8.54 0 0 0-5.71 4.46 8.87 8.87 0 0 0-.57 6.44 8.6 8.6 0 0 0 10.83 6.3 8.54 8.54 0 0 0 5.71-4.46c1-1.98 1.2-4.1.6-6.36a8.62 8.62 0 0 0-10.86-6.38Z"
				/>
				<path
					d="M2791.05 159.9a365.8 365.8 0 0 1 32.21 44.74c.59.94.8 1.71.66 2.33-.14.62-.64 1.26-1.5 1.91a80 80 0 0 1-12.1 7.7c-.75.44-1.4.58-1.98.45-.57-.13-1.17-.68-1.8-1.62a272.26 272.26 0 0 0-29.5-45.09c-18.98 12.38-38.34 21.43-58.07 27.15-1.94.36-3.14.48-3.62.36a3.26 3.26 0 0 1-2.2-1.86c-1.48-3.1-3.82-6.28-7.01-9.53a2.35 2.35 0 0 1 1.1-3.92c11.43-2.99 21.56-6.42 30.4-10.32a193.4 193.4 0 0 0 25.58-13.9 193.35 193.35 0 0 0 36-30.26l-37.69-8.63a304.3 304.3 0 0 0-23.32-4.46c-.98-.13-1.43-1.11-1.35-2.95 0-3.14.5-7.13 1.49-11.98a3.28 3.28 0 0 1 4.15-2.5c5.1 1.43 12.15 3.2 21.17 5.31l40.15 9.36c5.1 1.19 8.55 1.52 10.38 1 .61-.27 1.2-.33 1.77-.2.48.11 1.22.69 2.23 1.73 2.57 3.2 4.93 7.36 7.1 12.48.28.92.38 1.6.28 2.02-.24 1-1.1 1.82-2.61 2.48a28.8 28.8 0 0 0-6.86 5.24 259.9 259.9 0 0 1-25.06 22.96Z"
				/>
			</g>
		</defs>

		<svg viewBox="0 0 1100 900" data-theme="system" data-size="micro">
			<g class="logo-part">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<use class="logo-text" xlink:href="#logo-text-micro" />
		</svg>

		<svg viewBox="0 0 2000 900" data-theme="system" data-size="mini">
			<g class="logo-part">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" />
				<use xlink:href="#logo-a" />
				<use xlink:href="#logo-d" />
				<use xlink:href="#logo-c" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<use class="logo-text" xlink:href="#logo-text-mini" />
		</svg>

		<svg viewBox="0 0 3500 900" data-theme="system" data-size="full">
			<g class="logo-part">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" x="20" />
				<use xlink:href="#logo-a" />
				<use xlink:href="#logo-d" />
				<use xlink:href="#logo-c" />
				<use xlink:href="#logo-a" x="830" />
				<use xlink:href="#logo-m" x="1540" />
				<use xlink:href="#logo-p" />
				<use xlink:href="#logo-o" />
				<use xlink:href="#logo-s" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<use class="logo-text" xlink:href="#logo-text-full" />
		</svg>

		<svg viewBox="0 0 1100 900" data-theme="uwu" data-size="micro">
			<g class="logo-part">
				<use xlink:href="#logo-uwu-bracket" transform="translate(-30, -50)" />
				<use xlink:href="#logo-uwu-m" transform="translate(50, 100)" />
				<use xlink:href="#logo-uwu-bracket" transform="rotate(190) translate(30, 80)" transform-origin="center" />
			</g>

			<use class="logo-extras" xlink:href="#logo-uwu-ma" transform="translate(-220, -210) scale(0.72) rotate(-7)" />

			<use class="logo-text" xlink:href="#logo-text-micro" transform="rotate(-4.7)" />
		</svg>

		<svg viewBox="0 0 2000 900" data-theme="uwu" data-size="mini">
			<g class="logo-part">
				<use xlink:href="#logo-uwu-bracket" />
				<use xlink:href="#logo-uwu-m" />
				<use xlink:href="#logo-uwu-a" />
				<use xlink:href="#logo-uwu-d" />
				<use xlink:href="#logo-uwu-c" />
				<use xlink:href="#logo-uwu-bracket" transform="rotate(190) translate(90, 150)" transform-origin="center" />
			</g>

			<g class="logo-extras">
				<use xlink:href="#logo-uwu-ma" />
				<use xlink:href="#logo-uwu-dc" />
			</g>

			<use class="logo-text" xlink:href="#logo-text-mini" transform="translate(0, 100) rotate(-4.7)" />
		</svg>

		<svg viewBox="0 0 3500 900" data-theme="uwu" data-size="full">
			<g class="logo-part">
				<use xlink:href="#logo-uwu-bracket" transform="translate(-20, -40) scale(1.12)" />
				<use xlink:href="#logo-uwu-m" transform="translate(-20, -35) scale(1.12)" />
				<use xlink:href="#logo-uwu-a" transform="translate(-20, -35) scale(1.12)" />
				<use xlink:href="#logo-uwu-d" transform="translate(-60, -20) scale(1.12)" />
				<use xlink:href="#logo-uwu-c" transform="translate(-50, -20) scale(1.12)" />
				<use xlink:href="#logo-uwu-a" transform="scale(0.8) translate(1590, 220)" />
				<use xlink:href="#logo-uwu-m" transform="scale(0.8) translate(2220, 170)" />
				<use xlink:href="#logo-uwu-p" />
				<use xlink:href="#logo-uwu-o" />
				<use xlink:href="#logo-uwu-s" />
				<use xlink:href="#logo-uwu-bracket" transform="rotate(190) translate(250, 230) scale(1.12)" transform-origin="center" />
			</g>

			<g class="logo-extras">
				<use xlink:href="#logo-uwu-ma" transform="translate(-20, -30) scale(1.12)" />
				<use xlink:href="#logo-uwu-dc" transform="translate(-120, -20) scale(1.12)" />
				<use xlink:href="#logo-uwu-am" />
				<use xlink:href="#logo-uwu-pos" />
			</g>

			<use class="logo-text" xlink:href="#logo-text-full" transform="translate(0, 200) rotate(-4.7)" />
		</svg>

		<svg viewBox="0 0 1100 900" data-theme="y2k" data-size="micro">
			<g class="logo-extras">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<g class="logo-part">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<use xlink:href="#logo-text-micro" fill="black" transform="translate(-300, 170) skewX(60) scale(1 0.5)" transform-origin="center" fill-opacity="0.5" />
			<use class="logo-text" xlink:href="#logo-text-micro" />
		</svg>

		<svg viewBox="0 0 2000 900" data-theme="y2k" data-size="mini">
			<g class="logo-extras">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" />
				<use xlink:href="#logo-a" />
				<use xlink:href="#logo-d" />
				<use xlink:href="#logo-c" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<g class="logo-part">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" />
				<use xlink:href="#logo-a" />
				<use xlink:href="#logo-d" />
				<use xlink:href="#logo-c" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<use class="logo-text" xlink:href="#logo-text-mini" />
		</svg>

		<svg viewBox="0 0 3500 900" data-theme="y2k" data-size="full">
			<g class="logo-extras">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" x="20" />
				<use xlink:href="#logo-a" />
				<use xlink:href="#logo-d" />
				<use xlink:href="#logo-c" />
				<use xlink:href="#logo-a" x="830" />
				<use xlink:href="#logo-m" x="1540" />
				<use xlink:href="#logo-p" />
				<use xlink:href="#logo-o" />
				<use xlink:href="#logo-s" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<g class="logo-part">
				<use xlink:href="#logo-bracket" />
				<use xlink:href="#logo-m" x="20" />
				<use xlink:href="#logo-a" />
				<use xlink:href="#logo-d" />
				<use xlink:href="#logo-c" />
				<use xlink:href="#logo-a" x="830" />
				<use xlink:href="#logo-m" x="1540" />
				<use xlink:href="#logo-p" />
				<use xlink:href="#logo-o" />
				<use xlink:href="#logo-s" />
				<use xlink:href="#logo-bracket" transform="scale(-1, 1)" transform-origin="center" />
			</g>

			<use class="logo-text" xlink:href="#logo-text-full" />
		</svg>
	</svg>
</a>
