---

---
<details open>
	<summary>
		<h2>Canvas</h2>
	</summary>

	<section>
		<h3>2D Canvas</h3>
		<canvas width="320" height="240" id="canvas-2d"></canvas>
		<script type="module" is:inline>
			const canvas = /** @type {HTMLCanvasElement}*/ (document.querySelector('#canvas-2d'));
			const ctx = /** @type {CanvasRenderingContext2D} */ (canvas.getContext('2d'));
			let curHeight = 0;
			let curWidth = 0;

			/**
			 * @param {number} width
			 * @param {number} height
			 */
			function resizeCanvas(width, height) {
				canvas.width = width;
				canvas.height = height;
			}

			function render() {
				ctx.clearRect(0, 0, canvas.width, canvas.height);

				const rectSize = 100 * window.devicePixelRatio;

				ctx.fillStyle = '#0080ff';
				ctx.fillRect(
					Math.floor(canvas.width / 2) - (rectSize / 2),
					Math.floor(canvas.height / 2) - (rectSize / 2),
					rectSize,
					rectSize
				);
			}

			const resizeObserver = new ResizeObserver((entries) => {
				for (const entry of entries) {
					const newWidth = Math.floor((entry.borderBoxSize[0]?.inlineSize ?? 0) * window.devicePixelRatio);
					const newHeight = Math.floor((entry.borderBoxSize[0]?.blockSize ?? 0) * window.devicePixelRatio);

					if (curHeight !== newHeight || curWidth !== newWidth) {
						curWidth = newWidth;
						curHeight = newHeight;

						resizeCanvas(newWidth, newHeight);
						render();
					}
				}
			});

			resizeObserver.observe(canvas);
		</script>
	</section>

	<section>
		<h3>3D Canvas</h3>
		<canvas width="320" height="240" id="canvas-3d"></canvas>
		<script src="../../assets/js/test/webgl-cube.ts"></script>
	</section>
</details>
