---

---
<details open>
	<summary>
		<h2>Inline SVG & Math</h2>
	</summary>

	<section>
		<h3>SVG</h3>

		<p>An inline SVG:</p>
		<svg viewBox="0 0 20 10" width="320" height="240">
			<rect x="0" y="0" width="20" height="20" fill="goldenrod" />
			<text y="6" x="10" font-size="3" font-weight="bold" text-anchor="middle" dominant-baseline="middle" font-family="system-ui">I'm an SVG</text>
		</svg>

		<p>The quadratic formula:</p>
		<math display="block">
			<mrow>
				<mi>x</mi>
				<mo>=</mo>
				<mfrac>
					<mrow>
						<mrow>
							<mo>−</mo>
							<mi>b</mi>
						</mrow>
						<mo>±</mo>
						<msqrt>
							<mrow>
								<msup>
									<mi>b</mi>
									<mn>2</mn>
								</msup>
								<mo>−</mo>
								<mrow>
									<mn>4</mn>
									<mo>⁢</mo>
									<mi>a</mi>
									<mo>⁢</mo>
									<mi>c</mi>
								</mrow>
							</mrow>
						</msqrt>
					</mrow>
					<mrow>
						<mn>2</mn>
						<mo>⁢</mo>
						<mi>a</mi>
					</mrow>
				</mfrac>
			</mrow>
		</math>

		<p>Some inline math: <math display="inline"><mi>x</mi> <mo>=</mo> <mn>42</mn></math></p>
	</section>
</details>
