---

---
<details>
	<summary>
		<h2>Tables</h2>
	</summary>

	<table-wrapper role="region" tabindex="0" aria-labelledby="table-caption">
		<table>
			<caption>D&D Party Treasure</caption>
			<colgroup>
				<col />
				<col />
				<col />
			</colgroup>

			<thead>
				<tr>
					<th aria-sort="none">Character</th>
					<th aria-sort="none">GP</th>
					<th aria-sort="none">Gems</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Leeroy</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>EdgeLord69</td>
					<td>153</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Karen</td>
					<td>300</td>
					<td>1</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th>
					<td>453</td>
					<td>4</td>
				</tr>
			</tfoot>
		</table>
	</table-wrapper>
</details>
