@layer components {
	.post-card {
		--image-size: var(--avatar-size);
		display: grid;
		grid-template-rows: auto 1fr auto auto;
		grid-template-columns: var(--image-size) 1fr;
		grid-template-areas:
			'header header'
			'picture content'
			'picture read-more'
			'footer footer';
		gap: var(--spacing-large);
		margin: var(--spacing-large) 0;
		border: var(--border-style) var(--highlight-border-color) var(--border-width);
		border-radius: var(--border-radius);
		background-color: var(--bg-color);
		padding: var(--spacing-large);
	}

	.post-card:not(:has(picture)) {
		grid-template-rows: auto 1fr auto auto;
		grid-template-columns: 1fr;
		grid-template-areas:
			'header'
			'content'
			'read-more'
			'footer';
	}

	.post-card header { grid-area: header; }
	.post-card h2 { margin: 0; }
	.post-card time { font-size: small; }

	.post-card picture {
		display: block;
		grid-area: picture;
		place-self: center center;
		border-radius: var(--border-radius);
		width: var(--image-size);
		height: var(--image-size);
		overflow: clip;
	}

	.post-card img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: top;
	}

	.post-card .post-card-content { grid-area: content; }
	.post-card .read-more-link { grid-area: read-more; }
	.post-card footer { grid-area: footer; }

	.post-card .post-draft-tag {
		display: inline-block;
		margin: var(--spacing-small);
		border-radius: var(--border-radius);
		background-color: var(--accent-color);
		padding: var(--spacing-small) var(--spacing-medium);
		color: var(--bg-color);
		text-transform: uppercase;
	}

	@media (max-width: 40rem) {
		.post-card {
			grid-template-rows: auto var(--image-size) 1fr auto;
			grid-template-columns: 1fr;
			grid-template-areas:
				'header'
				'picture'
				'content'
				'read-more'
				'footer';
		}

		.post-card picture {
			align-self: center center;
			width: calc(100% - var(--spacing-small));
		}
	}
}
