@layer accessible {
	@media (prefers-contrast: more) {
		:root {
			/* Border */
			--border-size: var(--size-1);
			--border-style: solid;
			--link-underline: solid;
			--border-radius: 0;
			--focus-outline: var(--theme-color) var(--border-style) var(--border-size);

			/* Theme colors */
			--theme-color: var(--yellow-6);
			--secondary-color: var(--orange-7);
			--accent-color: var(--orange-7);
			--complementary-color: var(--orange-9);

			/* Base colors */
			--text-1: var(--yellow-3);
			--text-2: var(--yellow-6);
			--surface-1: black;
			--surface-2: var(--surface-1);
			--surface-3: var(--theme-color);
			--surface-4: var(--theme-color);

			/* Link colors */
			--link-color: var(--yellow-1);
			--link-visited-color: var(--yellow-6);
			--link-hover-color: var(--red-8);
			--link-active-color: var(--red-10);

			/* Code colors */
			--diff-add-color: var(--lime-5);
			--diff-add-bg: color-mix(in srgb, var(--green-10), transparent);
			--diff-remove-color: var(--red-8);
			--diff-remove-bg: color-mix(in srgb, var(--red-10), transparent);
			--highlight-color: var(--gray-5);
			--highlight-default-bg: color-mix(in srgb, var(--gray-10), transparent);
			--highlight-error-color: var(--red-10);
			--highlight-error-bg: color-mix(in srgb, var(--red-10), transparent);
			--highlight-warning-color: var(--yellow-6);
			--highlight-warning-bg: color-mix(in srgb, var(--yellow-6), transparent);

			/* Table styles */
			--table-header-bg: var(--text-2);
			--table-header-color: var(--surface-1);
			--table-header-border: var(--border-size) var(--border-style) var(--text-1);

			--table-rows-odd: var(--surface-1);
			--table-rows-even: var(--gray-7);
			--table-rows-hover: var(--gray-6);

			--table-footer-bg: var(--text-2);
			--table-footer-color: var(--surface-1);
			--table-footer-border: var(--border-size) var(--border-style) var(--text-1);

			/* Input styles */
			--input-bg: var(--surface-1);
			--input-color: var(--text-1);
			--input-border: var(--border-size) var(--border-style) var(--theme-color);
			--input-thumb-color: var(--theme-color);

			--input-placeholder-color: var(--text-2);

			--input-valid-bg: var(--diff-add-bg);
			--input-valid-color: var(--diff-add-color);
			--input-invalid-bg: var(--diff-remove-bg);
			--input-invalid-color: var(--diff-remove-color);
			--input-hover-bg: var(--surface-2);
			--input-hover-color: var(--yellow-1);
			--input-hover-border-color: var(--yellow-1);
			--input-focus-bg: var(--surface-2);
			--input-focus-color: var(--text-2);
			--input-disabled-bg: var(--surface-1);
			--input-disabled-color: var(--gray-7);
			--input-readonly-bg: var(--gray-10);
			--input-readonly-color: var(--gray-7);

			--select-option-bg: var(--input-bg);
			--select-option-color: var(--text-1);
			--select-option-selected-bg: var(--surface-2);
			--select-option-selected-color: var(--text-2);

			--fieldset-border: var(--border-style) var(--border-size) var(--theme-color);

			/* Button styles */
			--button-bg: var(--surface-2);
			--button-color: var(--theme-color);
			--button-border: var(--border-style) var(--border-size) var(--theme-color);
			--button-hover-bg: var(--surface-2);
			--button-hover-color: var(--accent-color);
			--button-hover-border-color: var(--accent-color);
			--button-focus-bg: var(--theme-color);
			--button-focus-color: var(--surface-1);
			--button-focus-border-color: var(--surface-1);
			--button-active-bg: var(--accent-color);
			--button-active-color: var(--text-1);
			--button-active-border-color: var(--text-1);
			--button-disabled-bg: var(--gray-5);
			--button-disabled-color: var(--gray-10);
			--button-disabled-border-color: var(--gray-10);
			--button-primary-bg: var(--secondary-color);
			--button-primary-color: var(--surface-1);
			--button-primary-border-color: var(--theme-color);
			--button-secondary-bg: var(--surface-2);
			--button-secondary-color: var(--secondary-color);
			--button-secondary-border-color: var(--secondary-color);

			/* Progress styles */
			--progress-bg: var(--surface-2);
			--progress-color: var(--theme-color);
			--progress-border: var(--border-size) solid var(--theme-color);
			--progress-hover-bg: var(--surface-1);
			--progress-hover-color: var(--accent-color);
			--progress-hover-border-color: var(--accent-color);

			/* Meter styles */
			--meter-background: var(--surface-2);
			--meter-optimal-color: var(--green-2);
			--meter-suboptimal-color: var(--yellow-5);
			--meter-subsuboptimal-color: var(--red-12);
			--meter-size-adjust: calc(var(--border-size) * 2);
			--meter-border: var(--border-size) solid var(--theme-color);

			/* Note styles */
			--note-success-bg: color-mix(in srgb, var(--green-10), transparent);
			--note-success-color: var(--lime-5);
			--note-error-bg: color-mix(in srgb, var(--red-10), transparent 60%);
			--note-error-color: var(--red-8);
			--note-warning-bg: color-mix(in srgb, var(--yellow-3), transparent 80%);
			--note-warning-color: var(--yellow-3);
			--note-alert-bg: color-mix(in srgb, var(--teal-10), transparent);
			--note-alert-color: var(--teal-3);
			--note-info-bg: color-mix(in srgb, var(--blue-10), transparent);
			--note-info-color: var(--blue-2);
			--note-debug-bg: color-mix(in srgb, var(--purple-10), transparent);
			--note-debug-color: var(--violet-3);

			/* Baseline colors */
			--baseline-high-color: var(--lime-5);
			--baseline-high-bg: var(--green-10);
			--baseline-low-color: var(--blue-6);
			--baseline-low-bg: var(--blue-10);
			--baseline-limited-color: var(--orange-6);
			--baseline-limited-bg: var(--gray-7);
			--baseline-no-data-color: var(--gray-5);
			--baseline-no-data-bg: var(--gray-8);

			/* Tag list colors */
			--tag-bg: var(--surface-1);
			--tag-color: var(--theme-color);
			--tag-hover-bg: var(--surface-1);
			--tag-hover-color: var(--accent-color);
			--tag-focus-bg: var(--surface-1);
			--tag-focus-color: var(--theme-color);

			/* Old Buttons */
			--old-button-border: var(--surface-3) var(--border-style) var(--border-size);
			--old-button-border-visibility: hidden;
			--old-button-tint: darkgoldenrod;
			--old-button-blend-mode: hue;
			--old-button-border-radius: var(--border-radius);

			/* Icons */
			--details-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='goldenrod' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/svg%3E");

			color-scheme: dark;
			line-height: calc(1.4 * var(--line-height-adjust, 1));
			letter-spacing: 0.07em;
		}

		p { line-height: calc(1.7 * var(--line-height-adjust, 1)); }

		code-wrapper pre {
			--code-bg: var(--shiki-contrast-bg, var(--surface-1));
			--code-color: var(--shiki-contrast, var(--text-1));

			span {
				--code-color: var(--shiki-contrast, var(--text-1));
				--code-font-style: var(--shiki-contrast-font-style, normal);
				--code-font-weight: var(--shiki-contrast-font-weight, normal);
				--code-text-decoration: var(--shiki-contrast-text-decoration, none);
			}
		}
	}

	@media (prefers-contrast: less) {
		:root {
			--border-size: var(--border-size-2);
			--border-style: dotted;
			--link-underline: dotted;
			--border-radius: 0;
			--focus-outline: var(--theme-color) var(--border-style) var(--border-size);

			/* Theme colors */
			--theme-color: var(--theme-6);
			--secondary-color: var(--theme-3);
			--accent-color: var(--accent-5);
			--complementary-color: var(--accent-7);

			/* Base colors */
			--text-1: var(--gray-8);
			--text-2: var(--gray-6);
			--surface-1: color-mix(in oklch increasing hue, var(--gray-2) 85%, var(--theme-0));
			--surface-2: color-mix(in oklch increasing hue, var(--gray-2) 80%, var(--theme-3));
			--surface-3: color-mix(in oklch increasing hue, var(--gray-6) 80%, var(--theme-6));
			--surface-4: transparent;

			/* Link colors */
			--link-color: var(--theme-12);
			--link-visited-color: var(--theme-10);
			--link-hover-color: var(--accent-9);
			--link-active-color: var(--accent-12);

			/* Code colors */
			--diff-add-color: var(--green-10);
			--diff-add-bg: color-mix(in srgb, var(--green-1), transparent);
			--diff-remove-color: var(--red-10);
			--diff-remove-bg: color-mix(in srgb, var(--red-1), transparent);
			--highlight-color: var(--gray-7);
			--highlight-default-bg: color-mix(in srgb, var(--gray-1), transparent);
			--highlight-error-color: var(--red-12);
			--highlight-error-bg: color-mix(in srgb, var(--red-1), transparent);
			--highlight-warning-color: var(--yellow-7);
			--highlight-warning-bg: color-mix(in srgb, var(--choco-1), transparent);

			/* Table styles */
			--table-header-bg: var(--theme-2);
			--table-header-color: var(--gray-8);
			--table-header-border: var(--border-size) var(--border-style) var(--theme-color);

			--table-rows-odd: var(--surface-1);
			--table-rows-even: var(--surface-2);
			--table-rows-hover: var(--surface-3);

			--table-footer-bg: var(--theme-1);
			--table-footer-color: var(--text-2);
			--table-footer-border: var(--border-size) var(--border-style) var(--theme-color);

			/* Input styles */
			--input-bg: var(--surface-2);
			--input-color: var(--text-2);
			--input-border: var(--border-size) solid var(--theme-1);
			--input-thumb-color: var(--theme-3);

			--input-placeholder-color: var(--gray-7);

			--input-valid-bg: var(--green-1);
			--input-valid-color: var(--lime-9);
			--input-invalid-bg: var(--red-0);
			--input-invalid-color: var(--red-9);
			--input-hover-bg: var(--surface-1);
			--input-hover-color: var(--text-1);
			--input-hover-border-color: var(--accent-color);
			--input-focus-bg: var(--surface-1);
			--input-focus-color: var(--text-1);
			--input-disabled-bg: var(--surface-1);
			--input-disabled-color: var(--text-2);
			--input-readonly-bg: var(--surface-1);
			--input-readonly-color: var(--text-1);

			--select-option-bg: var(--input-bg);
			--select-option-color: var(--text-1);
			--select-option-selected-bg: var(--surface-1);
			--select-option-selected-color: var(--theme-color);

			--fieldset-border: var(--border-style) var(--border-size) var(--theme-3);

			/* Button styles */
			--button-bg: var(--surface-2);
			--button-color: var(--theme-4);
			--button-border: var(--border-style) var(--border-size) var(--theme-4);
			--button-hover-bg: var(--surface-2);
			--button-hover-color: var(--accent-color);
			--button-hover-border-color: var(--accent-color);
			--button-focus-bg: var(--theme-color);
			--button-focus-color: var(--surface-1);
			--button-focus-border-color: var(--surface-1);
			--button-active-bg: var(--accent-color);
			--button-active-color: var(--text-1);
			--button-active-border-color: var(--text-1);
			--button-disabled-bg: var(--gray-5);
			--button-disabled-color: var(--gray-10);
			--button-disabled-border-color: var(--gray-10);
			--button-primary-bg: var(--theme-9);
			--button-primary-color: var(--theme-0);
			--button-primary-border-color: var(--theme-0);
			--button-secondary-bg: var(--surface-2);
			--button-secondary-color: var(--secondary-color);
			--button-secondary-border-color: var(--secondary-color);

			/* Progress styles */
			--progress-bg: var(--surface-2);
			--progress-color: var(--theme-2);
			--progress-border: var(--border-size) solid var(--theme-2);
			--progress-hover-bg: var(--surface-1);
			--progress-hover-color: var(--accent-color);
			--progress-hover-border-color: var(--accent-color);

			/* Meter styles */
			--meter-background: var(--surface-2);
			--meter-optimal-color: var(--green-3);
			--meter-suboptimal-color: var(--yellow-3);
			--meter-subsuboptimal-color: var(--red-3);
			--meter-size-adjust: calc(var(--border-size) * 2);
			--meter-border: var(--border-size) solid var(--theme-color);

			/* Note styles */
			--note-success-bg: var(--green-1);
			--note-success-color: var(--lime-9);
			--note-error-bg: var(--red-0);
			--note-error-color: var(--red-9);
			--note-warning-bg: var(--yellow-1);
			--note-warning-color: var(--brown-9);
			--note-alert-bg: var(--teal-1);
			--note-alert-color: var(--teal-9);
			--note-info-bg: var(--blue-1);
			--note-info-color: var(--blue-9);
			--note-debug-bg: var(--violet-1);
			--note-debug-color: var(--purple-9);

			/* Baseline colors */
			--baseline-high-color: var(--green-8);
			--baseline-high-bg: var(--lime-1);
			--baseline-low-color: var(--blue-9);
			--baseline-low-bg: var(--blue-2);
			--baseline-limited-color: var(--orange-6);
			--baseline-limited-bg: var(--gray-1);
			--baseline-no-data-color: var(--gray-5);
			--baseline-no-data-bg: var(--gray-1);

			/* Tag list colors */
			--tag-bg: var(--surface-2);
			--tag-color: var(--text-2);
			--tag-hover-bg: var(--accent-color);
			--tag-hover-color: var(--surface-1);
			--tag-focus-bg: var(--surface-2);
			--tag-focus-color: var(--theme-color);

			/* Old Buttons */
			--old-button-border: none;
			--old-button-border-visibility: hidden;
			--old-button-tint: none;
			--old-button-blend-mode: normal;
			--old-button-border-radius: 0.2rem;

			color-scheme: light;
		}

		pre {
			--code-bg: var(--shiki-light-bg, var(--surface-1));
			--code-color: var(--shiki-light, var(--text-1));

			span {
				--code-color: var(--shiki-light, var(--text-1));
				--code-font-style: var(--shiki-light-font-style, normal);
				--code-font-weight: var(--shiki-light-font-weight, normal);
				--code-text-decoration: var(--shiki-light-text-decoration, none);
			}
		}
	}

	@media (forced-colors: active) {
		:root {
			/* Theme colors */
			--theme-color: LinkText;
			--secondary-color: CanvasText;
			--accent-color: CanvasText;
			--complementary-color: CanvasText;

			/* Base colors */
			--text-1: CanvasText;
			--text-2: CanvasText;
			--surface-1: Canvas;
			--surface-2: Canvas;
			--surface-3: LinkText;
			--surface-4: LinkText;

			/* Button Styles */
			--button-focus-bg: Highlight;
			--button-focus-color: revert;
			--button-focus-border-color: revert;

			/* Border */
			--border-style: solid;
			--link-underline: solid;

			/* Old Buttons */
			--old-button-border: var(--surface-3) var(--border-style) var(--border-size);
			--old-button-border-visibility: hidden;
			--old-button-tint: none;
			--old-button-blend-mode: none;
			--old-button-border-radius: var(--border-radius);
		}

		code-wrapper pre {
			--code-bg: var(--shiki-contrast-bg, var(--surface-1));
			--code-color: var(--shiki-contrast, var(--text-1));

			span {
				--code-color: var(--shiki-contrast, var(--text-1));
				--code-font-style: var(--shiki-contrast-font-style, normal);
				--code-font-weight: var(--shiki-contrast-font-weight, normal);
				--code-text-decoration: var(--shiki-contrast-text-decoration, none);
			}
		}
	}

	@media (prefers-reduced-motion) {
		:root {
			/* Border */
			--border-style: solid;
			--link-underline: solid;

			/* Animations */
			--transition-in-time: 0s;
			--transition-out-time: 0s;
			--interpolation: numeric-only;
			--scroll-behavior: auto;

			/* Button animations */
			--button-animation-swing: none;
			--button-animation-rainbow: none;
			--button-animation-js: none;

			/* Filters */
			--filter-pixelate: none;
			--filter-small-pixelate: none;
			--filter-glitch: none;
			--filter-noise: none;
		}
	}

	[data-is-reduced-motion='enabled'] {
		/* Border */
		--border-style: solid;
		--link-underline: solid;

		/* Animations */
		--transition-in-time: 0s;
		--transition-out-time: 0s;
		--interpolation: numeric-only;
		--scroll-behavior: auto;

		/* Button animations */
		--button-animation-swing: none;
		--button-animation-rainbow: none;
		--button-animation-js: none;

		/* Filters */
		--filter-pixelate: none;
		--filter-small-pixelate: none;
		--filter-glitch: none;
		--filter-noise: none;
	}

	[data-has-solid-borders='enabled'] {
		--border-style: solid;
		--link-underline: solid;
	}

	[data-border-width='none'] { --border-size: 0; }
	[data-border-width='thin'] { --border-size: var(--border-size-1); }
	[data-border-width='thick'] { --border-size: var(--border-size-3); }
	[data-border-width='thicker'] { --border-size: var(--border-size-4); }
}
