@layer base {
	:root {
		scrollbar-gutter: stable;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		scrollbar-color: var(--theme-color) var(--surface-2);
		hanging-punctuation: first allow-end last;
		color-scheme: light dark;
		font-size: var(--base-font-size);
		line-height: var(--font-lineheight-3);
		font-family: var(--text-font-family);
		word-break: break-word;
		tab-size: 4;
		-webkit-tap-highlight-color: transparent;
		accent-color: var(--theme-color);

		@media (prefers-reduced-motion: no-preference) {
			interpolate-size: allow-keywords;

			&:focus-within { scroll-behavior: smooth; }
		}
	}

	:where(*, *::after, *::before) {
		box-sizing: border-box;
		font-family: inherit;
	}

	:where(html, body) {
		inline-size: 100%;
		block-size: 100%;
	}

	:where(body) { margin: 0; }

	:where(a) {
		color: var(--link-color);
		text-decoration-style: var(--link-underline);
		text-decoration-thickness: 0.11em;
		text-decoration-skip-ink: auto;
		text-underline-offset: 0.2em;
		word-break: break-word;
		overflow-wrap: break-word;

		&:visited { color: var(--link-visited-color); }
		&:focus-visible { color: var(--text-1); }

		&:hover {
			outline-color: var(--link-hover-color);
			color: var(--link-hover-color);
		}

		&:active {
			outline-color: var(--link-active-color);
			color: var(--link-active-color);
		}

		&:has(img) {
			display: inline-flex;

			&:focus-visible { background-color: var(--surface-1); }
		}
	}

	:where(h1, h2, h3, h4, h5, h6, summary) {
		color: var(--theme-color);
		font-weight: bold;
		line-height: var(--font-lineheight-0);
		font-family: var(--headers-font-family);
	}

	:where(h1, h2, h3, h4, h5, h6) {
		margin-block: var(--size-relative-3);
		text-wrap: balance;
	}

	:where(h1) {
		margin-inline: auto;
		margin-block: 0;
		color: var(--theme-color);
		font-size: var(--font-size-7);
		text-align: center;
	}

	:where(h2) { font-size: var(--font-size-5); }
	:where(h3) { font-size: var(--font-size-4); }
	:where(h4) { font-size: var(--font-size-3); }
	:where(h5) { font-size: var(--font-size-2); }
	:where(h6) { font-size: var(--font-size-1); }

	:where(summary) {
		display: flex;
		align-items: center;
		gap: var(--size-1);
		list-style: none;

		&::-webkit-details-marker { display: none; }
		&::marker { display: none; }

		&::before {
			display: inline-block;
			background-image: var(--details-icon);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			inline-size: 1.5em;
			block-size: 1.5em;
			vertical-align: -0.2em;
			content: '';
		}

		& > :where(h1, h2, h3, h4, h5, h6) { margin: 0; }
	}

	details[open] > summary::before { transform: rotate(90deg); }

	:where(p, li, dd) { text-wrap: pretty; }

	:where(small) { font-size: var(--font-size-0); }

	:where(sub, sup) {
		font-size: 0.8em;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	:where(sub) { inset-block-end: -0.25em; }
	:where(sup) { inset-block-start: -0.5em; }

	:where(ul) { list-style: '◆ '; }
	:where(ol) { list-style: decimal-leading-zero; }

	:where(ol, ul) {
		ul { list-style: '◇ '; }
		ol { list-style: lower-latin; }

		:where(ol, ul) {
			ul { list-style: '✢ '; }
			ol { list-style: lower-roman; }
		}
	}

	:where(li:has(> details:only-child)) {
		list-style: none;

		& > details > summary::before { margin-inline-start: calc(var(--icon-size) * -1); }
	}

	:where(audio, iframe, img, video) {
		display: block;
		margin-inline: auto;
		max-inline-size: 100%;
		max-block-size: 100%;
		block-size: auto;
		border-style: none;
		min-inline-size: var(--size-content-0);
		min-block-size: var(--size-content-0);
		object-fit: contain;
		object-position: center;
	}

	:where(audio) { min-block-size: var(--size-8); }

	:where(iframe) {
		border: var(--border-style) var(--border-size) var(--theme-color);
		border-radius: var(--border-radius);
		aspect-ratio: 3 / 2;
		inline-size: 100%;
		max-inline-size: var(--size-content-3);
		overflow: clip;
	}

	:where(figure) {
		text-align: center;
		inline-size: fit-content;
		margin-inline: auto;

		figcaption {
			contain: inline-size;
			font-size: var(--font-size-0);
		}

		img {
			inline-size: clamp(var(--size-inline-0), 50vw, var(--size-inline-2));
			block-size: auto;
		}
	}

	:where(svg[data-icon]) {
		vertical-align: -0.32em;
		min-inline-size: 1.3em;
		min-block-size: 1.3em;
	}

	:where(pre, code, kbd, samp) { font-family: var(--code-font-family); }
	:where(pre) { white-space: pre-wrap; }

	:where(*:not(pre) > code) {
		display: inline-block;
		background-color: var(--surface-2);
		padding-inline: var(--size-1);
	}

	:where(hr) {
		border: none;
		border-block-start: var(--theme-color) var(--border-style) var(--border-size);
		inline-size: clamp(--size-content-0, 70vw, var(--size-content-3));
	}

	:where(button, input, select, textarea) { font-size: inherit; }

	:where(table) {
		border-collapse: collapse;
		caption-side: bottom;
	}

	:where(table-wrapper[role='region'][aria-labelledby][tabindex]) { overflow: auto; }

	:where(dialog) {
		flex-direction: column;
		justify-content: center;
		padding: var(--size-3);
		border: var(--surface-3) var(--border-style) var(--border-size);
		border-radius: var(--border-radius);
		background-color: var(--surface-2);
		inline-size: clamp(var(--size-content-0), 70vw, var(--size-content-3));
		block-size: clamp(var(--size-content-0), 70vh, var(--size-content-3));
		overscroll-behavior: contain;

		&:where([open], :popover-open) { display: flex; }

		&::backdrop {
			backdrop-filter: blur(var(--size-3));
			background-color: rgba(0, 0, 0, 0.5);
		}

		form {
			display: flex;
			flex-direction: column;
			padding: var(--size-2);
			inline-size: 100%;
			block-size: 100%;

			button {
				inline-size: fit-content;
				block-size: fit-content;
				font-size: var(--font-size-1);
			}
		}
	}

	:target {
		scroll-margin: var(--size-3);
		scroll-snap-align: start;
	}

	::selection {
		background-color: var(--theme-color);
		color: var(--surface-1);
	}

	::target-text {
		background-color: var(--accent-color);
		color: var(--surface-1);
	}

	*:focus-visible {
		outline: var(--theme-color) var(--border-style) var(--border-size);
		outline-offset: var(--size-1);
		border-radius: var(--border-radius);
		background-color: var(--surface-1);
		color: var(--text-1);
	}
}
