@layer fonts {
	@font-face {
		font-style: normal;
		font-weight: 100 900;
		src: url('./fonts/cascadia-code.woff2') format('woff2-variations');
		font-family: 'Cascadia Code';
		font-display: swap;
		font-variant-alternates: styleset('ss01') styleset('ss02') styleset('ss03') styleset('ss19') styleset('ss20');
		font-variant-ligatures: common-ligatures contextual;
	}

	@font-face {
		font-style: italic;
		font-weight: 100 900;
		src: url('./fonts/cascadia-code-italic.woff2') format('woff2-variations');
		font-family: 'Cascadia Code';
		font-display: swap;
		font-variant-alternates: styleset('ss01') styleset('ss02') styleset('ss03') styleset('ss19') styleset('ss20');
		font-variant-ligatures: common-ligatures contextual;
	}

	@font-face {
		font-style: normal;
		font-weight: 100 900;
		src: url('./fonts/selawik.woff2') format('woff2-variations');
		font-family: 'Selawik Variable';
		font-display: swap;
		font-variant-ligatures: none;
		font-variant-numeric: diagonal-fractions;
	}

	@font-face {
		font-style: normal;
		font-weight: 100;
		src: url('./fonts/Mecano-Light.woff2') format('woff2');
		font-family: 'Mecano-Light';
		font-display: optional;
		font-variant-ligatures: common-ligatures;
	}

	@font-face {
		font-style: normal;
		font-weight: 500;
		src: url('./fonts/Mecano.woff2') format('woff2');
		font-family: 'Mecano';
		font-display: optional;
		font-variant-ligatures: common-ligatures;
	}
}

@layer accessible {
	[data-font='browser'] {
		--headers-font-family: ui-serif, serif;
		--code-font-family: ui-monospace, monospace;
		--text-font-family: ui-sans-serif, sans-serif;
	}

	[data-font='legibility'] {
		--text-font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
		--headers-font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
		--code-font-family: 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	}

	[data-font='comic-sans'] {
		--headers-font-family: 'Comic Sans MS', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
		--code-font-family: 'Comic Sans MS', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
		--text-font-family: 'Comic Sans MS', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
	}

	[data-font-size='x-small'] { --base-font-size: 1rem; }
	[data-font-size='small'] { --base-font-size: 1.12rem; }
	[data-font-size='normal'] { --base-font-size: 1.25rem; }
	[data-font-size='large'] { --base-font-size: 1.7rem; }
	[data-font-size='x-large'] { --base-font-size: 2.2rem; }

	[data-line-height='tight'] { --line-height-adjust: 0.8; }
	[data-line-height='normal'] { --line-height-adjust: 1; }
	[data-line-height='wide'] { --line-height-adjust: 1.2; }
	[data-line-height='wider'] { --line-height-adjust: 1.5; }

	[data-letter-spacing='tighter'] {
		letter-spacing: -0.05em;
		word-spacing: -0.1rem;
	}

	[data-letter-spacing='tight'] {
		letter-spacing: -0.01em;
		word-spacing: -0.05rem;
	}

	[data-letter-spacing='normal'] {
		letter-spacing: normal;
		word-spacing: normal;
	}

	[data-letter-spacing='wide'] {
		letter-spacing: 0.1em;
		word-spacing: 0.2rem;
	}

	[data-letter-spacing='wider'] {
		letter-spacing: 0.2em;
		word-spacing: 0.4rem;
	}
}
