@layer print {
	@media print {
		:root {
			--base-font-size: 12pt;

			/* Base colors */
			--text-1: black;
			--text-2: black;
			--surface-1: white;
			--surface-2: white;
			--surface-3: black;

			/* Link colors */
			--link-color: #065bd1;
			--link-visited-color: #4c2c92;
			--link-hover-color: var(--link-color);
			--link-active-color: var(--link-color);

			print-color-adjust: economy;
			color-scheme: light;
		}

		@page {
			margin-inline: var(--size-5);
			margin-block: var(--size-8);
		}

		h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }

		p, li, blockquote, figure, img, pre .line { page-break-inside: avoid; }

		a { text-decoration: underline; }

		a:not(:has(> :is(img, picture)))[href]::after {
			content: '\00a0(' attr(href) ')';
			font-size: smaller;
		}

		a[rel~='external']::after {
			display: inline;
			vertical-align: baseline;
			background: none;
			inline-size: fit-content;
		}

		related-posts ul { flex-wrap: wrap !important; }

		/* Hide content that doesn't make sense in print media */
		a[href^='#']::after { display: none; }
		a[data-footnote-backref] { display: none; }
		share-options { display: none; }
		site-nav { display: none; }
		old-style-buttons { display: none; }
		m-webrings { display: none; }
		theme-switcher { display: none; }
		scroll-to-top { display: none; }
		a:has(m-avatar)::after { display: none; }
		m-logo a::after { display: none; }
	}
}
