@layer pages {
	@view-transition { navigation: auto; }

	::view-transition-old(root) { animation: old-page-animation 0s ease-in-out both; }
	::view-transition-new(root) { animation: new-page-animation 0s ease-in-out both; }

	@keyframes new-page-animation {
		from {
			clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
			opacity: 0;
		}

		to {
			clip-path: polygon(50% -100%, 200% 50%, 50% 200%, -100% 50%);
			opacity: 1;
		}
	}

	@keyframes old-page-animation {
		from {
			filter: sepia(0) blur(0);
			opacity: 1;
		}

		to {
			filter: sepia(1) blur(var(--size-3));
			opacity: 0;
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		::view-transition-old(root) { animation-duration: 0.2s; }
		::view-transition-new(root) { animation-duration: 0.4s; }
	}
}
