@layer pages {
	@media (prefers-reduced-motion: no-preference) {
		@view-transition { navigation: auto; }

		::view-transition-old(root) { animation: old-page-animation var(--transition-out-time) ease-in-out both; }
		::view-transition-new(root) { animation: new-page-animation var(--transition-in-time) ease-in-out both; }

		@keyframes new-page-animation {
			0% {
				clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
				opacity: 0;
			}

			100% {
				clip-path: polygon(50% -100%, 200% 50%, 50% 200%, -100% 50%);
				opacity: 1;
			}
		}

		@keyframes old-page-animation {
			0% {
				filter: sepia(0) blur(0);
				opacity: 1;
			}

			100% {
				filter: sepia(1) blur(var(--size-3));
				opacity: 0;
			}
		}
	}
}
