@layer vars {
	:root {
		/* Default size for body text */
		--base-font-size: 1.25rem;
		--line-height-adjust: 1;

		/* Size overrides */
		--size-content-0: 10ch;
		--size-content-1: 20ch;
		--size-content-2: 45ch;
		--size-content-3: 76ch;
		--size-content-4: 120ch;

		--size-header-0: 5ch;
		--size-header-1: 15ch;
		--size-header-2: 30ch;
		--size-header-3: 45ch;
		--size-header-4: 96ch;

		/* Border */
		--border-size: var(--border-size-2);
		--border-style: dashed;
		--link-underline: dashed;
		--border-radius: 0;
		--focus-outline: var(--theme-color) var(--border-style) var(--border-size);

		/* Theme colors */
		--theme-0: #bff6ff;
		--theme-1: #a6dfff;
		--theme-2: #8ccaff;
		--theme-3: #70b4ff;
		--theme-4: #529fff;
		--theme-5: #248bff;
		--theme-6: #0080ff;
		--theme-7: #0064dd;
		--theme-8: #0052c7;
		--theme-9: #0040b1;
		--theme-10: #00309b;
		--theme-11: #002186;
		--theme-12: #001271;

		--accent-0: #ffe576;
		--accent-1: #ffce60;
		--accent-2: #ffb84a;
		--accent-3: #ffa233;
		--accent-4: #ff8d17;
		--accent-5: #ff8000;
		--accent-6: #dc6300;
		--accent-7: #c24f00;
		--accent-8: #aa3b00;
		--accent-9: #922500;
		--accent-10: #7c0a00;
		--accent-11: #670000;
		--accent-12: #540000;

		--theme-color: var(--theme-6);
		--secondary-color: var(--theme-10);
		--accent-color: var(--accent-5);
		--complementary-color: var(--red-7);

		/* Base colors */
		--text-1: var(--gray-11);
		--text-2: var(--gray-9);
		--surface-1: color-mix(in oklch increasing hue, var(--gray-0) 85%, var(--theme-0));
		--surface-2: color-mix(in oklch increasing hue, var(--gray-3) 80%, var(--theme-3));
		--surface-3: color-mix(in oklch increasing hue, var(--gray-6) 80%, var(--theme-6));
		--surface-4: transparent;

		/* Link colors */
		--link-color: var(--theme-12);
		--link-visited-color: var(--theme-10);
		--link-hover-color: var(--accent-9);
		--link-active-color: var(--accent-12);

		/* Code colors */
		--diff-add-color: var(--green-12);
		--diff-add-bg: color-mix(in srgb, var(--green-3), transparent);
		--diff-remove-color: var(--red-12);
		--diff-remove-bg: color-mix(in srgb, var(--red-3), transparent);
		--highlight-color: var(--gray-7);
		--highlight-default-bg: color-mix(in srgb, var(--gray-1), transparent);
		--highlight-error-color: var(--red-12);
		--highlight-error-bg: color-mix(in srgb, var(--red-2), transparent);
		--highlight-warning-color: var(--yellow-7);
		--highlight-warning-bg: color-mix(in srgb, var(--choco-7), transparent);

		/* Table styles */
		--table-header-bg: var(--theme-2);
		--table-header-color: var(--gray-10);
		--table-header-border: var(--border-size) var(--border-style) var(--theme-color);

		--table-rows-odd: var(--surface-1);
		--table-rows-even: var(--surface-2);
		--table-rows-hover: var(--surface-3);

		--table-footer-bg: var(--theme-1);
		--table-footer-color: var(--text-2);
		--table-footer-border: var(--border-size) var(--border-style) var(--theme-color);

		/* Input styles */
		--input-bg: var(--surface-2);
		--input-color: var(--text-2);
		--input-border: var(--border-size) solid var(--secondary-color);
		--input-thumb-color: var(--theme-color);

		--input-placeholder-color: var(--gray-7);

		--input-valid-bg: var(--green-2);
		--input-valid-color: var(--lime-12);
		--input-invalid-bg: var(--red-1);
		--input-invalid-color: var(--red-12);
		--input-hover-bg: var(--surface-1);
		--input-hover-color: var(--text-1);
		--input-hover-border-color: var(--accent-color);
		--input-focus-bg: var(--surface-1);
		--input-focus-color: var(--text-1);
		--input-disabled-bg: var(--surface-1);
		--input-disabled-color: var(--text-2);
		--input-readonly-bg: var(--surface-1);
		--input-readonly-color: var(--text-1);

		--select-option-color: var(--theme-color);
		--select-option-bg: var(--surface-1);
		--select-option-selected-bg: var(--surface-2);
		--select-option-selected-color: var(--text-2);

		--fieldset-border: var(--border-style) var(--border-size) var(--theme-color);

		/* Button styles */
		--button-bg: var(--surface-2);
		--button-color: var(--theme-color);
		--button-border: var(--border-style) var(--border-size) var(--theme-color);
		--button-hover-bg: var(--surface-2);
		--button-hover-color: var(--accent-color);
		--button-hover-border-color: var(--accent-color);
		--button-focus-bg: var(--theme-color);
		--button-focus-color: var(--surface-1);
		--button-focus-border-color: var(--surface-1);
		--button-active-bg: var(--accent-color);
		--button-active-color: var(--text-1);
		--button-active-border-color: var(--text-1);
		--button-disabled-bg: var(--gray-5);
		--button-disabled-color: var(--gray-10);
		--button-disabled-border-color: var(--gray-10);

		/* Progress styles */
		--progress-bg: var(--surface-2);
		--progress-color: var(--theme-color);
		--progress-border: var(--border-size) solid var(--theme-color);
		--progress-hover-bg: var(--surface-1);
		--progress-hover-color: var(--accent-color);
		--progress-hover-border-color: var(--accent-color);

		/* Meter styles */
		--meter-background: var(--surface-2);
		--meter-optimal-color: var(--green-6);
		--meter-suboptimal-color: var(--yellow-6);
		--meter-subsuboptimal-color: var(--red-6);
		--meter-size-adjust: calc(var(--border-size) * 2);
		--meter-border: var(--border-size) solid var(--theme-color);

		/* Note styles */
		--note-success-bg: var(--green-2);
		--note-success-color: var(--lime-12);
		--note-error-bg: var(--red-1);
		--note-error-color: var(--red-12);
		--note-warning-bg: var(--yellow-2);
		--note-warning-color: var(--brown-12);
		--note-alert-bg: var(--teal-2);
		--note-alert-color: var(--teal-11);
		--note-info-bg: var(--blue-2);
		--note-info-color: var(--blue-12);
		--note-debug-bg: var(--violet-2);
		--note-debug-color: var(--purple-12);

		/* Baseline colors */
		--baseline-high-color: #1ea446;
		--baseline-high-bg: #c4eed0;
		--baseline-low-color: #1b6ef3;
		--baseline-low-bg: #a8c7fa;
		--baseline-limited-color: #dd7308;
		--baseline-limited-bg: silver;
		--baseline-no-data-color: dimgray;
		--baseline-no-data-bg: dimgray;

		/* Tag list colors */
		--tag-bg: var(--surface-2);
		--tag-color: var(--text-2);
		--tag-hover-bg: var(--accent-color);
		--tag-hover-color: var(--surface-1);
		--tag-focus-bg: var(--surface-2);
		--tag-focus-color: var(--theme-color);

		/* Logo styles */
		--logo-part-color: var(--theme-color);
		--logo-part-stroke: transparent;
		--logo-part-stroke-width: 0;
		--logo-extras-color: var(--secondary-color);
		--logo-extras-stroke: transparent;
		--logo-extras-stroke-width: 0;
		--logo-text-color: var(--accent-color);
		--logo-text-stroke: transparent;
		--logo-text-stroke-width: 0;
		--logo-font: 'Mecano-Light', 'Mecano', monospace;
		--logo-font-weight: 300;

		--logo-pixel-color: var(--surface-1);
		--logo-overlay-color: var(--complementary-color);
		--logo-noise-color: var(--theme-color);

		--logo-part-hover-color: var(--link-hover-color);
		--logo-part-hover-stroke: transparent;
		--logo-extras-hover-color: var(--link-active-color);
		--logo-extras-hover-stroke: transparent;
		--logo-text-hover-color: var(--theme-color);
		--logo-text-hover-stroke: transparent;

		--logo-part-focus-color: var(--text-1);
		--logo-part-focus-stroke: transparent;
		--logo-extras-focus-color: var(--secondary-color);
		--logo-extras-focus-stroke: transparent;
		--logo-text-focus-color: var(--theme-color);
		--logo-text-focus-stroke: transparent;

		--logo-part-active-color: var(--link-active-color);
		--logo-part-active-stroke: transparent;
		--logo-extras-active-color: var(--link-active-color);
		--logo-extras-active-stroke: transparent;
		--logo-text-active-color: var(--link-active-color);
		--logo-text-active-stroke: transparent;

		/* Avatar styles */
		--avatar-overlay: radial-gradient(circle at bottom, var(--accent-color), var(--theme-color));
		--avatary-overlay-opacity: 0.2;
		--avatary-overlay-blend-mode: normal;

		/* Old Buttons */
		--old-button-border: none;
		--old-button-border-visibility: hidden;
		--old-button-tint: none;
		--old-button-blend-mode: normal;
		--old-button-border-radius: 0.2rem;

		/* Fonts */
		--headers-font-family: 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;
		--code-font-family: 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;
		--text-font-family: 'Selawik Variable', 'Selawik', 'Segoe UI', 'Roboto', 'Open Sans', 'Arial', system-ui, sans-serif;

		/* Icons */
		--details-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230080ff' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/svg%3E");
		--select-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%230080ff' d='M12.707 15.707a1 1 0 0 1-1.414 0L5.636 10.05A1 1 0 1 1 7.05 8.636l4.95 4.95l4.95-4.95a1 1 0 0 1 1.414 1.414z'/%3E%3C/g%3E%3C/svg%3E");
	}

	@media screen and (prefers-color-scheme: dark) {
		:root {
			--secondary-color: var(--theme-1);

			/* Base colors */
			--text-1: var(--gray-1);
			--text-2: var(--gray-5);
			--surface-1: color-mix(in oklch, var(--gray-12) 80%, var(--theme-12));
			--surface-2: color-mix(in oklch, var(--gray-9) 80%, var(--theme-9));
			--surface-3: color-mix(in oklch, var(--gray-6) 80%, var(--theme-6));
			--surface-4: transparent;

			/* Link colors */
			--link-color: var(--theme-3);
			--link-visited-color: var(--theme-1);
			--link-hover-color: var(--accent-4);
			--link-active-color: var(--accent-0);

			/* Code colors */
			--diff-add-color: var(--lime-4);
			--diff-add-bg: color-mix(in srgb, var(--green-10), transparent);
			--diff-remove-color: var(--red-8);
			--diff-remove-bg: color-mix(in srgb, var(--red-11), transparent);
			--highlight-color: var(--gray-5);
			--highlight-default-bg: color-mix(in srgb, var(--gray-7), transparent);
			--highlight-error-color: var(--red-6);
			--highlight-error-bg: color-mix(in srgb, var(--red-12), transparent);
			--highlight-warning-color: var(--yellow-3);
			--highlight-warning-bg: color-mix(in srgb, var(--brown-9), transparent);

			/* Table styles */
			--table-header-bg: var(--theme-9);
			--table-header-color: var(--gray-2);
			--table-header-border: var(--border-size) var(--border-style) var(--theme-color);

			--table-rows-odd: var(--surface-1);
			--table-rows-even: var(--surface-2);
			--table-rows-hover: var(--surface-3);

			--table-footer-bg: var(--theme-12);
			--table-footer-color: var(--text-2);
			--table-footer-border: var(--border-size) var(--border-style) var(--theme-color);

			/* Note styles */
			--note-success-bg: var(--green-11);
			--note-success-color: var(--lime-2);
			--note-error-bg: var(--red-11);
			--note-error-color: var(--red-2);
			--note-warning-bg: var(--yellow-11);
			--note-warning-color: var(--brown-1);
			--note-alert-bg: var(--teal-10);
			--note-alert-color: var(--jungle-2);
			--note-info-bg: var(--blue-12);
			--note-info-color: var(--blue-2);
			--note-debug-bg: var(--purple-10);
			--note-debug-color: var(--violet-2);
		}
	}
}
