@layer vars {
	:root {
		/* Default size for body text */
		--base-font-size: 1.25rem;

		/* Size overrides */
		--size-content-0: 10ch;
		--size-content-1: 20ch;
		--size-content-2: 45ch;
		--size-content-3: 76ch;
		--size-content-4: 120ch;

		--size-header-0: 5ch;
		--size-header-1: 15ch;
		--size-header-2: 30ch;
		--size-header-3: 45ch;
		--size-header-4: 96ch;

		/* Border */
		--border-size: var(--border-size-2);
		--border-style: dashed;
		--link-underline: dashed;
		--border-radius: 0;

		/* Theme colors */
		--theme-0: #bff6ff;
		--theme-1: #a6dfff;
		--theme-2: #8ccaff;
		--theme-3: #70b4ff;
		--theme-4: #529fff;
		--theme-5: #248bff;
		--theme-6: #0080ff;
		--theme-7: #0064dd;
		--theme-8: #0052c7;
		--theme-9: #0040b1;
		--theme-10: #00309b;
		--theme-11: #002186;
		--theme-12: #001271;

		--accent-0: #ffe576;
		--accent-1: #ffce60;
		--accent-2: #ffb84a;
		--accent-3: #ffa233;
		--accent-4: #ff8d17;
		--accent-5: #ff8000;
		--accent-6: #dc6300;
		--accent-7: #c24f00;
		--accent-8: #aa3b00;
		--accent-9: #922500;
		--accent-10: #7c0a00;
		--accent-11: #670000;
		--accent-12: #540000;

		--theme-color: var(--theme-6);
		--secondary-color: var(--theme-1);
		--accent-color: var(--accent-5);
		--complementary-color: var(--red-7);

		/* Link colors */
		--link-color: var(--theme-12);
		--link-visited-color: var(--theme-10);
		--link-hover-color: var(--accent-9);
		--link-active-color: var(--accent-12);

		/* Base colors */
		--text-1: var(--gray-11);
		--text-2: var(--gray-9);
		--surface-1: color-mix(in oklch increasing hue, var(--gray-0) 85%, var(--theme-0));
		--surface-2: color-mix(in oklch increasing hue, var(--gray-3) 80%, var(--theme-3));
		--surface-3: color-mix(in oklch increasing hue, var(--gray-6) 80%, var(--theme-6));
		--surface-4: transparent;

		/* Fonts */
		--headers-font-family: 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;
		--code-font-family: 'Cascadia Code', 'Fira Code', 'Roboto Mono', 'Monaco', 'Courier New', 'Courier', monospace;
		--text-font-family: 'Selawik Variable', 'Selawik', 'Segoe UI', 'Roboto', 'Open Sans', 'Arial', system-ui, sans-serif;

		/* Icons */
		--details-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230080ff' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/svg%3E");
		--hr-decoration-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%230080ff' d='M11.108 10.27c1.083-1.875.16-4.442-2.06-5.724a5.248 5.248 0 0 0-2.615-.72c-1.46 0-2.72.672-3.373 1.8c-.545.944-.608 2.077-.176 3.188C3.287 9.85 4.08 10.75 5.12 11.35a5.242 5.242 0 0 0 2.616.723c.673 0 1.3-.15 1.85-.414l2.4 1.385c1.582.914.56 3.86 5.918 6.955C23.26 23.094 29.4 21.535 29.4 21.535L10.75 10.767c.132-.156.255-.318.358-.496zm-1.733-1c-.506.88-2.033 1.056-3.255.348c-.646-.373-1.134-.916-1.37-1.528c-.21-.535-.194-1.055.042-1.464c.293-.51.892-.8 1.64-.8c.543 0 1.102.156 1.616.453c1.243.716 1.85 2.086 1.327 2.99zm7.87 6.522c0 .483-.39.875-.874.875c-.036 0-.067-.017-.103-.02l.667-1.512a.86.86 0 0 1 .312.657zm-.874-.875c.038 0 .07.017.105.02l-.666 1.51a.851.851 0 0 1-.313-.655c0-.483.39-.875.874-.875m13.03-4.45s-6.14-1.56-11.496 1.535c-.537.31-.995.618-1.415.924l4.325 2.497zm-16.23 6.63c-.35.85-.574 1.508-1.186 1.86l-2.4 1.385a4.235 4.235 0 0 0-1.85-.414c-.893 0-1.797.25-2.615.72c-2.22 1.283-3.144 3.852-2.06 5.727c.65 1.127 1.91 1.8 3.372 1.8c.894 0 1.8-.25 2.616-.72c1.04-.602 1.833-1.502 2.236-2.537c.432-1.112.368-2.245-.178-3.19a3.436 3.436 0 0 0-.356-.493l3.982-2.3a9.7 9.7 0 0 1-1.56-1.838zm-3.75 7.095c-.238.612-.725 1.155-1.37 1.528c-1.222.706-2.75.532-3.258-.347c-.522-.903.086-2.274 1.328-2.992a3.254 3.254 0 0 1 1.615-.452c.75 0 1.346.29 1.64.8c.237.41.253.93.045 1.464z'/%3E%3C/svg%3E");
	}

	@media screen and (prefers-color-scheme: dark) {
		:root {
			/* Base colors */
			--text-1: var(--gray-1);
			--text-2: var(--gray-5);
			--surface-1: color-mix(in oklch, var(--gray-12) 80%, var(--theme-12));
			--surface-2: color-mix(in oklch, var(--gray-9) 80%, var(--theme-9));
			--surface-3: color-mix(in oklch, var(--gray-6) 80%, var(--theme-6));
			--surface-4: transparent;

			/* Link colors */
			--link-color: var(--theme-3);
			--link-visited-color: var(--theme-1);
			--link-hover-color: var(--accent-4);
			--link-active-color: var(--accent-0);
		}
	}
}
