@layer components {
	.card-container {
		container-name: card;
		container-type: inline-size;
	}

	.card {
		--image-size: var(--avatar-size);

		display: grid;
		grid-template-rows: auto 1fr auto auto;
		grid-template-columns: var(--image-size) 1fr;
		grid-template-areas:
			'header header'
			'picture content'
			'picture links'
			'footer footer';
		gap: var(--spacing-large);
		margin: var(--spacing-large) 0;
		border: var(--border-style) var(--highlight-border-color) var(--border-width);
		border-radius: var(--border-radius);
		background-color: var(--bg-color);
		padding: var(--spacing-large);
	}

	.card:not(:has(picture > img)) {
		grid-template-rows: auto 1fr auto auto;
		grid-template-columns: 1fr;
		grid-template-areas:
			'header'
			'content'
			'links'
			'footer';
	}

	.card header { grid-area: header; }

	.card .card-title {
		display: flex;
		align-items: center;
		gap: var(--spacing-medium);
	}

	.card .card-title :is(h2, h3, h4, h5, h6) { margin-block: 0; }

	.card .card-subtitle {
		margin-block-start: var(--spacing-medium);
		font-style: italic;
		font-size: 0.8rem;
	}

	.card picture {
		display: block;
		grid-area: picture;
		place-self: start center;
		border-radius: var(--border-radius);
		width: var(--image-size);
		height: var(--image-size);
		overflow: clip;
	}

	.card:not(:has(picture > img)) picture { display: none; }

	.card img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}

	.card .card-content { grid-area: content; }
	.card .card-links { grid-area: links; }
	.card footer { grid-area: footer; }

	.card .card-content > *:first-child { margin-block-start: 0; }
	.card .card-content > *:last-child { margin-block-end: 0; }

	.card:not(:has(.card-links > *)) .card-links { display: none; }
	.card:not(:has(footer > *)) footer { display: none; }

	.card .draft-tag {
		display: inline-block;
		margin: var(--spacing-small);
		border-radius: var(--border-radius);
		background-color: var(--accent-color);
		padding: var(--spacing-small) var(--spacing-medium);
		color: var(--bg-color);
		font-weight: bold;
		text-transform: uppercase;
	}

	@container card (max-width: 25rem) {
		.card {
			grid-template-rows: auto var(--image-size) 1fr auto auto;
			grid-template-columns: 1fr;
			grid-template-areas:
				'header'
				'picture'
				'content'
				'links'
				'footer';
		}

		.card picture {
			align-self: center center;
			width: calc(100% - var(--spacing-small));
			height: calc(100% - var(--spacing-small));
		}
	}

	@container card (max-width: 15rem) { .card { grid-template-rows: auto 1fr auto auto auto; } }
}
