<details id="webrings">
	<summary>
		<h2 id="webrings-label">
			<m-icon icon="uil:globe"></m-icon>
			<span>Webrings links</span>
		</h2>
	</summary>

	<div id="webrings-list">
		<m-webring id="a11y-webring.club">
			<article id="a11y-webring.club-card" aria-labelledby="a11y-webring.club-header">
				<h3 id="a11y-webring.club-header">a11y-webring.club</h3>

				<blockquote>
					This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.
				</blockquote>

				<ul>
					<li class="webring-previous-website">
						<a
							rel="external"
							referrerpolicy="strict-origin"
							rel="external noopener"
							href="https://a11y-webring.club/prev"
						>
							<m-icon icon="uil:angle-left-b"></m-icon>
							<span>Previous website</span>
						</a>
					</li>
					<li>
						<a
							rel="external"
							referrerpolicy="strict-origin"
							rel="external noopener"
							href="https://a11y-webring.club/random"
						>
							<m-icon icon="uil:arrow-random"></m-icon>
							<span>Random website</span>
						</a>
					</li>
					<li class="webring-next-website">
						<a
							rel="external"
							referrerpolicy="strict-origin"
							rel="external noopener"
							href="https://a11y-webring.club/next"
						>
							<span>Next website</span>
							<m-icon icon="uil:angle-right-b"></m-icon>
						</a>
					</li>
				</ul>
			</article>
		</m-webring>
	</div>
</details>
