---
import '../assets/css/pages/404.css';
import Effects from '../components/Effects.astro';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import Webrings from '../components/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="410 | Marco Campos"
		description="410 - Dead End"
		url={Astro.url.href}
	/>
	<body>
		<css-naked-day>
			<div>
				<hr />
				<h2>Why this website looks so weird?</h2>
				<p>We are celebrating CSS Naked Day!</p>
				<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
				<hr />
			</div>
		</css-naked-day>

		<header id="page-header">
			<SiteNav />
			<div>
				<Logo
					subtitle="Dead End"
					shortSubtitle="410"
					url="/"
					title="Home Page"
					micro
					glitch
				/>
				<h1>410 - Begone fool!</h1>
			</div>
		</header>

		<main>
			<div id="contents">
				<p>This page should not exist, you are here by mistake.</p>
				<p>
					<a href="/">Go back home</a>
				</p>
			</div>
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<iab-escape></iab-escape>
	</body>
</html>
