---
import '../assets/pages/error/error.css';
import CssNakedDay from '../components/CssNakedDay/CssNakedDay.astro';
import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SvgDefs from '../components/SvgDefs/SvgDefs.astro';
import Webrings from '../components/Webrings/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="410 | Marco Campos"
		description="410 - Dead End"
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<SiteNav />
		<CssNakedDay />

		<header>
			<Logo
				subtitle="Dead End"
				shortSubtitle="410"
				url="/"
				title="Home Page"
				micro
				glitch
			/>
			<h1>410 - Begone fool!</h1>
		</header>

		<main>
			<p>This page should not exist, you are here by mistake.</p>
			<p>
				<a href="/">Go back home</a>
			</p>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
