---
import '../assets/css/pages/404.css';
import GlitchLogo from '../components/GlitchLogo/GlitchLogo.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SkipToContent from '../components/SkipToContent/SkipToContent.astro';
import BaseLayout from '../layouts/Base.astro';
---
<BaseLayout
	htmlTitle={['Dead end']}
	title="Dead end"
	description="Dead end"
	url="/410"
	tags={['Dead End', 'Error']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<div>
			<GlitchLogo />
		</div>
		<h1>410 - Begone, fool!</h1>
	</header>

	<div id="contents">
		<p>This page should not exist, you are here by mistake.</p>
		<p>
			<a href="/">Go back home</a>
		</p>
	</div>
</BaseLayout>
