---
import { Image } from 'astro:assets';
import avatar from '../assets/images/me.jpg';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="@madcampos | Marco Campos"
		description="Social Media activity for @madcampos"
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Profile page"
				shortSubtitle="@"
				title="@madcampos"
			/>
			<h1>@madcampos</h1>
		</header>

		<main id="main" class="h-card vcard" itemprop="mainEntity" itemtype="https://schema.org/Person" itemscope>
			<meta class="p-nickname nickname" itemprop="alternateName" content="madcampos" />
			<meta class="p-name fn n" itemprop="name" content="Marco Campos" />
			<m-avatar>
				<picture
					class="user-avatar"
					itemprop="image"
					itemscope
					itemtype="https://schema.org/ImageObject"
				>
					<Image
						class="u-photo photo"
						itemprop="contentUrl"
						src={avatar}
						alt="A picture of my face with a smile looking at the camera. I&apos;m wearing aviator glasses, a fake fur winter hat and an orange scarf."
						loading="eager"
						widths={[128, 256, 512, 768, 1024]}
						width={512}
						sizes="(max-width: 360px) 128px, (max-width: 720px) 256px, (max-width: 1280px) 512px, (max-width: 2160px) 768px 1024px"
						quality={75}
					/>
				</picture>
			</m-avatar>

			<details open>
				<summary>
					<h2>Online Activity</h2>
				</summary>

				<p>No published activity.</p>
			</details>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
