---
import CssNakedDay from '../components/CssNakedDay/CssNakedDay.astro';
import DecoratedLine from '../components/DecoratedLine/DecoratedLine.astro';
import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SvgDefs from '../components/SvgDefs/SvgDefs.astro';
import Webrings from '../components/Webrings/Webrings.astro';
---
<!doctype html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="AI Use Statement | Marco Campos"
		description="AI Use Statement for Marco Campos website."
		createdAt={new Date('2024-11-22T23:16:26-0500')}
		updatedAt={new Date('2026-07-10T21:15:36-0400')}
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />
		<CssNakedDay />

		<header>
			<Logo
				subtitle="AI Use"
				shortSubtitle="AI"
				title="Ai Use Page"
			/>
			<h1 data-pagefind-meta="title">AI Use Statement</h1>
		</header>

		<main data-pagefind-body id="main">
			<p>I do not use LLMs to generate the content published on this website.</p>
			<p>Below are places and situations where LLMs were used, and those where it is not.</p>

			<h2>LLMs <em>were</em> used for</h2>

			<ul>
				<li>Images for blog posts, which are now replaced.</li>
				<li>Writing the "Wheel of Fortune" component on the <a href="/food/">"food"</a> page.</li>
				<li>The logo, images, and seed data for the database for the <a href="https://github.com/madcampos/corny-unicorn/">Corny Unicorn</a> project were AI generated.</li>
				<li>The images and content for the <a href="/triangle/">Pyramid Scheme</a> easter egg page were <em>intentionally</em> AI generated.</li>
				<li>
					<span>Talk images</span>
					<ul>
						<li>In <a href="/talks/tojs-web-components/">"Web components for fun and profit"</a> the title slide image is AI generated.</li>
						<li>In <a href="/talks/tojs-forms/">"Form validation with (almost) no JS"</a> my avatar is AI edited.</li>
					</ul>
				</li>
			</ul>

			<h2>LLMs <em>are not</em> used for</h2>

			<ul>
				<li>Writing blog content, drafts, posts, or other writings.</li>
				<li>Writing code.</li>
				<li>Graphical design.</li>
				<li>Accessibility testing and improvements.</li>
			</ul>
		</main>

		<footer>
			<DecoratedLine />

			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
