---
import Effects from '../components/Effects.astro';
import HtmlHead from '../components/HtmlHead.astro';
import IabEscape from '../components/IabEscape/IabEscape.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import Webrings from '../components/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="AI Use Statement"
		description="AI Use Statement for Marco Campos website."
		url={Astro.url.href}
	/>
	<body>
		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day hidden>
			<div id="css-banner">
				<hr />
				<h2>Why this website looks so weird?</h2>
				<p>We are celebrating CSS Naked Day!</p>
				<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
				<hr />
			</div>
			<script src="./index.ts"></script>
		</css-naked-day>

		<header id="page-header">
			<div>
				<Logo
					subtitle="AI Use"
					shortSubtitle="AI"
					url="/ai/"
					title="Ai Use Page"
				/>
				<h1>AI Use Statement</h1>
			</div>
		</header>

		<main id="main">
			<p>I do use AI tools to generate some of the content published on this website. Below are places and situations where AI is used, and those where it is not.</p>

			<h2>AI <em>is</em> used</h2>

			<ul>
				<li>Hero images for posts</li>
				<li>Internal images on some posts</li>
				<li>Audio/song version of the website license</li>
			</ul>

			<h2>AI <em>is not</em> used</h2>

			<ul>
				<li>Generating or writing code for the website</li>
				<li>Writing content for the website</li>
				<li>Designs for the website</li>
			</ul>

			<h2>Is your art stolen?</h2>

			<p>If you feel like your art have been stolen or scraped by AI, first I'm sorry.</p>
			<p>Although I cannot remove your art from the datasets used to train these AI models, I <em>can</em> remove the results from my website.</p>
			<p>If you would like me to do so, please contact me at <em><a href="mailto:me@madcampos.dev">me@madcampos.dev</a></em>.</p>
			<p>If you have the technical knowledge, feel free to open an issue <a href="https://github.com/madcampos/madcampos/issues/new">on GitHub</a>.</p>
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<IabEscape />
	</body>
</html>
