---
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
import { listAllChangelogs } from '../utils/changelog.ts';

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long', timeStyle: 'short' });
const changelogs = await listAllChangelogs();
const renderedChangelogs = await Promise.all(changelogs.map(async (changelog) => {
	const { Content } = await changelog.render();

	return {
		Content,
		title: changelog.title,
		date: changelog.data.date,
		draft: changelog.data.draft
	};
}));
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Changelog | Marco Campos"
		description="List of changes in diferent versions of the website."
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Changelog"
				shortSubtitle="Log"
				title="Changelog page"
			/>
			<h1>Changelog</h1>
		</header>

		<main id="main">
			{
				renderedChangelogs.map(({ date, title, draft, Content }) => (
					<details>
						<summary>
							<header>
								<h2>
									{draft && <draft-tag>Draft</draft-tag>}
									<Fragment set:html={title} />
								</h2>
								<p><time datetime={date.toISOString()}>{formatter.format(date)}</time></p>
							</header>
						</summary>
						<article>
							<Content />
						</article>
					</details>
				))
			}
		</main>

		<hr />

		<footer>
			<OldStyleButtons />
			<Webrings />
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
