---
import '../assets/css/pages/changelogs.css';
import CSSNakedDay from '../components/CSSNakedDay/CSSNakedDay.astro';
import Effects from '../components/Effects/Effects.astro';
import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import IabEscape from '../components/IabEscape/IabEscape.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SkipToContent from '../components/SkipToContent/SkipToContent.astro';
import Webrings from '../components/Webrings/Webrings.astro';
import { listAllChangelogs } from '../utils/changelog.ts';

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long', timeStyle: 'short' });
const changelogs = await Promise.all(await listAllChangelogs());
const renderedChangelogs = await Promise.all(changelogs.map(async (changelog) => {
	const { Content } = await changelog.render();

	return {
		Content,
		title: changelog.title,
		date: changelog.data.date,
		draft: changelog.data.draft
	};
}));
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Changelog | Marco Campos"
		description="List of changes in diferent versions of the website."
		url={Astro.url.href}
	/>
	<body>
		<CSSNakedDay />
		<main>
			<header id="page-header">
				<SkipToContent />
				<SiteNav />
				<div>
					<Logo
						subtitle="Changelog"
						shortSubtitle="Log"
						url="/changelog/"
						title="Changelog page"
					/>
					<h1>Changelog</h1>
				</div>
			</header>

			{
				renderedChangelogs.map(({ date, title, draft, Content }) => (
					<details>
						<summary>
							<header>
								<h2>
									{draft && <draft-tag>Draft</draft-tag>}
									<Fragment set:html={title} />
								</h2>
								<p><time datetime={date.toISOString()}>{formatter.format(date)}</time></p>
							</header>
						</summary>
						<article>
							<Content />
						</article>
					</details>
				))
			}
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<IabEscape />
	</body>
</html>
