---
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Feeds | Marco Campos"
		description="Feeds List Page"
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Feeds List"
				shortSubtitle="Feeds"
				title="Feeds List Page"
			/>
			<h1>Feeds List</h1>
		</header>

		<main>
			<dl>
				<dt><a href="/blog/feed.atom.xml">Blog ATOM Feed</a></dt>
				<dd>Feed for blog posts, in ATOM format.</dd>

				<dt><a href="/blog/feed.rss.xml">Blog RSS Feed</a></dt>
				<dd>Feed for blog posts in RSS format.</dd>

				<dt><a href="/changelog.xml">Changelog</a></dt>
				<dd>Feed for changelog (site updates), in ATOM format only.</dd>

				<dt><a href="/projects.xml">Projects</a></dt>
				<dd>Feed for project list, in ATOM format only.</dd>

				<dt><a href="/talks.xml">Talks</a></dt>
				<dd>Feed for talks list, in ATOM format only.</dd>
			</dl>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
