---
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Food order | Marco Campos"
		description="What food to order at different places."
		url={Astro.url.href}
	/>
	<body>
		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Food Order"
				shortSubtitle="Food"
				url="/food/"
				title="Food Order page"
			/>
			<h1>Food Order</h1>
		</header>

		<main id="main">
			<details>
				<summary>Tim Hortons</summary>

				<strong>Coffee</strong>
				<ul>
					<li>Medium French Vanilla</li>
				</ul>

				<strong>Savory food</strong>
				<ul>
					<li>Herb and garlic pastry</li>
					<li>Red peppers and Swiss cheese pastry</li>
				</ul>

				<strong>Sweets</strong>
				<ul>
					<li>Boston cream doughnut</li>
					<li>Wild blueberry muffin</li>
				</ul>
			</details>

			<details>
				<summary>Subway</summary>

				<ol>
					<li>Any bread, 6 inches</li>
					<li>Cheddar cheese</li>
					<li>Lettuce, onions, olives, green bell peppers</li>
					<li>Honey mustard sauce</li>
				</ol>
			</details>

			<details>
				<summary>A&W</summary>

				<p>Beyond meet combo, with onion rings, and root beer.</p>
			</details>

			<details>
				<summary>Ice Cream flavors</summary>

				<ol>
					<li>Mint chocolate chips</li>
					<li>Cookies and cream</li>
					<li>Salty caramel</li>
					<li>Chocolate</li>
				</ol>
			</details>

			<details>
				<summary>Pizza flavors</summary>

				<p>Any vegetarian pizza will do, but preffered toppings are:</p>

				<ul>
					<li>Olives</li>
					<li>Bell peppers</li>
					<li>Mushrooms</li>
					<li>Sun dried tomatoes</li>
					<li>Onions</li>
				</ul>
			</details>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
