---
import '../assets/pages/guestbook/guestbook.css';
import CssNakedDay from '../components/CssNakedDay/CssNakedDay.astro';
import DecoratedLine from '../components/DecoratedLine/DecoratedLine.astro';
import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SvgDefs from '../components/SvgDefs/SvgDefs.astro';
import Webrings from '../components/Webrings/Webrings.astro';

const turnstileKey = import.meta.env.DEV ? '1x00000000000000000000AA' : '0x4AAAAAABhvDBhr_iqDTR0H';
---
<!doctype html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Guestbook | Marco Campos"
		description="Guestbook"
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />
		<CssNakedDay />

		<header>
			<Logo
				subtitle="Guestbook"
				shortSubtitle="Book"
				title="guestbook"
			/>
			<h1>Guestbook</h1>
		</header>

		<main id="main">
			<form action="/api/guestbook/" method="post" hidden>
				<fieldset>
					<legend>Sign Guestbook</legend>
					<form-status hidden></form-status>
					<input-wrapper>
						<label for="name-input">Name</label>
						<input
							type="text"
							name="name"
							id="name-input"
							minlength="1"
							maxlength="128"
							autocomplete="name"
							required
						/>
						<input-error>Your name is required.</input-error>
					</input-wrapper>
					<input-wrapper>
						<label for="message-input">Message</label>
						<textarea
							name="message"
							id="message-input"
							rows="10"
							cols="20"
							autocapitalize="sentences"
							autocorrect="on"
							spellcheck="true"
							wrap="soft"
							required
							minlength="1"
							maxlength="512"
						></textarea>
						<input-hint>
							<p>You can use inline markdown for editing messages. All html is stripped though.</p>
							<details>
								<summary>Accepted formatting</summary>
								<ul>
									<li>Text between single "<code>_</code>" or "<code>*</code>" becomes <em>_italic_</em>.</li>
									<li>Text between two "<code>_</code>" or "<code>*</code>" becomes <strong>**bold**</strong>.</li>
									<li>Text between two "<code>~</code>" becomes <del>~~strikethrough/deleted~~</del>.</li>
									<li>Text between two "<code>+</code>" becomes <ins>++underlined/inserted++</ins>.</li>
									<li>Text between two "<code>=</code>" becomes <mark>==highlighted==</mark>.</li>
									<li>Text between single "<code>`</code>" becomes <code>`inline code`</code>.</li>
								</ul>
							</details>
						</input-hint>
						<input-error>Message is required.</input-error>
					</input-wrapper>
					<input-wrapper>
						<label for="word-count">Character count:</label>
						<output for="message-input" aria-live="off">
							<progress
								id="word-count"
								max="512"
								value="0"
							>
								&mdash;
							</progress>
							<span id="word-count-text">&mdash;</span>
						</output>
					</input-wrapper>

					<input-wrapper>
						<div
							class="cf-turnstile"
							data-sitekey={turnstileKey}
							data-response-field="true"
							data-response-field-name="token"
							data-size="compact"
						>
						</div>
					</input-wrapper>

					<footer>
						<button type="submit">Submit</button>
						<hr />
						<button type="reset">Reset</button>
					</footer>
				</fieldset>
			</form>

			<fieldset id="messages">
				<legend>Messages</legend>

				<message-list></message-list>
			</fieldset>
		</main>

		<footer>
			<DecoratedLine />

			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
		<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" type="module" is:inline></script>
		<script src="../assets/pages/guestbook/guestbook.ts"></script>
	</body>
</html>
