---
import CssNakedDay from '../components/CssNakedDay/CssNakedDay.astro';
import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SvgDefs from '../components/SvgDefs/SvgDefs.astro';
import Webrings from '../components/Webrings/Webrings.astro';
import { encodeEmail } from '../utils/email';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Hello | Marco Campos"
		description="blank Page"
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<SiteNav />
		<CssNakedDay />

		<header>
			<Logo
				subtitle="Hello"
				shortSubtitle="Hi"
				title="Hello Page"
			/>
			<h1>Hello</h1>
		</header>

		<main>
			<p>
				Hi! My preferred contact method is via <Fragment set:html={`<a href="mailto:${encodeEmail(true)}">email</a>`} />.
			</p>
			<p>I may take longer to answer other social media, like LinkedIn, or Instagram, but I do try to reply in the same day.</p>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
