---
import '../assets/pages/home/home.css';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import avatar from '../../public/assets/images/me.jpg';
import CssNakedDay from '../components/CssNakedDay/CssNakedDay.astro';
import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import Logo from '../components/Logo/Logo.astro';
import OldButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SvgDefs from '../components/SvgDefs/SvgDefs.astro';
import Webrings from '../components/Webrings/Webrings.astro';
import { encodeEmail } from '../utils/email';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/ProfilePage">
	<HtmlHead
		title="Marco Campos — Staff Developer"
		description="Tech Stack: Vue.js, Node.js, TypeScript, JavaScript"
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>
		<CssNakedDay />

		<header>
			<h1>
				<Logo
					subtitle=""
					shortSubtitle=""
					title="Home page"
				/>
			</h1>
		</header>

		<main class="h-card vcard" itemprop="mainEntity" itemtype="https://schema.org/Person" itemscope>
			<m-avatar>
				<picture
					class="user-avatar"
					itemprop="image"
					itemscope
					itemtype="https://schema.org/ImageObject"
				>
					<Image
						class="u-photo photo"
						itemprop="contentUrl"
						src={avatar}
						alt="A picture of my face with a smile looking at the camera. I&apos;m wearing aviator glasses, a fake fur winter hat and an orange scarf."
						loading="eager"
						fetchpriority="high"
						widths={[128, 256, 512, 768, 1024]}
						width={512}
						sizes="
							(max-width: 25rem) 250px,
							(max-width: 30rem) 280px,
							(max-width: 40rem) 380px,
							(max-width: 50rem) 475px,
							320px
						"
						format="jpg"
					/>
				</picture>
			</m-avatar>
			<div>
				<div class="p-note note" itemprop="description">
					<p>
						Hi there! My name is <em class="p-name fn n" itemprop="name"><span class="p-given-name given-name" itemprop="givenName">Marco</span>
							<span class="p-family-name family-name" itemprop="familyName">Campos</span></em>. I go by <em>@</em>
						<em class="p-nickname nickname" itemprop="alternateName">madcampos</em> on most social networks and my pronouns are he/him!
						<br />
						I'm a <span class="p-category category p-job-title" itemprop="jobTitle">Staff Developer</span> based in <span
							class="p-adr adr"
							itemprop="address"
							itemscope
							itemtype="https://schema.org/PostalAddress"
						><span class="p-locality locality" itemprop="addressLocality">Toronto</span>, <span class="p-country-name country-name" itemprop="addressCountry"
							>Canada</span></span>.
					</p>

					<p>I have experience with both frontend and backend development, with focus on responsive and accessible design, typescript and node.js.</p>
				</div>

				<p>You can find my projects, personal work, blog and some social networks on the links below:</p>
				<nav>
					<ul>
						<li>
							<a href="/blog/">
								<Icon name="mingcute:edit-4-line" aria-hidden="true" />
								<span>My Blog</span>
							</a>
						</li>
						<li>
							<Icon name="mingcute:flask-line" aria-hidden="true" />
							<a href="/projects/">
								<span>Project Highlights</span>
							</a>
						</li>
						<li>
							<Icon name="mingcute:drawing-board-line" aria-hidden="true" />
							<a href="/talks/">
								<span>Talks I've given</span>
							</a>
						</li>
						<li>
							<Icon name="mingcute:github-line" aria-hidden="true" />
							<a href="https://github.com/madcampos" rel="noreferrer noopener me authn" referrerpolicy="no-referrer" itemprop="sameAs">
								<span>GitHub</span>
							</a>
						</li>
						<li>
							<Icon name="mingcute:codepen-line" aria-hidden="true" />
							<a href="https://codepen.io/madcampos" rel="noreferrer noopener me" referrerpolicy="no-referrer" itemprop="sameAs">
								<span>CodePen</span>
							</a>
						</li>
						<li>
							<Icon name="mingcute:linkedin-line" aria-hidden="true" />
							<a href="https://www.linkedin.com/in/madcampos/" rel="noreferrer noopener" referrerpolicy="no-referrer" itemprop="sameAs">
								<span>LinkedIn</span>
							</a>
						</li>
						<li>
							<Icon name="mingcute:document-2-line" aria-hidden="true" />
							<a href="/resume/" rel="me alternate">
								<span>Resume</span>
							</a>
						</li>
						<li>
							<Icon name="mingcute:mail-line" aria-hidden="true" />
							<Fragment
								set:html={`<a href="mailto:${encodeEmail(true)}" rel="me">
								<span class="u-email email" itemprop="email">${encodeEmail()}</span>
							</a>`}
							/>
						</li>
					</ul>
				</nav>
			</div>
		</main>

		<footer>
			<OldButtons />
			<Webrings />
			<hit-counter></hit-counter>
			<site-settings></site-settings>
		</footer>

		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
