---
import CSSNakedDay from '../components/CSSNakedDay/CSSNakedDay.astro';
import Effects from '../components/Effects/Effects.astro';
import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import IabEscape from '../components/IabEscape/IabEscape.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SkipToContent from '../components/SkipToContent/SkipToContent.astro';
import Webrings from '../components/Webrings/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="What I'm doing now"
		description="What I'm doing now, my current focus and priorities."
		url={Astro.url.href}
	/>
	<body>
		<CSSNakedDay />
		<main>
			<header id="page-header">
				<SkipToContent />
				<SiteNav />
				<div>
					<Logo
						subtitle="Now"
						shortSubtitle="Now"
						url="/now/"
						title="Now Page"
					/>
					<h1>What am I doing now?</h1>
				</div>
			</header>

			<p>Here’s what I’m currently focused on, in no particular order:</p>

			<ul>
				<li>Rebuilding the static site generator used for this website</li>
				<li>Working on this site to make it more "<a href="https://indieweb.org/">IndieWeb</a>-ified".</li>
				<li>Saving to buy boardgames and Lego.</li>
			</ul>
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<IabEscape />
	</body>
</html>
