---
import Effects from '../components/Effects.astro';
import HtmlHead from '../components/HtmlHead.astro';
import IabEscape from '../components/IabEscape.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import Webrings from '../components/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="What I'm doing now"
		description="What I'm doing now, my current focus and priorities."
		url={Astro.url.href}
	/>
	<body>
		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day hidden>
			<div id="css-banner">
				<hr />
				<h2>Why this website looks so weird?</h2>
				<p>We are celebrating CSS Naked Day!</p>
				<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
				<hr />
			</div>
		</css-naked-day>

		<header id="page-header">
			<div>
				<Logo
					subtitle="Now"
					shortSubtitle="Now"
					url="/now/"
					title="Now Page"
				/>
				<h1>What am I doing now?</h1>
			</div>
		</header>

		<main id="main">
			<p>Here’s what I’m currently focused on, in no particular order:</p>

			<ul>
				<li>Rebuilding the static site generator used for this website</li>
				<li>Working on this site to make it more "<a href="https://indieweb.org/">IndieWeb</a>-ified".</li>
				<li>Saving to buy boardgames and Lego.</li>
			</ul>
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<IabEscape />
	</body>
</html>
