---
import CssNakedDay from '../components/CssNakedDay/CssNakedDay.astro';
import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SvgDefs from '../components/SvgDefs/SvgDefs.astro';
import Webrings from '../components/Webrings/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="What I'm doing now?"
		description="What I'm doing now, my current focus and priorities."
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />
		<CssNakedDay />

		<header>
			<Logo
				subtitle="Now"
				shortSubtitle="Now"
				title="Now Page"
			/>
			<h1>What am I doing now?</h1>
		</header>

		<main id="main">
			<p>Here’s what I’m currently focused on, in no particular order:</p>

			<ul>
				<li>Adding more cool goodies to the website</li>
				<li>Always: Saving to buy boardgames and Lego.</li>
			</ul>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
