---
import '../assets/css/pages/error.css';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Offline | Marco Campos"
		description="Offline Page"
		url={Astro.url.href}
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Offline"
				shortSubtitle="Off."
				url="/"
				title="Home Page"
				micro
				glitch
			/>
			<h1>Dead (or offline) end</h1>
		</header>

		<main>
			<p>Looks like you hit a dead-end. It seems though the site is downloaded <em>or</em> you are offline.</p>

			<p>All pages are still navegable and you should have <strong>no problems</strong> visiting most pages.</p>
			<p>If you are completely offline, you won't be able to see or use:</p>
			<ul>
				<li>Images from pages not visited before.</li>
				<li>Some dynamic content, like adding comments.</li>
			</ul>

			<p>
				<a href="/">Go back home</a>
			</p>
		</main>

		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
