---
import Effects from '../components/Effects.astro';
import HtmlHead from '../components/HtmlHead.astro';
import IabEscape from '../components/IabEscape/IabEscape.astro';
import Logo from '../components/Logo/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import Webrings from '../components/Webrings.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Privacy | Marco Campos"
		description="Privacy Statement."
		url={Astro.url.href}
	/>
	<body>
		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day hidden>
			<div id="css-banner">
				<hr />
				<h2>Why this website looks so weird?</h2>
				<p>We are celebrating CSS Naked Day!</p>
				<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
				<hr />
			</div>
			<script src="./index.ts"></script>
		</css-naked-day>

		<header id="page-header">
			<div>
				<Logo
					subtitle="Privacy"
					shortSubtitle="Priv."
					url="/privacy/"
					title="Privacy page"
				/>
				<h1>Privacy</h1>
			</div>
		</header>

		<main id="main">
			<p>This website (<a href="https://madcampos.dev">https://madcampos.dev</a>) does not perform web tracking of any kind.</p>
			<p>That's it.</p>
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<IabEscape />
	</body>
</html>
