---
import '../assets/css/pages/styleguide.css';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';

import BlockLevelElements from '../components/styleguide/block.astro';
import CanvasElement from '../components/styleguide/canvas.astro';
import Components from '../components/styleguide/components.astro';
import EmbedElements from '../components/styleguide/embed.astro';
import FormElements from '../components/styleguide/forms.astro';
import InlineLevelElements from '../components/styleguide/inline.astro';
import InteractiveElements from '../components/styleguide/interactive.astro';
import MediaElements from '../components/styleguide/media.astro';
import ObsoleteElements from '../components/styleguide/obsolete.astro';
import SectioningElements from '../components/styleguide/sectioning.astro';
import SvgAndMathElements from '../components/styleguide/svg-and-math.astro';
import TableElement from '../components/styleguide/tables.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Madcampos Style Guide"
		description="Style Guide for my personal website."
		tags={['css', 'html', 'meta', 'style', 'styleguide']}
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header id="page-top">
			<Logo
				subtitle="Style Guide"
				shortSubtitle="Style"
				title="Style Guide"
			/>
			<h1>Style Guide</h1>
		</header>

		<main id="main">
			<SectioningElements />
			<BlockLevelElements />
			<InlineLevelElements />
			<MediaElements />
			<EmbedElements />
			<SvgAndMathElements />
			<CanvasElement />
			<TableElement />
			<FormElements />
			<InteractiveElements />
			<Components />
			<ObsoleteElements />
		</main>

		<footer></footer>
		<SvgDefs />
		<iab-escape></iab-escape>
		<script src="../assets/js/pages/styleguide.ts"></script>
	</body>
</html>
