---
import '../assets/pages/styleguide/styleguide.css';

import HtmlHead from '../components/HtmlHead/HtmlHead.astro';
import Logo from '../components/Logo/Logo.astro';
import SiteNav from '../components/SiteNav/SiteNav.astro';
import SvgDefs from '../components/SvgDefs/SvgDefs.astro';

import CssNakedDay from '../components/CssNakedDay/CssNakedDay.astro';
import BlockLevelElements from '../components/Styleguide/block.astro';
import CanvasElement from '../components/Styleguide/canvas.astro';
import Components from '../components/Styleguide/components.astro';
import EmbedElements from '../components/Styleguide/embed.astro';
import FormElements from '../components/Styleguide/forms.astro';
import InlineLevelElements from '../components/Styleguide/inline.astro';
import InteractiveElements from '../components/Styleguide/interactive.astro';
import MediaElements from '../components/Styleguide/media.astro';
import ObsoleteElements from '../components/Styleguide/obsolete.astro';
import SectioningElements from '../components/Styleguide/sectioning.astro';
import SvgAndMathElements from '../components/Styleguide/svg-and-math.astro';
import TableElement from '../components/Styleguide/tables.astro';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Madcampos Style Guide"
		description="Style Guide for my personal website."
		tags={['css', 'html', 'meta', 'style', 'styleguide']}
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />
		<CssNakedDay />

		<header id="page-top">
			<Logo
				subtitle="Style Guide"
				shortSubtitle="Style"
				title="Style Guide"
			/>
			<h1>Style Guide</h1>
		</header>

		<main id="main">
			<SectioningElements />
			<BlockLevelElements />
			<InlineLevelElements />
			<MediaElements />
			<EmbedElements />
			<SvgAndMathElements />
			<CanvasElement />
			<TableElement />
			<FormElements />
			<InteractiveElements />
			<Components />
			<ObsoleteElements />
		</main>

		<footer></footer>
		<SvgDefs />
		<iab-escape></iab-escape>
		<script src="../assets/pages/styleguide/styleguide.ts"></script>
	</body>
</html>
