---
import buttonStyles from '../styles/html-button.css?url';
import baseStyles from '../styles/index.css?url';
---

<old-style-button dest="https://developer.mozilla.org/en-US/docs/Web/HTML">
	<template shadowrootmode="open">
		<link rel="stylesheet" href={baseStyles} />
		<link rel="stylesheet" href={buttonStyles} />

		<button>
			<svg viewBox="0 0 88 31">
				<path id="button-base" d="M0 0h88v31H0z" />

				<path id="button-border-down" fill-opacity="0.4" d="M88 31H0l2-2h84l2 2Z" />
				<path id="button-border-right" fill-opacity="0.4" d="M88 0v31l-2-2V2l2-2Z" />
				<path id="button-border-up" fill-opacity="0.4" d="M0 0h88l-2 2H2L0 0Z" />
				<path id="button-border-left" fill-opacity="0.4" d="M0 31V0l2 2v27l-2 2Z" />

				<g id="icon-w3c">
					<path fill="white" d="M2 2h46v27H2z" />
					<g>
						<path
							fill="#005a9c"
							d="m16.074 5.483 3.606 12.263 3.608-12.263h2.611L19.928 25.63h-.248l-3.731-12.485-3.731 12.485h-.249L6 5.483h2.612l3.606 12.263 2.438-8.258-1.194-4.005h2.612Z M33.313 19.163c0 1.825-.485 3.358-1.453 4.602-.971 1.243-2.228 1.865-3.77 1.865-1.16 0-2.171-.37-3.034-1.107-.862-.739-1.501-1.738-1.915-2.996l2.039-.846c.299.763.693 1.364 1.182 1.802.489.439 1.064.66 1.728.66.697 0 1.286-.391 1.767-1.169.481-.78.721-1.716.721-2.811 0-1.211-.258-2.146-.772-2.81-.597-.779-1.534-1.17-2.81-1.17h-.994V13.99l3.482-6.019h-4.205L24.11 9.96h-.745V5.483h9.699v1.218l-3.681 6.343c1.293.415 2.271 1.17 2.935 2.264.664 1.094.995 2.378.995 3.855z"
						/>
						<path d="m43.435 5.37.423 2.571-1.497 2.865s-.575-1.215-1.53-1.887c-.805-.568-1.33-.691-2.148-.522-1.055.218-2.247 1.476-2.768 3.028-.623 1.857-.629 2.756-.651 3.582-.035 1.323.173 2.105.173 2.105s-.909-1.682-.9-4.145c.005-1.759.283-3.354 1.096-4.927.716-1.384 1.779-2.214 2.723-2.311.976-.102 1.749.368 2.344.879.625.534 1.26 1.703 1.26 1.703l1.475-2.941Zm.184 14.553s-.661 1.183-1.074 1.638c-.412.456-1.15 1.258-2.061 1.661-.912.401-1.389.478-2.291.39-.9-.086-1.736-.607-2.029-.826-.292-.216-1.042-.856-1.464-1.451-.424-.598-1.086-1.793-1.086-1.793s.368 1.196.6 1.704c.132.292.541 1.185 1.121 1.965.539.725 1.589 1.974 3.184 2.256 1.596.282 2.692-.433 2.962-.607.271-.173.843-.651 1.206-1.039a9.14 9.14 0 0 0 .932-1.229c.145-.226.381-.683.381-.683l-.381-1.986Z" />
					</g>
				</g>

				<text x="100" y="100" class="hidden-text">W3C Validator:</text>
				<text y="14">
					<tspan x="50">HTML</tspan>
					<tspan x="50" dy="1em">5</tspan>
				</text>
				<text x="100" y="100" class="hidden-text">Pass</text>
				<path
					id="checkmark"
					fill="maroon"
					d="M85 13.833c0 .385-.135.712-.404.981L72.184 27.226a1.336 1.336 0 0 1-.981.404c-.385 0-.712-.135-.981-.404l-7.188-7.187a1.34 1.34 0 0 1-.404-.982c0-.385.135-.712.404-.981l1.963-1.963a1.34 1.34 0 0 1 .982-.404c.384 0 .711.135.981.404l4.243 4.258 9.467-9.482c.27-.27.597-.404.982-.404s.712.134.981.404l1.963 1.963c.269.269.404.596.404.981"
				/>
			</svg>
		</button>
	</template>
</old-style-button>
