@import url('../../../components/Card/card.css');

@layer pages {
	form {
		inline-size: fit-content;
		max-inline-size: var(--size-content-2);
		margin-inline: auto;

		output {
			display: flex;
			align-items: center;
			gap: var(--size-3);
			inline-size: 100%;

			span { flex-shrink: 0; }

			progress {
				flex-grow: 1;
				min-inline-size: auto;
			}
		}

		footer {
			display: flex;

			hr {
				border: none;
				flex-shrink: 1;
			}
		}
	}

	#messages:has(message-list:empty) { display: none; }

	message-list {
		display: flex;
		flex-direction: column;

		progress:only-child {
			display: block;
			margin-inline: auto;
		}

		hr {
			inline-size: var(--size-content-0);
			border-block-start-style: solid;
			border-block-start-color: var(--secondary-color);
		}

		m-card rendered-content {
			text-wrap-mode: wrap;
			white-space-collapse: preserve-breaks;
		}
	}

	.cf-turnstile { margin-inline: auto; }
}
