@layer components {
	.post-card {
		--image-size: var(--avatar-small-size);
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: var(--image-size) 1fr;
		grid-template-areas:
			'picture header'
			'picture content';
		gap: var(--spacing-medium);
		margin: var(--spacing-large) 0;
		border: var(--border-style) var(--highlight-border-color) var(--border-width);
		border-radius: var(--border-radius);
		background: var(--bg-color);
		padding: var(--spacing-medium);
		width: clamp(var(--min-width), 35cqw, var(--medium-width));
		height: calc(100% - var(--spacing-large) * 3);
	}

	.post-card:not(:has(picture)) {
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			'header'
			'content';
	}

	.post-card header { grid-area: header; }

	.post-card h3 {
		margin: 0;
		font-size: 1em;
	}

	.post-card picture {
		display: block;
		grid-area: picture;
		border-radius: var(--border-radius);
		width: var(--image-size);
		height: var(--image-size);
		overflow: clip;
		object-fit: cover;
		object-position: center;
	}

	.post-card img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.post-card .post-card-content {
		grid-area: content;
		font-size: var(--small-text);
	}

	@media (max-width: 30rem) { .post-card { --image-size: var(--avatar-mini-size); } }
}
