@layer components {
	iab-escape dialog {
		inline-size: fit-content;
		max-inline-size: 100dvi;
		block-size: fit-content;
		max-block-size: 100dvb;
		text-align: center;

		footer {
			flex-direction: column;
			text-align: center;
			align-items: center;
		}
	}
}
