---
import './style.css';

import AriaButton from './buttons/aria-button.astro';
import AstroButton from './buttons/astro-button.astro';
import CcButton from './buttons/cc-button.astro';
import CodeButton from './buttons/code-button.astro';
import CssButton from './buttons/css-button.astro';
import FeedButton from './buttons/feed-button.astro';
import GraphicDesignButton from './buttons/graphic-design-button.astro';
import GuestbookButton from './buttons/guestbook-button.astro';
import HtmlButton from './buttons/html-button.astro';
import IeButton from './buttons/ie-button.astro';
import JsButton from './buttons/js-button.astro';
import PoweredButton from './buttons/powered-button.astro';
import PrideButton from './buttons/pride-button.astro';
import WrittenButton from './buttons/written-button.astro';
---
<div id="old-buttons">
	<IeButton />
	<CcButton />
	<AstroButton />
	<FeedButton />
	<CssButton />
	<JsButton />
	<HtmlButton />
	<AriaButton />
	<PoweredButton />
	<WrittenButton />
	<PrideButton />
	<CodeButton />
	<GraphicDesignButton />
	<GuestbookButton />
</div>
