---
import './style.css';
import { Icon } from 'astro-icon/components';
import AriaButton from './buttons/AriaButton.astro';
import AstroButton from './buttons/AstroButton.astro';
import CcButton from './buttons/CCButton.astro';
import CodeButton from './buttons/Codebutton.astro';
import CssButton from './buttons/CSSButton.astro';
import FeedButton from './buttons/FeedButton.astro';
import GraphicDesignButton from './buttons/GraphicDesignButton.astro';
import GuestbookButton from './buttons/GuestbookButton.astro';
import HtmlButton from './buttons/HtmlButton.astro';
import IeButton from './buttons/IeButton.astro';
import JsButton from './buttons/JsButton.astro';
import PoweredButton from './buttons/PoweredButton.astro';
import PrideButton from './buttons/PrideButton.astro';
import WrittenButton from './buttons/WrittenButton.astro';
---
<details id="old-buttons">
	<summary>
		<h2 id="old-buttons-label">
			<Icon name="uil:monitor" title="" role="presentation" />
			<span>Old style internet buttons</span>
		</h2>
	</summary>
	<div>
		<IeButton />
		<CcButton />
		<AstroButton />
		<FeedButton />
		<CssButton />
		<JsButton />
		<HtmlButton />
		<AriaButton />
		<PoweredButton />
		<WrittenButton />
		<PrideButton />
		<CodeButton />
		<GraphicDesignButton />
		<GuestbookButton />
	</div>
	<script src="./index.ts"></script>
</details>
