<template shadowrootmode="open">
	<style>
		:host {
			display: block;
			margin-inline: auto;
		}
	</style>
	<iframe
		title="{{title}}"
		src="https://codepen.io/{{username}}/embed/preview/{{id}}?default-tab=result"
		width="300"
		height="400"
		frameborder="0"
		scrolling="no"
		loading="lazy"
		allowfullscreen
		allowtransparency
		credentialless
		referrerpolicy="no-referrer"
		sandbox="allow-forms allow-scripts allow-same-origin"
	>
		<p>
			<span>See the Pen</span>
			<span><a href="https://codepen.io/{{username}}/pen/{{id}}" target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">{{title}}</a></span>
			<span>by <a href="https://codepen.io/{{username}}" target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">@{{username}}</a></span>
			<span>on <a href="https://codepen.io" target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">CodePen</a>.</span>
		</p>
	</iframe>
</template>
