@layer components {
	.user-avatar {
		--image-size: var(--avatar-size);
		display: block;
		position: relative;
		border: var(--theme-color) var(--border-style) var(--border-width);
		border-radius: 100vmax;
		width: var(--image-size);
		height: var(--image-size);
		overflow: hidden;
	}

	.user-avatar img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.user-avatar::after {
		display: block;
		position: absolute;
		opacity: 0.2;
		transition: all 0.2s ease-in-out;
		inset: 0;
		background: radial-gradient(circle at bottom, var(--accent-color), var(--theme-color));
		width: 100%;
		height: 100%;
		content: '';
	}

	.user-avatar:hover::after { opacity: 0.4; }

	@media (prefers-contrast: more) {
		.user-avatar::after {
			opacity: 0.4;
			backdrop-filter: contrast(200%);
			background: radial-gradient(circle at bottom, transparent, var(--theme-color));
		}
	}

	@media (forced-colors: active) {
		.user-avatar { filter: grayscale(1) contrast(120%) brightness(110%); }

		.user-avatar::after {
			opacity: 0;
			backdrop-filter: none;
			background: none;
		}
	}

	@media (prefers-reduced-transparency: reduce) {
		.user-avatar::after {
			opacity: 0;
			backdrop-filter: none;
			background: none;
		}
	}
}
