@layer components {
	m-webrings {
		dt {
			text-align: center;

			&:not(:first-of-type) { margin-block-start: var(--size-5); }
		}

		ul {
			display: flex;
			justify-content: center;
			gap: var(--size-3);
			padding: 0;
			list-style: none;

			@media (max-width: 40rem) {
				flex-direction: column;
				align-items: center;

				li a {
					display: flex;

					svg { order: -1; }
				}
			}
		}
	}
}
