---

---
<details open>
	<summary>
		<h2>Embedded Content</h2>
	</summary>

	<section>
		<h3>Iframe Element</h3>

		<p>Simple iframe (html document):</p>
		<iframe
			src="/assets/documents/test/embed.html"
			title="Home page"
			width="320"
			height="240"
			loading="lazy"
		></iframe>

		<p>PDF file:</p>
		<iframe
			src="/assets/documents/test/sample.pdf"
			title="Sample PDF file"
			width="320"
			height="240"
			loading="lazy"
		></iframe>

		<p>Error loading:</p>
		<iframe
			src="x-err-protocol://error"
			title="Error loading"
			width="320"
			height="240"
			loading="lazy"
			data-load-error
		>[Placeholder error message]</iframe>

		<m-note data-type="info">
			<span>The previous <code>&lt;iframe&gt;</code> element will porpusefully fail to load the file.</span>
		</m-note>
	</section>

	<section>
		<h3>Embed element</h3>

		<p>HTML document:</p>
		<embed
			src="/assets/documents/test/embed.html"
			type="text/html"
			width="320"
			height="240"
		/>

		<p>PDF file:</p>
		<embed
			src="/assets/documents/test/sample.pdf"
			type="application/pdf"
			width="320"
			height="240"
		/>

		<p>Flash file (<a href="hhttps://ruffle.rs/" target="_blank" rel="noopener noreferrer">Ruffle</a>'s logo):</p>
		<embed
			src="/assets/ruffle-logo.swf"
			type="application/x-shockwave-flash"
			width="320"
			height="240"
		/>

		<p>Error loading:</p>
		<embed
			src="x-err-protocol://error"
			type="appliaction/x-error"
			width="320"
			height="240"
			data-load-error
		/>

		<m-note data-type="info">
			<span>The previous <code>&lt;embed&gt;</code> element will porpusefully fail to load the file.</span>
		</m-note>
	</section>

	<section>
		<h3>Object Element</h3>

		<p>HTML document:</p>
		<object
			data="/assets/documents/test/embed.html"
			type="text/html"
			width="320"
			height="240"
			aria-label="Sample HTML document"
		>
			<p>The html file did not load.</p>
		</object>

		<p>PDF file:</p>
		<object
			data="/assets/documents/test/sample.pdf"
			type="application/pdf"
			width="320"
			height="240"
			aria-label="Sample PDF document"
		>
			<p>The pdf file did not load.</p>
		</object>

		<p>Flash file (<a href="hhttps://ruffle.rs/" target="_blank" rel="noopener noreferrer">Ruffle</a>'s logo):</p>
		<object
			data="/assets/ruffle-logo.swf"
			type="application/x-shockwave-flash"
			width="320"
			height="240"
			aria-label="Sample Flash object"
		>
			<p>The flash file did not load.</p>
		</object>

		<p>Error loading:</p>
		<object
			data="x-err-protocol://error"
			type="appliaction/x-error"
			width="320"
			height="240"
			data-load-error
			aria-label="Sample element that fails to load"
		>
			<p>[Placeholder error message]</p>
		</object>

		<m-note data-type="info">
			<span>The previous <code>&lt;object&gt;</code> element will porpusefully fail to load the file.</span>
		</m-note>
	</section>
</details>
