@layer components {
	#glitched-logo-svg {
		width: var(--avatar-size);
		height: var(--avatar-size);
	}

	#glitched-logo-svg #logo {
		fill: currentcolor;
		transform: scale(1.4);
		transform-origin: center;
		image-rendering: pixelated;
	}

	#glitched-logo-svg #pixelated-logo {
		filter: url('#pixelate-filter');
		color: var(--bg-color);
	}

	#glitched-logo-svg #glitch-logo {
		color: var(--accent-color);
		/* filter: url("#glitch-filter"); */
	}

	#glitched-logo-svg #overlay-logo {
		opacity: 0.6;
		mix-blend-mode: overlay;
		color: var(--complementary-color);
	}

	#glitched-logo-svg #noise-logo {
		filter: url('#noise-filter');
		color: var(--theme-color);
	}

	@media (prefers-reduced-motion: no-preference) { #glitched-logo-svg #glitch-logo { filter: url('#animated-glitch-filter'); } }
}
