---
import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/tags.css';
import Effects from '../../../components/Effects.astro';
import HtmlHead from '../../../components/HtmlHead.astro';
import Logo from '../../../components/Logo.astro';
import OldStyleButtons from '../../../components/OldStyleButtons.astro';
import SiteNav from '../../../components/SiteNav.astro';
import Webrings from '../../../components/Webrings.astro';
import { listPostsByTag } from '../../../utils/post';

const tags = Object.keys(await listPostsByTag());
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/ItemList">
	<HtmlHead
		title="Tags | Marco Campos' Blog"
		description="Tags for Marco Campos' blog"
		url={Astro.url.href}
	/>
	<body>
		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<div>
				<hr />
				<h2>Why this website looks so weird?</h2>
				<p>We are celebrating CSS Naked Day!</p>
				<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
				<hr />
			</div>
		</css-naked-day>

		<header id="page-header">
			<div>
				<Logo
					subtitle="Blog"
					shortSubtitle="Blog"
					url="/blog/"
					title="Blog"
				/>
				<h1>Tags for Marco Campos' blog</h1>
			</div>
		</header>

		<main id="main">
			<meta itemprop="name" content="Tags for Marco Campos' blog" />
			<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
			<meta itemprop="numberOfItems" content={tags.length.toString()} />

			<div id="contents">
				<ul id="tag-list">
					{
						tags.map((tag) => (
							<li class="tag">
								<a href={`/blog/tags/${tag}`} itemprop="url">
									<span itemprop="itemListElement">{tag}</span>
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<iab-escape></iab-escape>
	</body>
</html>
