---
import HtmlHead from '../../../components/HtmlHead.astro';
import Logo from '../../../components/Logo.astro';
import OldStyleButtons from '../../../components/OldStyleButtons.astro';
import SiteNav from '../../../components/SiteNav.astro';
import SvgDefs from '../../../components/SvgDefs.astro';
import Webrings from '../../../components/Webrings.astro';
import { listPostsByTag } from '../../../utils/post';

const tags = Object.keys(await listPostsByTag());
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/ItemList">
	<HtmlHead
		title="Tags | Marco Campos' Blog"
		description="Tags for Marco Campos' blog"
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Blog"
				shortSubtitle="Blog"
				url="/blog/"
				title="Blog"
			/>
			<h1>Tags for Marco Campos' blog</h1>
		</header>

		<main id="main">
			<meta itemprop="name" content="Tags for Marco Campos' blog" />
			<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
			<meta itemprop="numberOfItems" content={tags.length.toString()} />

			<tag-list>
				<ul>
					{
						tags.map((tag) => (
							<li>
								<tag-item>
									<a href={`/blog/tags/${tag}`} itemprop="url">
										<span itemprop="itemListElement">{tag}</span>
									</a>
								</tag-item>
							</li>
						))
					}
				</ul>
			</tag-list>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
