---
import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/tags.css';

import CSSNakedDay from '../../../components/CSSNakedDay/CSSNakedDay.astro';
import Effects from '../../../components/Effects/Effects.astro';
import HtmlHead from '../../../components/HtmlHead/HtmlHead.astro';
import IabEscape from '../../../components/IabEscape/IabEscape.astro';
import Logo from '../../../components/Logo/Logo.astro';
import OldStyleButtons from '../../../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../../../components/SiteNav/SiteNav.astro';
import SkipToContent from '../../../components/SkipToContent/SkipToContent.astro';
import Webrings from '../../../components/Webrings/Webrings.astro';
import { listPostsByTag } from '../../../utils/post';

const tags = Object.keys(await listPostsByTag());
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/ItemList">
	<HtmlHead
		title="Tags | Marco Campos' Blog"
		description="Tags for Marco Campos' blog"
		url={Astro.url.href}
	/>
	<body>
		<CSSNakedDay />
		<main>
			<header id="page-header">
				<SkipToContent />
				<SiteNav />
				<div>
					<Logo
						subtitle="Blog"
						shortSubtitle="Blog"
						url="/blog/"
						title="Blog"
					/>
					<h1>Tags for Marco Campos' blog</h1>
				</div>
			</header>
			<meta itemprop="name" content="Tags for Marco Campos' blog" />
			<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
			<meta itemprop="numberOfItems" content={tags.length.toString()} />

			<div id="contents">
				<ul id="tag-list">
					{
						tags.map((tag) => (
							<li class="tag">
								<a href={`/blog/tags/${tag}`} itemprop="url">
									<span itemprop="itemListElement">{tag}</span>
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<IabEscape />
	</body>
</html>
